[2018-02-14 10:27] sylvestre commented on #764
Fake address will be fine.
Maybe fake-release-mgmt@mozilla.com to make sure people knows who is behind the bot?

[2018-02-14 11:13] #823 closed

[2018-02-15 11:33] #749 closed

[2018-02-15 16:01] #834 closed

[2018-02-15 17:29] marco-c commented on #766
Closed because we are not parsing patches anymore (see #838).

[2018-02-15 17:29] #766 closed

[2018-02-15 17:32] marco-c commented on #712
This probably won't be feasible with Heroku.

[2018-02-15 17:40] #831 closed

[2018-02-15 17:42] marco-c commented on #779
Since there's filtering on the frontend side, I think we can avoid doing this.

[2018-02-15 17:42] #779 closed

[2018-02-15 17:43] marco-c commented on #460
The directory view is going away.

[2018-02-15 17:43] #460 closed

[2018-02-15 17:57] JohanLorenzo opened #844 "shipit_static_analysis: wrong flake8 errors reported"
**MozReview URL:** https://reviewboard.mozilla.org/r/220560/#review226540

**Problem:** `basestring` is a valid identifier in the python 2 world https://docs.python.org/2.7/library/functions.html#basestring. Furthermore, they are not reported by `./mach lint`

Interestingly, there were 2 other linter errors reported `./mach lint`, but none of them are displayed in the review. For reference, these

[2018-02-15 18:06] sylvestre commented on #844
https://bugzilla.mozilla.org/show_bug.cgi?id=1424482#c4

[2018-02-15 20:50] marco-c commented on #844
The `basestring` issue is https://github.com/mozilla-releng/services/issues/819.

The two missing issues should be fixed by https://github.com/mozilla-releng/services/pull/835.

[2018-02-16 09:00] sylvestre commented on #830
I think this is probably the best approach (it is what facebook is using). We should give it a try to see if we would have catch these issues;

[2018-02-16 10:25] marco-c commented on #830
I think the issues were not caught because of #834 (which is now fixed). The bot now catches all linting issues in non-blacklisted files (as the linting job does), so these issues would have been caught now.

Now we should decide whether we want to start showing issues in blacklisted files. I think it would make sense to only show **new** issues by using this approach, but I suppose it could annoy

[2018-02-16 10:26] marco-c opened #847 "shipit_static_analysis: Run linters on the entire tree when configuration files change"
This is what the linting job is going to do: https://bugzilla.mozilla.org/show_bug.cgi?id=1373368.
We should probably do the same to avoid missing something that would make the linting job fail.

[2018-02-16 10:47] marco-c commented on #813
I have an alternative idea for this. Instead of starting the task from the pulse listener, which is a bit brittle and confusing, we can just make the task use the latest ccov build where tests have finished.

[2018-02-16 10:54] marco-c commented on #827
The code coverage hook stopped receiving messages suddenly on 2018-02-15 at 5 PM. I've restarted the pulse listener today and it's getting all the messages which weren't received before (they were probably in the pulse queue).
So maybe it can also happen that the pulse listener gets disconnected from the pulse queue.

[2018-02-16 10:57] marco-c commented on #827
Here's the likely culprit:
[code]

[2018-02-16 10:58] marco-c commented on #827
So it's a request that failed in the code coverage hook, I'll file a separate issue.

[2018-02-16 10:59] marco-c opened #848 "shipit_pulse_listener: Be more robust to failed requests in the code coverage listener"
See https://github.com/mozilla-releng/services/issues/827#issuecomment-366204915.

[2018-02-16 15:53] #771 closed

[2018-02-19 10:38] marco-c opened #851 "shipit_code_coverage: Add commit message in the low coverage notifications"

[2018-02-19 11:22] marco-c opened #853 "shipit_code_coverage: Use `args` parameter of executor.submit instead of an intermediate function"
E.g. in codecov.py we have something like:
[code]

We should do:
[code]

N.B.: This is just an example, we have other instances of this.

[2018-02-19 11:26] marco-c opened #854 "Unify utils.retry and utils.wait_until"
They are almost the same, we should always use `retry` and just drop `wait_until`.

[2018-02-19 17:04] #802 closed

[2018-02-20 13:40] marco-c opened #855 "shipit_uplift: Some commits on codecov.io return 200 even if they were not correctly parsed"
To identify them (and skip them), we should probably check the commit -> state key:
[code]

[2018-02-20 13:52] marco-c opened #856 "shipit_uplift: Retrieve coverage and annotate in parallel"
Right now, we're retrieving annotate first and then coverage.

[2018-02-20 19:44] alex opened #859 "trychooser suggested talos profiling command doesn't work"
Given the following try chooser setup:

![](https://screenshotscdn.firefoxusercontent.com/images/7e82394d-0047-4cc5-81bf-b3aa73ad81e5.png)

I copy the suggested command and:

[code]

[2018-02-20 20:14] alex commented on #859
Looks like this syntax isn't supported in try https://bugzilla.mozilla.org/show_bug.cgi?id=1384371

[2018-02-22 12:39] #851 closed

[2018-02-22 15:33] #838 closed

[2018-02-23 14:57] #813 closed

[2018-02-24 15:45] marco-c opened #862 "shipit_uplift: Use aiohttp to perform requests"
Related to #856. Instead of using multiple threads, it would be better to use async io.

[2018-02-24 15:47] marco-c opened #863 "Use a single aiohttp session"
Since we are performing multiple requests to the same servers, we might benefit from using a session instead of doing individual separate requests.

[2018-02-25 10:42] gabriel-v commented on #854
`retry` returns `True` if its operation executed successfully, even if it returned None. `wait_until` returns the first non-`None` return value.

We could make `retry` have the same functionality as `wait_until`, but it's used on a bunch of operations that might succeed with `False` or `None`.

I think the best option is to make `retry` to also return the value. Is it okay to change the return val

[2018-02-25 10:56] marco-c commented on #854
This should wait on #849, as it's changing `retry` a bit and making it more similar to wait_until.

[2018-02-25 14:29] marco-c opened #867 "Switch all python projects python 3.6"
All python projects:
- [x] backend-common (`lib/backend-common`), used as a dependency by releng-tokens
- [x] cli-common (`lib/cli-common`), used as a dependency by releng-tokens
- [x] please-cli (`lib/please-cli`), #1278
- [x] releng-docs (`src/releng_docs`), #1278
- [x] releng-mapper (`src/releng_mapper`),  #1367
- [x] releng-notification-identity (`src/releng_notification_identity`), #1312
- [x

[2018-02-26 10:22] marco-c opened #870 "shipit_code_coverage: Add tests for the Codecov class"

[2018-02-26 14:05] garbas commented on #755
@marco-c i use number as a shortcut, but i'm ok to remove it.

for specification of programming languages i'd go with `skill:` but anything you choose i'm ok with. just a suggestion.

:+100: for getting things into bugsahoy

[2018-02-26 14:51] garbas commented on #783
I'm not sure I understand the last line (question). a dev and prod environment for `shipit_static_analysis`? for mozilla-central codebase? we can also talk (now that i'm back from PTO) on irc.

[2018-02-26 15:09] marco-c commented on #783
@garbas the requirement would be that the environment for building `shipit_static_analysis` must be different than the environment where `shipit_static_analysis` runs. In this case, we want those `flake8` plugins when building the project, but we don't want them when running the project.

[2018-02-26 15:11] marco-c commented on #786
The other, uglier but simpler, option is to create a public Taskcluster client with public secrets.

[2018-02-26 15:18] garbas commented on #786
I'm :100: that we should do this, especially if this is a blocker for new contributors. Initially this was not done since it was only "us" and this would require a little bit of work (which nobody usually has :wink:).

Current secrets which i think should stay private that we have in master:
 - CACHE_ACCESS_KEY_ID
 - CACHE_SECRET_ACCESS_KEY
 - DOCKER_PASSWORD
 - CODECOV_ACCESS_TOKEN
 - AUTH_CLIENT

[2018-02-26 15:26] garbas commented on #783
aha I see. since we run `nix-shell` via python we need to make sure that you run at mozilla-central checkout and that you run `nix-shell` with `--pure` option. that way you are not affected by whatever environment you are in.

[2018-02-26 15:57] marco-c opened #872 "'./please tools update-dependencies' generates broken nix files"
After I update the dependencies for shipit-uplift and then try to run `./please check shipit-uplift`, I get:
[code]

[2018-02-26 15:58] marco-c commented on #872
Here's the generated diff:
[diff.zip](https://github.com/mozilla-releng/services/files/1759291/diff.zip)

[2018-02-26 16:06] garbas commented on #872
@marco-c in python cyclic dependencies are allowed and in nix this is now allowed. i'm just about to release new version of pypi2nix which might solve some of our problems also for the future. but we can improve this later.

the cycling becomes bewteen `attrs` and `pytest`. you need to remove one or the other from others `propagatedBuildInputs` by overriding the derivation in `nix/requirements_ove

[2018-02-26 18:52] marco-c commented on #786
It sounds good to me. I think we should also make the basic configuration options for local development that do not need to be secret fully public and put them in the repo. This way new contributors don't always have to ask us for a secrets file (but will ask for a secrets file once they need to test the specific features of the projects that do require secrets).

So maybe `please` can use these b

[2018-02-26 19:23] marco-c commented on #872
Yes, please. If you have time tomorrow I'd like to see how it can be done.

Makes perfect sense to me.

[2018-02-27 09:51] marco-c commented on #755
I've used `lang` (e.g. `lang: python`).

I will simplify the labels as proposed, and I'll update bugsahoy with the new labels, then I'll close this.

[2018-02-27 10:26] marco-c opened #873 "shipit_code_coverage: Document how to verify if the task is working"
This can be useful when we deploy a new version and I'm not around.

[2018-02-27 10:31] marco-c commented on #755
Done.

[2018-02-27 10:31] #755 closed

[2018-02-27 11:58] marco-c opened #874 "Remove mercurial override for libmozdata in requirements_override.nix"
The latest version of libmozdata no longer requires mercurial.

[2018-02-27 12:39] padenot opened #877 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/223436/diff/1#index_header

**Problem:**
I see the same defect thrice, on the same line with the same content.

[2018-02-27 13:51] #848 closed

[2018-02-27 13:54] marco-c commented on #872
Fixed by #875. Thanks for the help @garbas.

[2018-02-27 13:54] #872 closed

[2018-02-27 14:04] garbas commented on #867
i'd say lets update nixpkgs and pypi2nix first and then switch to python 3.6 and see what breaks. probably best to do it right after we do a release

[2018-02-27 14:05] garbas commented on #867
I think @La0 proposed this some time ago, but we said we would wait a bit more not to be the first one to adopt python 3.6 :)

[2018-02-28 00:24] #809 closed

[2018-02-28 00:24] #821 closed

[2018-02-28 00:26] #603 closed

[2018-02-28 00:31] gabriel-v opened #882 "Add tests for the coverage API endpoints that require Redis"
`GET /coverage/changeset/{changeset}` and `GET /coverage/changeset_summary/{changeset}` use rq backed by Redis.

These should be tested (possibly with https://pypi.python.org/pypi/pytest-redis) after https://github.com/mozilla-releng/services/pull/876 is merged.

[2018-02-28 00:34] gabriel-v opened #883 "Add unit tests for the functions in the coverage module"

[2018-02-28 01:40] #839 closed

[2018-02-28 10:05] #853 closed

[2018-02-28 11:49] marco-c commented on #882
#876 has been merged, so this should now be feasible.

[2018-02-28 11:50] marco-c opened #885 "shipit_uplift: Split uplift and coverage backend"
The coverage backend has grown a lot and now it makes sense to split them in two separate projects.

`shipit_code_coverage_backend` I guess.

[2018-02-28 11:52] marco-c commented on #885
Or `code_coverage_backend` without `shipit_`. We could also rename `shipit_code_coverage` to `code_coverage_task` or something like this.

[2018-02-28 20:02] tomrittervg opened #888 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/214140/#review230054

**Problem:**

Warning is: Use '= default' to define a trivial default constructor [clang-tidy: modernize-use-equals-default]

The code is

[code]

so I don't understand why it thinks it is a trivial constructor...

 

[2018-03-01 19:54] garbas opened #889 "re-enable tests that were disabled in #886"
In following files tests were disabled:
- `src/shipit_code_coverage/tests/test_taskcluster.py`
- `src/shipit_uplift/tests/test_coverage.py`

[2018-03-01 21:01] mstange commented on #888
I encountered the same bug on https://reviewboard.mozilla.org/r/221188/diff/6/#c292572 .

[2018-03-02 01:41] marco-c opened #890 "shipit_code_coverage: Compress chunk mapping into a .tar.bz2 file"
This way it is compatible with Python2's tarfile module too.

[2018-03-02 01:43] marco-c opened #891 "shipit_code_coverage: Store strings in chunk mapping file"
Currently, we are storing bytes. This makes the code that reads the sqlite database different between Python2 and Python3.

[2018-03-02 08:11] garbas opened #892 "nix is not properly configured in base image"
in #886 I noticed that test can access network which should not be possible when nix is configured in sandbox mode.

[2018-03-02 09:01] abpostelnicu commented on #888
These errors, are very weird, I'm pretty sure they are not generated by clang-tidy but more they are a result of some error in the result parsing.
I've tried this locally and as expected clang-tidy does not match "modernize-use-equals-default" against toolkit/components/resistfingerprinting/nsRFPService.cpp

I'm gonna keep pursuing on this, maybe there is something more subtle that we're missing h

[2018-03-02 11:14] #874 closed

[2018-03-02 21:08] #890 closed

[2018-03-02 21:09] marco-c commented on #890
I prefer to save a few MBs and make the clients use the `tar` and `xz` command line tools with Python 2.

[2018-03-03 23:33] marco-c opened #896 "Some task IDs logged by pulse listener don't actually exist"
No task with ID "LCZ5QcelRo-5aBKFwUUciw" or "J58ttI5iTj-KT0zEnMJU_g" or "TYPhMj7HQs-HKOfAS7u7XA" or "LsQ9WC16R-GztInb1CEnjA" or "ICBlx6JZTvGtmeq4_q-QJg" exist.
Up to "GvHHK-5ASHSTLpjbsOC-EA" they exist.
This is the first time I see this.

[2018-03-03 23:35] marco-c opened #897 "`grcov` errored with error -9 in all recent code coverage tasks"
Maybe caused by the recent package updates.

[2018-03-04 15:43] marco-c commented on #897
There's not enough info in the logs, but probably the process was killed because it run out of memory.
Maybe the update somehow increased memory usage.

[2018-03-04 18:00] marco-c opened #898 "Switch to m5 instance types for our worker types"
This could especially help static analysis, since the new instance types should have improved network performance.

[2018-03-04 18:01] marco-c commented on #897
Reverting the update on staging fixed the problem. CC @garbas

[2018-03-05 13:38] jankeromnes commented on #877
Thanks for reporting this issue! This does look like a bug on our side. I'm not aware of any other occurrence of it.

@La0 any ideas why our bot published a review with three times the same defect? Maybe an occasional "concurrent logs" parsing problem?

[2018-03-05 13:50] jankeromnes commented on #764
Actually, I think that using a fake email address would make it very complicated to authenticate to the various services: Since the domain `@mozilla.bugs` doesn't even exist, we can't receive authentication emails, so we can't login manually. We'd have to work with Bugzilla admins to set it up on BMO, and even then it's not clear to me how we'd get MozReview or Phabricator to cross-authenticate wi

[2018-03-05 18:39] garbas commented on #897
@marco-c I assume you opened #898 for this reason, right?

[2018-03-05 18:40] garbas commented on #898
@marco-c maybe we could only switch to m5 instance type for jobs that we know need more memory.

/me is not sure how worker types work. need to refresh my memory

[2018-03-05 18:40] marco-c commented on #897
Not really, m4 and m5 have the same amount of memory available.

[2018-03-05 18:41] marco-c commented on #898
I filed this more for static analysis, where we need a fast feedback cycle (and cloning from hgmo is a good chunk of the analysis). m5 have increased network performance (and lower cost?).

[2018-03-05 18:42] marco-c commented on #898
m5 is just the new iteration of the general purpose instance types, if I understand correctly.

[2018-03-05 18:43] marco-c commented on #897
If we wanted to fix this by increasing the amount of memory, we would need to switch from m4.large to m4.xlarge I guess (but the cost would be 2x).

[2018-03-05 20:11] #889 closed

[2018-03-06 13:32] garbas opened #901 "add code coverage support for python projects"
quoting @marco-c  :)
[code]

[2018-03-06 13:38] marco-c commented on #901
We are using both codecov.io and coveralls.io for Firefox code coverage. codecov.io has a nicer UI, showing the coverage info about the repo as a tree. I think this is really useful for us, since we interested in seeing coverage information both overall, by project (directory) and by file (while the coveralls.io UI is only good for overall and by file).

[2018-03-06 13:51] #891 closed

[2018-03-06 15:03] garbas opened #902 "switch to nix 2.0"
# TODO

- [ ] update `nix/setup.sh` to install 2.0 version, this script should be also used to setup base docker image
- [ ] `nix-push` is deprecated use `nix copy`
- [ ] run `nix-shell` with `--pure` argument except when running `./please shell`

[2018-03-06 17:35] La0 opened #905 "shipit-static-analysis: Python code triggers a bad mozlint json output"
* [Mozreview](https://reviewboard.mozilla.org/r/225352/) from @sylvestre
* [Datadog event](https://app.datadoghq.com/event/event?id=1497106118350060079)
* [Taskcluster Task](https://tools.taskcluster.net/groups/Nfq6GP_FTiqbqmGUY7IGCg/tasks/Nfq6GP_FTiqbqmGUY7IGCg/runs/0/logs/public%2Flogs%2Flive.log)

[2018-03-06 17:46] marco-c commented on #905
Maybe the task should fail in a case like this?

[2018-03-06 17:50] marco-c opened #906 "Remove gecko-env from shipit-code-coverage"
It's no longer used.

[2018-03-06 19:27] garbas commented on #901
I really like flags feature of codecov - https://docs.codecov.io/docs/flags

[2018-03-07 10:04] garbas commented on #901
it was pointed by @catlee on irc that all other releng projects use coveralls. It would be nice to use one service for code coverage. Either we (1) use coveralls in services or (2) we also migrate all of the other projects to codecov. On the end we should end up with one service.

It was also pointed out by @catlee  that coveralls is acting slow on many occasions. @escapewindow chipped in that his

[2018-03-07 11:57] marco-c commented on #901
In terms of performance, they are both bad (but for Firefox code coverage, which is a LOT of data compared to what we are going to have). codecov is maybe a little better, but don't expect miracles. The main differentiator is the UI in my opinion.

As far as switching between them, it shouldn't be hard. Codecov supports the same coverage format as Coveralls (indeed for Firefox we upload the same r

[2018-03-07 14:12] nical opened #908 "Trychooser suggest target macosx64-st-an which doesn't work."
In trychooser, tick `macosx64 static analysis`, and it will add `macosx64-st-an` to the try command.

I suppose the target was removed or renamed in the CI but not yet in trychooser, see: https://treeherder.mozilla.org/#/jobs?repo=try&revision=09b9853ef5bf1a2246a8078b8f29305649b1d08e

[2018-03-07 14:50] #744 closed

[2018-03-07 16:45] marco-c opened #910 "Write tests for functions in the github module"
Starting from the ones which use the hg<->git mapper. The other functions maybe are not so easy/useful to test.

- [ ] `update_geckodev_repo`;
- [ ] `post_github_status`;
- [x] `get_commit`;
- [x] `get_mercurial`;
- [ ] `update_codecoveragereports_repo`.

[2018-03-07 16:46] marco-c opened #911 "Write tests for the artifacts module"
At the moment, only a subset of the functions of the module are tested.

- [ ] `generate_path`;
- [x] `get_chunks`;
- [x] `get`;
- [x] `download`;
- [x] `download_all`.

[2018-03-07 16:47] marco-c opened #912 "Write tests for some functions in the codecov module"
At least the following functions should be tested:

- [x] `generate_chunk_mapping`;
- [x] `generate_zero_coverage_report`;
- [ ] `generate_suite_reports`.

[2018-03-07 16:56] marco-c commented on #897
For now, I've switched to an xlarge instance. I don't know if it's worth it investigating this more.

[2018-03-07 16:57] marco-c commented on #885
I will do this once we have the simpler way to create a new project. CC @garbas

[2018-03-07 19:44] garbas commented on #897
would it be possible to switch to xlarge instance only for the troubling taskcluster task?

[2018-03-07 19:46] garbas commented on #885
depending on #191

[2018-03-07 22:05] #906 closed

[2018-03-07 22:06] marco-c commented on #897
Yes, I switched to xlarge only the code coverage task. We have the `releng-svc` and `releng-svc-compute` provisioners, I switched `releng-svc-compute` (only used by code coverage currently) to xlarge.

[2018-03-07 22:07] marco-c commented on #898
I think we should do this, @garbas @La0. The m5 instances are cheaper and faster than the m4, so there's no point in not switching (unless their different characteristics cause issues).

[2018-03-07 22:49] rail opened #914 "Misleading error message in `please`"
How to reproduce:

If you edit one of the files under `lib/backend_common` and introduce a linter issue (eg. use double quotes), you get the following message which is a bit misleading:

[code]

A bit more details:
- `src/shipit/api` project depends on `lib/backend_common`
- `shipit/api` project also requires a working postgresql database
- when running `./please run shipit/api` we check if postgr

[2018-03-08 01:46] marco-c opened #915 "`deadline` and `expires` fields are deprecated and will soon be removed"
We should fix our projects to stop using these fields in hook definitions. They are going to be moved to the `task` template: https://docs.taskcluster.net/reference/core/taskcluster-hooks/docs/firing-hooks#task-times.

See https://github.com/taskcluster/taskcluster-hooks/pull/85.

@garbas @La0 I think we will need a new release for this.

[2018-03-08 09:41] sylvestre commented on #914
Yeah, don't be polite ;)

[2018-03-08 09:43] sylvestre commented on #905
We should also show more information to help debugging (even if this means updating mozlint)

[2018-03-08 10:10] La0 commented on #915
`expires` is the field that broke static analysis last weekend.

[2018-03-08 11:24] La0 commented on #905
Added a [patch to Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1443508#c3), as there is a problem with flake8.

[2018-03-08 11:42] marco-c commented on #905
It looks like using the flake8 from the virtualenv was made on purpose: https://hg.mozilla.org/mozilla-central/rev/365a91ab41e2.

[2018-03-08 13:05] marco-c opened #918 "Add tests for gecko-env"
It was recently broken and we only noticed on staging.

[2018-03-09 18:36] marco-c opened #921 "Stop using yield_fixture"
It is deprecated, now the normal fixtures support yielding.

[2018-03-09 20:01] marco-c opened #922 "shipit_pulse_listener: Hooks are not properly rendered in email sent by monitoring"
Here's the email I've received:
[code]

[2018-03-10 16:27] clarammdantas commented on #911
HI! :)
Can I take this bug?

[2018-03-10 17:29] marco-c commented on #911
Hello @clarammdantas! Sure!
The relevant source code is at https://github.com/mozilla-releng/services/blob/master/src/shipit_code_coverage/shipit_code_coverage/artifacts.py.
The current tests are at https://github.com/mozilla-releng/services/blob/master/src/shipit_code_coverage/tests/test_artifacts.py. They are only testing `get` and `get_chunk`. We should add tests for `download` and `download_al

[2018-03-11 09:49] mutterroland commented on #914
Fixed the issue but it seems like I don't have access to push. Emailed Rail. Patch is ready to be pushed and will do so as soon as I have access.

[2018-03-12 06:56] divyabaid16 commented on #921
I would like to work on this. Can you please guide me?

[2018-03-12 07:16] divyabaid16 commented on #910
May I work on this issue? If yes, can you please guide me?

[2018-03-12 13:37] marco-c commented on #910
Sure! The tests are to be written in this directory: https://github.com/mozilla-releng/services/tree/master/src/shipit_code_coverage/tests.
This is the module to test: https://github.com/mozilla-releng/services/blob/master/src/shipit_code_coverage/shipit_code_coverage/github.py.

You can look at the other tests for examples.

Start with the simplest tests (`get_commit` and `get_mercurial`, then `p

[2018-03-12 13:38] marco-c commented on #921
Once you have set up the project, you need to find usages of `yield_fixture` and replace them with `fixture`.

[2018-03-12 15:21] #915 closed

[2018-03-12 15:27] #922 closed

[2018-03-12 15:40] marco-c opened #927 "Use flake8-isort"

[2018-03-13 01:48] marco-c opened #930 "shipit_pulse_listener is failing to trigger hooks"
Regression from #919.

[2018-03-13 01:51] marco-c commented on #870
Duplicate of #912.

[2018-03-13 01:51] #870 closed

[2018-03-13 04:00] rhcu commented on #803
Hi Marco!
I have tried to fix this issue, and have already an idea how to do this in `reports_generator.py` file. However, I was unable to install the project locally. Specifically, I have read https://docs.mozilla-releng.net/develop/contribute.html guide and installed Docker.  However, when I try to run the `./please run <my-project-name>` command, there is such problem: `download-from-binary-cac

[2018-03-13 07:54] garbas commented on #911
Regarding setting up the environment, there are less steps to do if you go with docker approach.
This means:
 - Install Docker
 - Clone the repository
 - From the root of the repository run `./please ...` commands

To get the development environment for `shipit-code-coverage` project you need to run
[code]

Also it might be a bit hidden, but we currently support only OSX and Linux OSes.

[2018-03-13 07:58] garbas commented on #927
@marco-c there is already a ticket for this https://github.com/mozilla-releng/services/issues/96. i think description there is old and needs to be updated, but I'm going to fix that asap.

[2018-03-13 07:58] #927 closed

[2018-03-13 08:06] garbas commented on #96
a long overdue answer. flake8-ownership looks like a solution for licenses.

[2018-03-13 08:26] garbas commented on #803
@rhcu feel free to drop on #shipit IRC channel (irc.mozilla.org) where we can assist you in real time and unblock you.

[2018-03-13 09:08] garbas opened #931 "cleaning up branches"
I would like to remove unused branch since we now mostly develop from our own forks. On the end we would end up with the following branches:

- `master`
- `testing`
- `staging`
- `production`

## Non deployment branches:

- [x] `391-sa-headers`, @La0 is this still in use?
- [x] `additional-flake8-checks`, @garbas can be removed
- [ ] `dev_auth` an #563 PR is open from this branch
- [ ] `mapper_tes

[2018-03-13 11:03] garbas commented on #803
@rhcu hey! i tried to reply to you but it looks like you went away. Could you provide which OS are you using? and from where are you connecting (from which country)?

[2018-03-13 11:06] garbas commented on #803
@rhcu also did you install docker or nix? i think that would give me enough information to help you

[2018-03-13 11:45] rhcu commented on #803
@garbas Sorry for leaving. I have installed Docker (used this guide: https://docs.docker.com/get-started/) because I was not able to install nix (used this guide: https://docs.mozilla-releng.net/develop/install-nix.html#develop-install-nix). I use Ubuntu 16.04 OS and connecting from Kazakhstan.

[2018-03-13 12:41] vsham20 commented on #805
Hi  @marco-c , I want to work on this issue. Can you please provide some details. Thanks

[2018-03-13 13:06] marco-c commented on #805
Hey @vsham20, to start contributing I suggest you take one of the issues marked as `skill:good-first-bug`: https://github.com/mozilla-releng/services/issues?q=is%3Aissue+is%3Aopen+label%3Askill%3Agood-first-bug.

[2018-03-13 13:48] #930 closed

[2018-03-13 18:27] vsham20 commented on #912
@marco-c I want to work on this if its still available. If yes, can you please guide me a little with this. I see that you have already written tests for generate_zero_coverage_report, so I can start with other functions mentioned.

[2018-03-13 19:09] marco-c commented on #912
Sure, any issue that is open and is not linked to a PR is available :)
I suggest you take a look at the PR which introduced the tests for `generate_zero_coverage_report` to have an idea on how to implement the other tests.
Please submit a PR for each test and not a single PR adding all tests, this way we can iterate faster.
Also, when you add tests for a function, move that function in `report_gen

[2018-03-13 19:29] marco-c commented on #912
Feel free to ask here or on IRC if you need any help.

The docs to start contributing are at https://docs.mozilla-releng.net/develop/contribute.html.

[2018-03-13 21:33] clarammdantas commented on #911
@garbas Ok. I use Ubuntu and Debian on a daily bases.

@marco-c I can run the `./please check shipit-code-coverage` without any problems, but I'm trying to print some stuff in the test_artifacts.py just to understand a little bit more how everything works and nothing is being printed on the terminal, it just say when all assertations are true and show me the problem when it's not. How can I print

[2018-03-13 22:39] marco-c commented on #911
For development, I'd suggest running `./please shell shipit-code-coverage`. Then in the shell that is open, you can run `pytest --capture=no tests/`.

For mocking, I suggest using https://docs.pytest.org/en/latest/monkeypatch.html. You can replace the functions of the module just in the testing environment and make them return what you want them to return.

[2018-03-14 02:22] mutterroland commented on #883
I would like to give it a try . Can I get some guidance?

[2018-03-14 02:33] mutterroland commented on #704
I would love to have some more infos. Maybe I can have a try on that one :).

[2018-03-14 02:41] mutterroland commented on #122
I would like to learn Elm . Is this Issue still available?

[2018-03-14 05:57] akankshanayak2111 commented on #882
I am working on this issue :)

[2018-03-14 05:59] akankshanayak2111 commented on #804
I am working on this issue :)

[2018-03-14 05:59] vsham20 commented on #912
@marco-c Thanks. I will start with generate_suite_report first.

[2018-03-14 08:06] garbas commented on #883
The docs to start contributing are at https://docs.mozilla-releng.net/develop/contribute.html.

In short
 - Install Docker
 - Fork this repository and clone it
 - Always run `./please` command from the root of the clone of this repository

To enter the development environment for `shipit_uplift` project and run tests do:

[code]

`./please shell <project>` will put you in the environment with all

[2018-03-14 08:09] garbas commented on #122
Hi @mutterroland,

This issue is quite old and it was decided that we will not use Elm anymore ( :sob: ). We are going to use React for this. Would you be willing to write/learn some Javascript instead?

[2018-03-14 08:34] garbas commented on #931
[code]

[2018-03-14 09:31] marco-c commented on #704
@mutterroland this issue requires knowledge of asyncio, are you familiar with it? If you aren't, I'd suggest working on another good-first-bug.

[2018-03-14 15:36] garbas commented on #908
fixed in  #937

[2018-03-14 15:36] #908 closed

[2018-03-14 15:44] marco-c opened #938 "shipit_uplift: Configure cache for changeset coverage to 2 days instead of 1"

[2018-03-14 23:07] marco-c opened #942 "Most tasks are hanging while trying to upload to s3"
This is happening very very often now. I don't remember if we already have an issue filed about this.

[2018-03-14 23:47] marco-c commented on #942
All current PRs are blocked on this, rerunning them multiple times didn't help.

[2018-03-15 02:05] Sush0512 commented on #817
Hi. Can I work on this issue?

[2018-03-15 08:01] akankshanayak2111 commented on #804
https://github.com/mozilla-releng/services/pull/943

I have raised a PR for this. Quick question, do I need to add any tests for my code changes ?

[2018-03-15 09:07] sylvestre opened #944 "When we have a stack of revisions, analyze only the last one?"
Here, the bot is analyzing patches one by one without applying all of them before.

For example:
https://bugzilla.mozilla.org/show_bug.cgi?id=1438839#c23
The second patch ( _Bug 1438839 - autopep8 -i --max-line-length 99 on the tools/_ ) is being analyzed without the third (  _Bug 1438839 - Fix the remaining flake8 issues by hand_ ) which fixed most of them.

[2018-03-15 09:35] garbas commented on #942
I think the problem was that AWS credentials were wrong. I wonder what changed here. Anyway, i rotated the credentials for all branches and it looks like it is working now.

I'm closing this issue now, but it the error reappears we should reopen it

[2018-03-15 09:54] #921 closed

[2018-03-15 10:06] marco-c commented on #804
I've replied in the PR, you can just update the preexisting tests.

[2018-03-15 10:18] marco-c commented on #817
Sure! You will find the code under src/shipit_frontend/src.

[2018-03-15 14:38] marco-c commented on #531
Closing as the frontend is going to be removed.

[2018-03-15 14:38] #531 closed

[2018-03-15 14:38] marco-c commented on #551
Closing as we won't be using this endpoint anymore.

[2018-03-15 14:38] #551 closed

[2018-03-15 14:39] marco-c commented on #551
(See https://github.com/mozilla-releng/services/issues/837)

[2018-03-15 14:39] marco-c commented on #531
(https://github.com/mozilla-releng/services/issues/837)

[2018-03-15 14:44] marco-c opened #946 "Separate worker type for builds and production"
This way, if for some reason the builds are blocked, we don't block the tasks running on production.

This would have avoided the problem we were seeing yesterday, where some hanging builds were causing static analysis not to run.

(This is already done for code coverage, which is using releng-svc-compute instead of releng-svc)

[2018-03-15 14:50] marco-c commented on #817
Closing as duplicate of #837.

You can still work on this of course.

[2018-03-15 14:50] #817 closed

[2018-03-15 14:52] marco-c commented on #898
I've just changed the instance type from m4 to m5 for `releng-svc`. Let's see if things break.

[2018-03-15 15:07] marco-c opened #948 "shipit_code_coverage: Ignore errors from the backend when notifying about low coverage patches"
There are some patches that for some reason the backend can't handle (e.g. if they are too big). It will return a 500 error in that case.
Right now, the shipit_code_coverage task is failing when that happens. It shouldn't fail but rather just log an error on Sentry.

[2018-03-15 15:09] marco-c opened #949 "shipit_code_coverage: Log when ActiveData fails to return meaningful results"

[2018-03-15 17:09] marco-c commented on #946
I have created `releng-svc-prod` that is an equivalent of `releng-svc`.
I don't know if we should use three (one for builds, one for staging, one for production) or just two (one for builds and one for staging/production).

[2018-03-15 18:53] Sush0512 commented on #837
Dear @marco-c,
I started working on this issue. I found the file `coverage_by_dir_impl.py` and `api.py` in `shipit_uplift `folder.
By `remove coverage by directory view and API`, do you mean to  delete the above mentioned files and its dependencies from generating coverage?

[2018-03-15 19:13] marco-c commented on #837
Yes, coverage_by_dir_impl and the code that uses it in api.py (and the definition in api.yml) should be removed.

Also, the coverage code in src/shipit_frontend/src should be removed too.

[2018-03-15 19:17] marco-c commented on #898
Everything seems to be working fine!

[2018-03-15 19:17] #898 closed

[2018-03-16 04:51] nnethercote opened #953 "shipit_static_analysis: Incorrect reports on mozilla-implicit-constructor & modernize-use-equals-default"
**MozReview URL:** https://reviewboard.mozilla.org/r/226034/diff/2#index_header

**Problem:** See https://bugzilla.mozilla.org/show_bug.cgi?id=1411469#c30, which explains the two problems.

[2018-03-16 06:43] mutterroland commented on #704
@marco-c I will move to another good-first-bug.

[2018-03-16 06:48] mutterroland commented on #122
Hey @garbas ,
I would love to learn some Javascript :). It's worth mentioning that I haven't previously coded with Javascript but I would like to start doing so.  I'm up for it if you still think that's suitable for me :).

[2018-03-16 10:47] marco-c commented on #953
CC @Abpostelnicu

[2018-03-16 13:58] #938 closed

[2018-03-16 18:45] marco-c commented on #942
Recent examples:
https://tools.taskcluster.net/groups/aj50jwYoQAibTJ7s8qpSrg/tasks/N0coBOhtTWeCNmr4EG_pYg/details
https://tools.taskcluster.net/groups/aso5rLOMRXCutbGqQOJIsw/tasks/ECIXjUrYRkCJ85A3lA46Nw/details

[2018-03-16 23:57] teh-f00l commented on #629
I am an outreachy applicant getting my feet wet in open source for the first time. I have only worked on one issue so far(outside of the crawler project, in which this would be my first)

To figure out if this issue would be good for me, could you tell me a little bit more about it? I looked through the documentation for contributors and didn't see anything on shipit_code_coverage.

Which program

[2018-03-17 08:40] La0 opened #954 "Improve static analysis and code coverage resilience"
- [x] Use a separate Taskcluster provisioner #946
- [x] Only publish new issues to be idempotent
- [x] Make code coverage idempotent #1118
- [x] Enhance pulse listener monitoring to restart tasks in exception state #704
- [ ] Enhance pulse listener to keep tasks in the queue until they are finished #1127

[2018-03-17 11:18] marco-c commented on #629
The shipit_code_coverage task parses coverage data from mozilla-central commits, both C/C++ coverage data and JS coverage data.
There were a few commits (in the mozilla-central repo, not in this one) where for some error we were not able to parse the JS coverage data.
So, we should make sure there's always a few JS files in the generated report.

The report is generated here: https://github.com/mo

[2018-03-17 11:25] marco-c commented on #954
I filed #704 about the second a while ago (but I was thinking of retrying both exception and failed tasks).
Retrying failed tasks could be a problem for tasks that are not idempotent.

[2018-03-19 09:54] garbas commented on #954
I think 2 things need to be done:
 - make static analysis tasks idempotent. so even if we trigger a task 2 times it wouldn't be a problem.
 - add some persistence logic to pulse listener which would track what was analyzed already. because of idempotency we don't have to worry about race conditions. in the worse case some tasks will be ran 2 times.

[2018-03-19 09:56] garbas commented on #954
with above 2 things even when taskcluster misbehaves we would still be able to handle the queue after some time.

[2018-03-19 10:02] La0 commented on #954
Static analysis needs to detect if an issue has already been filled to be idempotent.
Right now you can re-run a task, but it will post the same issues.

[2018-03-19 10:05] La0 commented on #954
@garbas Pulse listener already has some persistence logic for monitoring purposes. We also already track the status updates of tasks, so triggering an action for failed/exception tasks is easy.
But we don't have *true* persistence using a database, so if you restart the pulse listener Heroku worker, you'll lose previous data.

We could use an Heroku database, like for `shipit-uplift` but that seem

[2018-03-19 10:21] marco-c commented on #954
The task could check if an issue for a given patch has already been posted, it wouldn't be perfect as there could be race conditions, but it would almost always work.

[2018-03-19 10:23] sylvestre commented on #954
I like the last idea. I prefer to have rare duplicate contents than missing one.

[2018-03-19 10:25] #949 closed

[2018-03-19 10:25] La0 commented on #954
Ok, i'll start the implementation in a PR. It should be possible for mozreview, no idea for phabricator :disappointed:

[2018-03-19 10:28] marco-c opened #956 "Remove utils.mkdir and use makedirs everywhere"
Since Python 3.2, there's a `exist_ok` parameter that allows to ignore errors due to an already existing directory. So, we can drop utils.mkdir and use makedirs with exist_ok=True everywhere.

[2018-03-19 10:30] marco-c commented on #954
To do `Enhance pulse listener monitoring to restart tasks in exception state`, we need to make shipit code coverage idempotent too. It should be easy (just check if a report has already been uploaded to codecov/coveralls and don't upload it again if it was already uploaded).

[2018-03-19 15:09] cdikibo commented on #122
Hi @garbas ! I'm new from Outreachy looking to work with @marco-c this summer. I know React, I could possible get a Single Page App going if you give me a bit more information and agree on a mockup.

[2018-03-20 02:53] fiennyangeln commented on #956
I want to take this issue.

[2018-03-20 08:11] garbas commented on #956
@marco-c should this be also a flake8 check?

[2018-03-20 08:18] garbas commented on #122
@mutterroland During this week we will open many more React ticket, which might be more suitable for a beginner.
@cdikibo I will update the description of the PR with more details.

[2018-03-20 08:51] garbas commented on #122
@cdikibo I updated the description and create a "todo" list for you. let me know if you have more questions. I see Trychooser to be a simple application where once does not need much. There is no routing, we might even skip using redux all together.

As for the building process I would keep everything simple and not bother at all with webpack etc... at all. and just include needed libraries from i

[2018-03-20 08:56] garbas commented on #946
@marco-c :+1: for the `releng-svc-prod`. should we then also create `releng-svc-prod-compute`?

[2018-03-20 09:22] garbas commented on #769
@marco-c Lets assume also other tasks will use index and to select namespace

we are already using: https://tools.taskcluster.net/index/project.releng.services.requests

maybe a namespace for `shipit_code_coverage` project should be `project.releng.services.project.shipit_code_coverage`?

so basically following this `project.releng.services.project.<project_name>` convention

[2018-03-20 11:09] marco-c commented on #956
I think we don't need the flake8 check, as we will remove utils.mkdir altogether.

[2018-03-20 11:21] garbas commented on #956
i know we are going to remove it now, but latter somebody could use it and having a check would point them in the right direction what else to use.

[2018-03-20 11:51] marco-c commented on #956
If we remove it, nobody would be able to use it (unless they reimplement it from scratch).
We could add a check that disallows something like:
[code]
but a check to disallow utils.mkdir would be unnecessary if we remove utils.mkdir altogether.
I don't know how easy it would be to implement such a check, as one could write the same code in slightly different ways (and I've never written a flake8 ch

[2018-03-20 12:13] garbas commented on #956
@marco-c sorry i was constantly reading `utils.mkdir` as `os.mkdir` and i want to add a check to avoid `os.mkdir`, but i see it is impossible.

[2018-03-20 13:30] marco-c opened #960 "shipit_static_analysis: Document how to verify if the task is working"
This can be useful when we deploy a new version and @La0 is not around.

[2018-03-20 13:32] #873 closed

[2018-03-21 10:04] marco-c opened #962 "Support multiple deployments per project"
Currently we can only define one deployment per project. Deployments are defined in `lib/please_cli/please_cli/config.py`.

We need to turn that definition into a list and make sure that when generating decision task create tasks for each deployment.

We also need to consider having a dependencies between deployment. For example we might like to first push to docker image to docker registry and th

[2018-03-21 10:06] #956 closed

[2018-03-21 11:00] marco-c opened #963 "Support running integration tests"
The integration tests might be implemented as a separate deployment of a project.

CC @La0 @garbas

depends on #962

[2018-03-21 15:19] sylvestre commented on #944
Not sure it is an enhancement, I would say bug.
I had to push using inbound to avoid closing the +50 incorrect defects.

[2018-03-22 09:53] garbas commented on #963
:+1: exactly ... it should deploy a taskcluster hook with runs periodically. we also need to define a way to report this somewhere. maybe report to sentry when things brake.

[2018-03-22 13:04] garbas opened #965 "upload to cache also build-time dependencies"
currently we only upload run-time dependencies.

the following command will give us build- and run-time dependencies

[code]

This needs to be coded into the ``./please tools build`` command, just before we use `nix copy`

[2018-03-22 13:09] armenzg opened #966 "shipit_uplift: API to return latest push with coverage"
GET /coverage/latest-push  Returns push id of latest build that has coverage

This will be helpful from a frontend perspective to try to show pushes prior to that pushId.

[2018-03-22 13:10] garbas opened #967 "write tests for releng_clobberer"
`releng_clobberer` project was moved from [build-relengapi](https://github.com/mozilla/build-relengapi) repository. We could use the tests that were in old codebase as a template ([test_api.py](https://github.com/mozilla/build-relengapi/blob/6493a7b823e3bf2289e51c9323f60309a2849b84/relengapi/blueprints/clobberer/test_api.py))

[2018-03-22 13:15] garbas opened #968 "copy old releng_clobberer frontend to `src/releng_frontend/src/clobberer`"
As a first step of migration of the frontend we should just copy/paste the frontend code.

Currently you can see the frontend via https://api.pub.build.mozilla.org/clobberer/

[2018-03-22 13:23] garbas opened #969 "write tests for releng_mapper"
`releng_mapper` project was moved from [build-relengapi](https://github.com/mozilla/build-relengapi) repository. We could use the tests that were in old codebase as a template ([test_mapper.py](https://github.com/mozilla/build-relengapi/blob/6493a7b823e3bf2289e51c9323f60309a2849b84/relengapi/blueprints/mapper/test_mapper.py))

[2018-03-22 13:24] garbas opened #970 "remove releng_archiver project"

[2018-03-22 13:56] #837 closed

[2018-03-22 14:06] marco-c opened #971 "Remove get_directory_coverage functions from shipit_uplift"
Now that #837 has been fixed by #952, we can remove the **get_directory_coverage** functions from src/shipit_uplift/shipit_uplift/coverage.py as they are unused.

[2018-03-22 15:47] marco-c commented on #971
@Sush0512 do you want to take this on, to complete the removal you started?

[2018-03-22 15:59] Sush0512 commented on #971
Sure. Thanks!

[2018-03-23 07:51] garbas opened #972 "write tests for releng_tooltool"
`releng_tooltool` project was moved from [build-relengapi](https://github.com/mozilla/build-relengapi) repository. We could use the tests that were in old codebase as a template ([test_grooming.py](https://github.com/mozilla/build-relengapi/blob/6493a7b823e3bf2289e51c9323f60309a2849b84/relengapi/blueprints/tooltool/test_grooming.py), [test_tables.py](https://github.com/mozilla/build-relengapi/blob

[2018-03-23 07:57] garbas opened #973 "copy old releng_tooltool frontend to `src/releng_frontend/src/tooltool`"
As a first step of migration of the frontend we should just copy/paste the frontend code.

Currently you can see the frontend via https://api.pub.build.mozilla.org/tooltool

[2018-03-23 09:13] garbas opened #974 "releng_tooltool: migrate periodic tasks and one celery task"
[gooming.py](https://github.com/mozilla/build-relengapi/blob/6493a7b823e3bf2289e51c9323f60309a2849b84/relengapi/blueprints/tooltool/grooming.py) is last piece of code that needs to be migrated

- 2 periodic tasks should be converted to taskcluster hooks (`check_pending_uploads`, `replicate`)
- `check_file_pending_uploads` celery task should be converted to Heroku worker and [Pulse](https://wiki.mo

[2018-03-23 09:51] garbas opened #975 "create new service releng_auth0"
currently already 2 services implement auth0 functionality, [releng_treestatus](https://github.com/mozilla-releng/services/blob/master/src/releng_treestatus/releng_treestatus/api.yml#L12) and [shipit_uplict](https://github.com/mozilla-releng/services/blob/master/src/shipit_uplift/shipit_uplift/api.yml#L21). Also coming `releng_workflow` service will need some sort of auth0.

create a simple servic

[2018-03-23 09:53] garbas opened #976 "use releng_auth0 in releng_treestatus, releng_frontend, shipit_uplift, shipit_frontend"
Required `releng_auth0` service to be up and running first, #975

[2018-03-23 09:54] garbas opened #977 "move project configuration from lib/please_cli/please_cli/config.py to project's default.nix"

[2018-03-23 10:21] garbas opened #978 "move everything in lib/ folder to src/"
When developing on `releng_treestatus`, which depends on `cli_common` and `backend_common`, make sure that all projects from this repository are pulled in for development.

[2018-03-23 10:55] garbas opened #979 "generate correct route53.tf file"
there is a please command which generates (incorrect) terraform/base/route53.tf file.

[code]

The code for the above command is located here:
https://github.com/mozilla-releng/services/blob/master/lib/please_cli/please_cli/terraform_route53_config.py

File which we need to generate is located here:
https://github.com/mozilla-releng/build-cloud-tools/blob/master/terraform/base/route53.tf

[2018-03-23 10:59] garbas opened #980 "new please command: create"
[code]

where `<project-template>` is required argument. Initially create one `<project-template>` for backend like projects.

Most likely use [cookiecutter](https://pypi.python.org/pypi/cookiecutter) for project generation

[2018-03-23 11:29] garbas opened #982 "show nicer output when please_cli needs to be build when running ./please"
when we run ./please command it will first look if we need to build it and if we need to build it then we should show a nicer output and not the debug output when please_cli is being built.

[2018-03-23 11:31] garbas opened #983 "show production services in status.mozilla.org"
https://bugzilla.mozilla.org/show_bug.cgi?id=1395197

[2018-03-23 11:43] garbas opened #984 "list more issues on bugsahoy"
https://github.com/jdm/bugsahoy/pull/177

[2018-03-23 11:58] garbas opened #985 "`./please check` should run `nix-build` and not `nix-shell`"

[2018-03-23 11:59] garbas opened #986 "switch python projects to python 3.6"

[2018-03-23 12:11] marco-c commented on #986
Duplicate of #867.

[2018-03-23 12:18] marco-c commented on #971
@Sush0512 the simplest thing to do at the moment, if **./please check shipit-uplift** terminates with the same error, would be to just submit the PR and let Taskcluster run the tests for you.

[2018-03-23 12:48] garbas opened #988 "convert nix/default.nix (releng_pkgs) into nixpkgs overlay"
mozilla-nixpkgs was already converted into nixpkgs overlay. next step would be to conver also this project

we should take over `mozilla-releng` namespace, so that full attr path for a `<project>` would be `mozilla-releng.<project>`. that would actually let use use `nix-env` and other nix tools.

[2018-03-23 12:55] garbas opened #989 "make please_cli deploy command nicer"
- most likely we should first make multiple deployments per project possible, #962, before starting with this issue
- currently command leaves under `tools` command. `./please tools deploy:<deployment-type> <deployment-type-arguments>`
- we should have a top level deployment command `./please deploy <project>` which should make one off deployments much easier

[2018-03-23 12:58] garbas opened #990 "display in which project shell you are"
`./please shell <project>` command drops you in a custom shell environment. Since we are using a tool called `nix-shell` which appends `(nix-shell)` at the beginning of our console prompt.

It would be nice to instead of `(nix-shell)` to show the name of the project you just entered, eg `(releng-frontend) ... $`

Every time you run `./please shell <project>` a snippet of shell (bash) code should b

[2018-03-23 13:03] garbas opened #991 "setup services email to get production reports from sentry/datadog/papertrail/heroku/etc.."
@La0 @marco-c @rail @lundjordan : I don't want to subscribe us to - yet another email - but I would like to have an email alias which we can use to be notified about alerts on sentry/datadog/papertrail/heroku/etc...

as people will come and go to this project it would be much easier to adjust the alias subscription then to reconfigure it in many places.

does "release-services@mozilla.com" sound o

[2018-03-23 13:08] garbas opened #992 "create json schema for secrets and enforce it when fetching"
with more and more projects (currently 17) and more and more channels  (currently 4) it is becoming harder to manage secrets, since it is easier to forget what is missing until things break in unexpected way.

It would make a lot of sense to have a json schema, which we should check right after fetching them from taskcluster secrets.

It would be also nice to have a `./please` command that we coul

[2018-03-23 14:47] garbas opened #994 ""versioned" secrets for production channel"
when deploying to production a lot of times changes in secrets also have to be made. usually this is possible to do in advance but not always. then it becomes hard to remember what you need to dhqng3 in production secrets.

this convention would give us 2 things:
- we can prepare, in advance, the secrets needed for next release, alongside currently active secrets
- if something goes terribly wrong

[2018-03-23 14:47] garbas commented on #994
@La0 @marco-c @rail would you have any thoughts on this?

[2018-03-23 14:49] garbas opened #996 "document how to build base docker images"

[2018-03-23 20:06] rail commented on #994
I like the idea! Sounds Nix-ish :) This way we keep the secrets up to date by generating a template to populate.
My only concern is how to garbage collect the unused secrets from TC.

[2018-03-23 20:15] rail commented on #991
Sounds sane to me. To make things easier, you can ask for a google group for this email, so people can subscribe/unsubscribe or browse.

[2018-03-24 06:19] kmaglione opened #997 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/230052/#review236310

**Problem:** I see this repeatedly. The review bot reports that the lower-cased version of a mixed-case variable name is undefined:

[code]

Which is true. `isextensioninbootstrappedlist` is not defined. But `isExtensionInBootstrappedList` is, and the latter is what the code actually uses.

[2018-03-24 09:42] sylvestre commented on #997
@ahal @Standard8 I think this is an issue with mozlint itself, right?

[2018-03-24 23:36] staktrace opened #999 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/230952/

**Problem:** reviewbot is claiming the APZCTreeManager constructor is implicit in the .cpp file, when it is marked as explicit in the .h file. The implementation the .cpp file is not allowed to have the explicit keyword.

[2018-03-24 23:37] staktrace opened #1000 "shipit_static_analysis: the same issue has reported 6 times."
**MozReview URL:** https://reviewboard.mozilla.org/r/230952/

**Problem:** reviewbot reported the same error 6 times. https://bugzilla.mozilla.org/show_bug.cgi?id=1448490#c3. And then the other error 2 twice. (I was tempted to file a new issue for each one of the redundant error messages...)

[2018-03-24 23:38] staktrace commented on #999
(The same applies to UiCompositorControllerParent)

[2018-03-24 23:42] sylvestre commented on #1000
We have a fix for that: https://github.com/mozilla-releng/services/pull/957
should be deployed next week

[2018-03-25 03:10] kmaglione commented on #997
For what it's worth, these errors don't show up with `mach lint`, or the commit hook, or in try runs. Only in static analysis bot reviews.

[2018-03-25 17:27] #971 closed

[2018-03-25 17:29] garbas commented on #991
@rail who should I ask for creation of google group?

[2018-03-25 20:29] garbas opened #1001 "Include version in the footer of the docs"
- All projects in this repository are documented in one place:
- https://docs.mozilla-releng.net/ (staging: https://docs.staging.mozilla-releng.net/, testing: https://docs.testing.mozilla-releng.net/)
- All code/documentation is in ``src/docs`` folder
- [Sphinx](http://www.sphinx-doc.org) is used as a tool to document it.
- Configuration for our Sphinx documentation is located in ``src/docs/conf.p

[2018-03-26 06:17] garbas commented on #122
@cdikibo was above description enough to get you started? or should I elaborate more.

[2018-03-26 06:18] mutterroland commented on #979
I started looking into it. I'll be back with updates.

[2018-03-26 07:03] garbas opened #1002 "build "fat" base image"
The same base image is used for local development, building (CI) and also deploying. For this reason our image includes please_cli and all of the tools needed for deployment.

Estimate is that "fat"  image will be around 4-5GB. Maybe we can shave off some size if we flatten the image.

Before we start working on this, we would need to solve #965 first.

## Pros

- It would be much nicer first time

[2018-03-26 07:12] garbas commented on #1002
@rail @mozbhearsum you have more experience with contributors? would having a bigger docker image (eg ~4GB) be a problem for contributors?

@marco-c @La0 now that we will be all using docker for development, you think having a bigger image would slow you down too much? I assume we all have good enough connections that downloading a 4G every 2 weeks would be ok. it is not ideal but a compromise.

@

[2018-03-26 07:18] garbas opened #1003 "./please tools base-image current fails since it is not possible (yet) to build docker in docker"
This might be as easy as using passing docker socket (`-v /var/run/docker.sock:/var/run/docker.sock`), but we would have to test this. also we would need to install docker inside our base image.

[2018-03-26 09:43] garbas opened #1005 "move most of the configuration from secrets to code"
needs #977 and #992 first

currently we (ab)use secrets to also configure our projects. it would be nice to have layered solution where most of the configuration will actually be in code while still have the possibility to adjust it after deployment via taskcluster secrets.

How this layer configuration will work?

- a configuration is a JSON file of the following structure

[code]
    it allows u

[2018-03-26 10:34] La0 commented on #1005
Looks good, but we should use YAML as Taskcluster is now using it for secrets.

[2018-03-26 13:03] garbas commented on #218
with #928 being merged this is possible by manually running docker command which you can find in `./please` shell script. But to get this really nice we would have to probably create `./please.bat` file and do some powershell magic.

@mozbhearsum do you know somebody who knows a little bit of powershell? I basically need to convert [this](https://github.com/mozilla-releng/services/blob/master/plea

[2018-03-26 13:05] froydnj opened #1006 "shipit_static_analysis: False positive with modernize-use-equals-default"
**MozReview URL:** https://reviewboard.mozilla.org/r/226034/#review236498

**Problem:** The bot reports that `= default` should be used to define a trivial destructor.  The problem is that the surrounding context makes clear that the destructor is non-trivial.

(It also reports an issue similar to #999, FWIW.)

[2018-03-26 13:07] mozbhearsum commented on #1002
It's really tough to say how much size makes a difference. Balrog uses two different Docker images that total to a bit over 300MB. I'm not sure if there's a huge difference between 300MB and 4GB for users with slow connections or limits to how much they can download. Smaller is certainly better for everyone though.

Another thing to look at is to ensure you're caching as much as possible. For exam

[2018-03-26 13:29] mozbhearsum commented on #218
I do not.

[2018-03-26 13:31] abpostelnicu commented on #1006
This has been fixed in the latest versions of clang, starting with 5.0. @La0 told me that we can use the clang-tidy package from taskcluster in nix environment, so we should test it and if it confirms that everything is OK we should go with it.

[2018-03-26 13:57] jankeromnes commented on #1002
That's super cool to read! 😄 Thanks for making my day! 🎉

However, Janitor containers don't run in privileged mode, because that's essentially giving root access on the shared Docker server to any user (which is scary). Is it possible to make an unprivileged releng-services environment that's still useful for development?

Note that we've identified a few developer use cases that require extra pri

[2018-03-26 14:01] garbas commented on #457
I have just tested this and it works inside container.

[2018-03-26 14:01] #457 closed

[2018-03-26 14:03] #984 closed

[2018-03-26 14:15] #892 closed

[2018-03-26 14:27] rail commented on #1002
I wonder if we can generate multiple base images instead of having one monolith. I guess that increasing the image size won't help newcomers, especially if they would need to re-download the whole thing every 2 weeks.

[2018-03-26 14:29] rail commented on #991
Just file a Hub request. I can give you the exact link in IRC.

[2018-03-26 16:45] garbas opened #1008 "relengapi-proxy needs to work for tooltool"
https://github.com/taskcluster/relengapi-proxy/pull/10

[2018-03-26 17:01] jankeromnes commented on #1002
Random note: Large monolithic Docker images aren't a problem for Janitor; they're actually preferred (since we have one image per project, and many developers creating many containers from this image, copy-on-write makes it more interesting to pre-install a 5 MB tool into the single base image than having `X` developers install it into their `Y` containers separately). The larger the Janitor image

[2018-03-26 17:05] lundjordan opened #1009 "port relengapi token generation"
There is some frontend that Buildduty currently use: https://api.pub.build.mozilla.org/tokenauth/

They follow these docs: https://wiki.mozilla.org/ReleaseEngineering/Applications/Tooltool#How_To_Upload_To_Tooltool

We will need a port or work around

[2018-03-27 06:57] garbas commented on #991
@rail tnx found it. invitations soon follows

[2018-03-27 06:59] #991 closed

[2018-03-27 11:19] #804 closed

[2018-03-27 13:16] La0 opened #1011 "shipit-uplift: Fix 500s"
Several 500 errors are triggered on shipit-uplift:

- AttributeError/bugs/<int:bugzilla_id>/patches: 'ProgrammingError' object has no attribute 'description' [backend_common/api.py line 145](https://sentry.prod.mozaws.net/operations/mozilla-releng-services/issues/3070623/)
- AttributeError/bugs/<int:bugzilla_id>/patches: 'ProgrammingError' object has no attribute 'code' [backend_common/api.py line

[2018-03-28 13:49] garbas commented on #980
fixed in #1013

[2018-03-28 13:49] #980 closed

[2018-03-28 18:53] clarammdantas commented on #990
Can I work on this one?

[2018-03-29 04:57] garbas commented on #990
@clarammdantas ofcourse

I will go more in details in description, but i first need my morning coffee :)

[2018-03-29 07:29] garbas commented on #990
@clarammdantas I updated the description as much as could think of. I assume this will be your first time using Nix so please don't hesitate to ping me with questions either here on IRC.

[2018-03-29 12:58] clarammdantas commented on #990
It will be my first time using Nix, but I have programmed before using functional paradigm, so I hope it's not going to be that hard to learn :)

[2018-04-01 17:29] marco-c commented on #1002
I think forcing the download of ~4 GB every two weeks might be a bit too much. When I'm not in the office, my download speed is 1 MB/s or worse. Downloading 4 GB means more than 1 hour spent waiting. If we are traveling and in a hotel with a bad connection, it would be even worse.

[2018-04-02 15:43] cdikibo commented on #122
Hi @garbas <https://github.com/garbas>

The file tree structure was off. I'm still a bit confused about the current
setup and how I should go about replace it with my files for a PR. Getting
Docker to cooperate on 4GB was a barrier on my side. Or should I just write
it in code bin and share it there.

Also, it didn't help that I was snapped up by a company last week and
signed with them. My employ

[2018-04-03 09:11] marco-c opened #1015 "shipit_code_coverage: Tasks are aborted because "states could not be created successfully""
[taskcluster:error] Task was aborted because states could not be created successfully. Error: Error calling 'link' for taskclusterProxy : Error: (HTTP code 500) server error - connection error: desc = "transport: dial unix /var/run/docker/containerd/docker-containerd.sock: connect: connection refused"  | Error: Error calling 'link' for localLiveLog : Error: (HTTP code 500) server error - connectio

[2018-04-03 09:12] garbas commented on #1002
@mozbhearsum tnx for the info. I need to check out the size of our current image and then make sure we have something as small as balrog.

@rail we can not have per project base images. since in that please bash script we don't know which projects are we going to work on and i don't really want to parse cli arguments in bash.

@jankeromnes I suppose we can have large docker image only for those wh

[2018-04-03 09:15] garbas commented on #122
@cdikibo congrats on the new job :) code bin would be the way to go with this task since we can skip all of the docker stuff. also it would be easier to share and collaborate. if you are still interested in working on this.

[2018-04-03 09:15] marco-c opened #1016 "Can't run postgresql through please anymore"
"./please run postgresql" doesn't work anymore, as postgresql is not in the list of available targets.
"./please run shipit-uplift" still suggests running "./please run postgresql".

[2018-04-03 09:33] garbas commented on #1016
I broke this by mistake #1013 ... fix coming.

[2018-04-03 09:45] #1016 closed

[2018-04-03 09:49] marco-c commented on #1015
https://bugzilla.mozilla.org/show_bug.cgi?id=1450901

[2018-04-03 16:30] marco-c commented on #712
Or maybe it's going to be feasible with https://bugzilla.mozilla.org/show_bug.cgi?id=1428470.

[2018-04-03 22:50] marco-c commented on #1015
@garbas could this be a regression from #928?

[2018-04-04 10:30] #948 closed

[2018-04-04 13:53] marco-c commented on #911
#998 added tests for artifacts.download.

[2018-04-04 14:01] clarammdantas commented on #911
I'm working on the test for artifacts.download_all already :)

[2018-04-04 19:06] mozbhearsum opened #1026 "first run experience of "./please --help" is not ideal"
When I run "./please --help" it starts downloading a massive Docker image instead of giving me useful information. It looks like it's going to take 20-30min before I can actually interact with it.

[2018-04-04 19:22] mozbhearsum opened #1027 ""./please run shipit-workflow" fails with error about /etc/hosts"
[code]

[2018-04-05 08:25] #966 closed

[2018-04-05 08:40] marco-c opened #1029 "shipit_code_coverage: Rename `get_commit` and `get_mercurial` functions in github.py"
`get_commit` and `get_mercurial` are poor names.
`get_commit` retrieves a git commit hash associated with a mercurial hash, `get_mercurial` the other way around.

A possible option could be to rename them to `mercurial_to_git` and `git_to_mercurial`.

[2018-04-05 08:42] marco-c opened #1030 "shipit_code_coverage: Move generate_suite_reports from codecov.py to report_generators.py"
In the process, a test should be written.

[2018-04-05 08:42] marco-c opened #1031 "shipit_code_coverage: Move generate_chunk_mapping from codecov.py to a separate file"
In the process, a test should be written.

[2018-04-05 20:49] garbas commented on #1015
@marco-c it might be connected, but this is probably a problem on taskcluster side since the error is intermittent. I guess services and is an early adopter of taskcluster and sadly we are paving a road for other teams since we are discovering this bugs.

I will comment on the issue above with the changes that happen last week in provisioner, just in case it is related.

[2018-04-05 20:59] garbas commented on #712
yes, basically heroku cleans up the disk space once dyno is restarted[1], which is at least once a day. but maybe this would still be good enough optimization, to clone m-c. also is all of the history needed or we could use eg. last year only. that could reduce the size as well.

[1] https://devcenter.heroku.com/articles/dynos#ephemeral-filesystem

[2018-04-06 12:58] jankeromnes opened #1036 "shipit_code_coverage: Improve the reporting of new uncovered code"
Today, we analyze per-push mozilla-central code coverage reports to identify new code that isn't covered by any tests, and automatically send an email report to a few people, with links to the relevant commits.

This allows manually filing bugs when new code is obviously lacking tests, and ask the developers to add tests.

But the process is very manual and tedious, and the reports (email and cove

[2018-04-06 13:11] jankeromnes commented on #1036
@sylvestre and/or @marco-c, do you see more ways to improve these reports? (E.g. information to add to the report emails or coverage views, or buttons to automate common workflows?)

Also, could you please link a few examples of zero-coverage bugs that you've filed because of a report?

[2018-04-06 13:55] marco-c commented on #885
@La0 do you want to take care of this?

[2018-04-06 14:09] garbas commented on #885
since there is no documentation i guess i can write here how to use `./please create`

- templates are stored in `nix/templates/` and are normal [cookiecutter templates](https://cookiecutter.readthedocs.io/en/latest/tutorial2.html)
- there is currently only one template called `backend-json-api` and yes i agree it is a horrible name, i'm just out of good ideas for naming
- to create a new project

[2018-04-06 14:41] garbas commented on #1026
ups this got out of control with latest update of our base image. as usual with dockerfiles I forgot to run a clean up command. The fix will come with #995 probably on Monday next week.

Before #995:
![screenshot-2018-4-6 mozillareleng services - docker hub](https://user-images.githubusercontent.com/20208/38427299-28136eb0-39b9-11e8-96ae-0eab532b0725.png)

After #995:
![screenshot-2018-4-6 mozilla

[2018-04-07 15:38] marco-c commented on #1036
Maybe the paths of the files might be interesting too, but we have to make sure we don't make the email unreadable by adding too much info.

The zero-coverage bugs are filed blocking this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1415824.
These were filed from the zero-coverage report though, which is separate from the notification email (which notifies about changesets landing with low co

[2018-04-09 10:01] garbas opened #1041 "create a check that python project is listed in `nix/setup.cfg`"
currently there is no way to automatically list all of the projects in `nix/setup.cfg` but what we could do is have a check that ensures project we are running is listed there.

This could be a quick check written in shell [before we run flake8](https://github.com/mozilla-releng/services/blob/master/nix/lib/default.nix#L774).

[2018-04-09 15:34] srfraser opened #1044 "Strip out userinfo queries in backend_common/auth0"
We may want to remove the entire library. So far it's only used by shipit_signoff, which got shelved a while back.

auth0 is moving to OIDC conformant mode, which means the userinfo queries will no longer be supported. To get group information (if we go that route in the future) we'll need to use https://github.com/mozilla-iam/person-api

[2018-04-09 22:38] #769 closed

[2018-04-10 07:09] marco-c opened #1046 "shipit_code_coverage: Fix caught exception in notifier"
#995 reverted part of #1021: https://github.com/mozilla-releng/services/blame/ddb1915ee50a61545a2dba2a1dfe73c76911edd3/src/shipit_code_coverage/shipit_code_coverage/notifier.py.

[2018-04-10 07:29] #1046 closed

[2018-04-10 12:45] marco-c opened #1050 "please fails silently if there is a syntax error in nix/lib/default.nix"
[code]

[2018-04-10 12:59] jankeromnes commented on #1036
Good suggestion, thanks! I think that's what "Types of files" implied, I've updated the top comment.

Ah thanks, sorry I meant "low-coverage bugs from the notifications emails", not "zero-coverage bugs".

Thanks for this info. If you or @sylvestre come across such a bug (filed from a coverage email report), please link to it here as an example.

[2018-04-10 15:43] La0 opened #1053 "Add more metric around mach steps"

[2018-04-10 22:54] garbas commented on #1026
#995 is now merged and docker image is back to 380MB

[2018-04-10 22:54] #1026 closed

[2018-04-11 10:12] jankeromnes commented on #582
The email subject is formatted [here](https://github.com/mozilla-releng/services/blob/c8a91817c4ff0cf40556c3f861159754d150e7b0/src/shipit_bot_uplift/shipit_bot_uplift/report.py#L55-L58).

Below, you can see that the code iterates over branches that have failed merges. Maybe during that iteration, we could append `branch` to the email subject?

@sylvestre is this still a change you'd find valuable?

[2018-04-12 03:29] karlt commented on #1006
https://reviewboard.mozilla.org/r/235180/#comment307566
https://reviewboard.mozilla.org/r/235180/#comment307568
https://reviewboard.mozilla.org/r/235180/#comment307570

[2018-04-14 07:44] #1003 closed

[2018-04-15 09:43] marco-c opened #1059 "readability-misleading-indentation checker not found"
I've noticed this error in Sentry.

[2018-04-15 09:47] marco-c opened #1060 ""-*" checker not found in available checkers"
I've noticed this error in Sentry.

From https://hg.mozilla.org/mozilla-central/raw-file/tip/tools/clang-tidy/config.yaml:
[code]

[2018-04-16 23:25] garbas commented on #1044
@rail i think shipit-workflow is using auth0.py module from backend_common. you think you could take on this ticket to keep auth0.py lean and clean :)

[2018-04-17 00:15] garbas opened #1064 "reduce docker nix closure (currently 1GB)"
This is a blocker to get `./please tools base-image` command to work again.

### Initial research

Command:

1. ``nix path-info --json -rS `which docker`  | jq 'map(select(.closureSize > 1e6)) | sort_by(.closureSize) | map([.path, .closureSize/1e6])'`` (shows all the dependencies of docker sorted by their closure size)

2. ``nix path-info --json -rs `which docker`  | jq 'map(select(.narSize > 1e6)

[2018-04-17 00:25] garbas opened #1065 "document the usage of roles/scopes and taskcluster-github setup"

[2018-04-17 00:31] garbas opened #1066 "How many CPUs should we use in docker image"
we should use `--cpus` option when creating a docker container and most likely set containers that number to all cpus that are on the host (output of `nproc` command). Nix should automatically detect more cpus and use them.

@La0 @marco-c @rail do you have any thougts on this?

[2018-04-17 00:31] garbas opened #1067 "maintainante:off should only run once deployments are succesfully done"

[2018-04-17 00:35] garbas opened #1068 "it should be possible to have a local configuration that would persist between commands"
This would become very handy for taskcluster credentials.

before running command local configuration would be read from `.pleaserc` at the root of the repo into the context of click command.

use toml for the format since we have parser in nix.

[2018-04-17 00:36] rail commented on #1044
I can look at this.

[2018-04-17 00:38] garbas opened #1069 "change author and author_email in all of the projects as it is set now in template"
change `author` and `author_email` to

``
author='Mozilla Release Services Team',
author_email='release-services@mozilla.com',
``

in all python projects

[2018-04-17 00:40] garbas opened #1070 "share cache of pypi2nix when it is running inside docker"
all pypi2nix invocations (looks for default.nix files) should specify `--cache-dir` to `/app/tmp/pypi2nix`

[2018-04-17 00:43] garbas opened #1071 "`./please --help` should not show `.please-wrapper`"
in click you can set program name when creating a command

[code]

otherwise it gets it from the file.

[2018-04-17 00:44] garbas opened #1072 "include requirements.txt in MANIFEST.in to initialize extensions with create_app method"

[2018-04-17 00:45] garbas opened #1073 "rename APP_NAME to PROJECT_PATH to be consistent with nameing"

[2018-04-17 00:49] garbas opened #1074 "split base docker image"
we should split base docker image into
- base image with image where we have configured nix
- base-please image which includes please command line command
- base-all image which includes all development environments of all projects (to be used with janitor)

the base-please image should be also flattened to save some bytes on download.

[2018-04-17 00:54] garbas opened #1075 "forward some env variables in ./please shell script to docker"
grepping code we should forward the following envvars

- GITHUB_BRANCH
- GITHUB_HEAD_SHA
- GITHUB_HEAD_USER_EMAIL
- GITHUB_PULL_REQUEST
- TASKCLUSTER_ACCESS_TOKEN
- TASKCLUSTER_CLIENT_ID
- TASK_ID

[2018-04-17 00:54] garbas commented on #1075
@La0 would you have time to implement this?

[2018-04-17 00:59] garbas commented on #1064
@La0 @rail i thought i would be more verbose what i'm doing with nix and how to see which part of the closure is biggest and how to reduce it.

[2018-04-17 01:04] garbas commented on #979
fixed in #1028

[2018-04-17 01:04] #979 closed

[2018-04-17 01:04] rail commented on #1066
Looking at the reference at https://docs.docker.com/engine/reference/run/:

It also looks like `/proc/cpuinfo` shows all CPUs inside the container.

Sounds like you want to limit the count of exposed CPUs, correct? Do we have a use case for this?

[2018-04-17 01:09] garbas commented on #685
fixed in #1043

[2018-04-17 01:09] #685 closed

[2018-04-17 01:10] garbas commented on #982
done in #1038

[2018-04-17 01:10] #982 closed

[2018-04-17 01:13] garbas commented on #96
done in #995

[2018-04-17 01:13] #96 closed

[2018-04-17 01:15] garbas commented on #471
closing this since we will be move away from current setup for frontend

[2018-04-17 01:15] #471 closed

[2018-04-17 08:35] marco-c opened #1077 "shipit_code_coverage: Failure in triggering scheduled task"
This is still happening, even after #1045.
[code]

The hook definition contains:
[code]

Maybe the keys "$if", "then" and "else" have to be in order? CC @djmitche

[2018-04-17 10:16] marco-c commented on #1077
No, they don't have to be in order, as this works:
[code]

[2018-04-17 14:04] djmitche commented on #1077
Hm, I've been able to trigger https://tools.taskcluster.net/hooks/garbage/test-context without any issue, so I think `payload` exists when `firedBy == 'triggerHook'`.

Note that the task template right now does not have the `$if` in it -- are you looking at a different hook definition?

[2018-04-17 16:34] marco-c commented on #1077
@djmitche yeah the problem happens when the hook is triggered by the scheduler, so payload isn't there but firedBy is 'schedule'.

This is the hook definition: https://tools.taskcluster.net/hooks/project-releng/services-staging-shipit-code-coverage.

[2018-04-17 16:45] djmitche commented on #1077
Hm, the original comment is about the "..-testing-.." hook.

[2018-04-17 16:53] marco-c commented on #1077
Oh, you're right, sorry. I hadn't noticed.

@garbas perhaps we shouldn't schedule the hook in the `testing` branch.

Anyway, this will be fixed once the testing branch is updated to master.

[2018-04-17 16:53] #1077 closed

[2018-04-18 07:06] #582 closed

[2018-04-18 07:44] marco-c commented on #847
https://bugzilla.mozilla.org/show_bug.cgi?id=1373368 landed.

[2018-04-18 07:50] marco-c opened #1078 "Find a way to ensure we run the same linters as mozilla-central"
When we add linters on mozilla-central, we need to make sure we are running them in our task too.

[2018-04-18 09:08] La0 commented on #885
@marco-c @sylvestre I'll start working on the new code coverage backend next week.

[2018-04-18 10:16] La0 opened #1079 "releng_frontend: Production build does not work without related services not deployed"
As several projects are not deployed in production during @garbas PTO (see #1076), the production build of **releng_frontend** is invalid: several `--env` and `--csp` are missing.
Staging deployment is OK.

I have a script that fixes this temporarily by pushing a valid index.html on S3 with all the needed parameters (can't publish it as it neeeds access to TC production secrets).

We have two choi

[2018-04-18 15:28] #856 closed

[2018-04-18 15:28] #862 closed

[2018-04-18 15:33] La0 opened #1080 "shipit_static_analysis: Remove timestamp on mozreview publications"
Since using  `./mach static-analysis check`, the [timestamps are posted on MozReview](https://reviewboard.mozilla.org/r/237240/).

We need to remove them, as they can confuse a developper reading the review.

[2018-04-18 15:36] sylvestre commented on #1080
Just add --log-no-times to the mach command.

[2018-04-18 18:09] marco-c commented on #1015
Closing since it's very likely not a problem on our side.

[2018-04-18 18:09] #1015 closed

[2018-04-18 18:10] marco-c commented on #897
I'm pretty sure this was OOM. I've switched to a memory-optimized instance and this is no longer happening.

https://bugzilla.mozilla.org/show_bug.cgi?id=1454629 should help even more (after that bug, we might probably go back to a m5.large instance).

[2018-04-18 18:10] #897 closed

[2018-04-18 18:11] marco-c commented on #897
(it would be interesting to know why the memory usage increases are so correlated with package updates)

[2018-04-18 18:40] marco-c commented on #712
We need to do `hg annotate`, so we probably need to have all history.

[2018-04-18 20:22] mozbhearsum opened #1084 "automatic dependency updates for projects"
We need to provide an automated way of updating dependencies for projects on nightly basis.

There already is an update-dependencies command, `./please tools update-dependencies <project>`, to update dependencies for a given project.

Also there is already a way to also deploy (alongside other deployments of a project) a taskcluster hook which would run on a nightly basis. We should configure such

[2018-04-18 20:49] #1080 closed

[2018-04-19 13:09] marco-c opened #1088 "shipit_code_coverage: When generating zero coverage report, also store the revision"
This way the frontend can generate links to the specific revision instead of to `master`.

[2018-04-19 13:13] marco-c commented on #1088
This is needed to fix https://github.com/marco-c/code-coverage-reports/issues/15.

[2018-04-19 13:17] calixteman opened #1089 "Internal error with wrong query"
Test with https://uplift.shipit.staging.mozilla-releng.net/coverage/file?changesetX&path=a (note the missing = between changeset and X)

[2018-04-19 15:44] calixteman opened #1090 "Don't return an empty json when no data"
https://uplift.shipit.staging.mozilla-releng.net/coverage/file?changeset=0ceabd10aac2272e83850e278c7876f32dbae42e&path=gfx/skia/skia/src/ports/SkFontHost_mac.cpp
Maybe return {"error": "no data"}...

[2018-04-19 21:15] garbas commented on #1079
@La0 thank you for fixing this.

If possible it would be nice to fix releng_frontend and keep not comment it out, since that would block any updates to trychooser.

could you share what the script fixed in index.html (eg. the diff between old/new index.html)

[2018-04-20 10:30] #635 closed

[2018-04-20 13:00] marco-c opened #1093 "shipit_code_coverage_frontend: Create a new project for coverage frontend"
This will contain things like the zero coverage report (currently in https://github.com/marco-c/code-coverage-reports/tree/gh-pages).

[2018-04-20 13:02] marco-c opened #1094 "shipit_code_coverage_frontend: Move zero coverage report code"
The code currently lives at https://github.com/marco-c/code-coverage-reports/tree/gh-pages.
Moving it in mozilla-releng/services is preferable for several reasons:
1) we benefit from the already existing infrastructure, CI, etc.;
2) the backend and the frontend can be updated together, so we have no problems of mismatches if/when we change the API/format of the data.

[2018-04-20 13:06] marco-c opened #1095 "Implement a new `Coverage` service which uses the ActiveData ES cluster"
https://github.com/mozilla-releng/services/blob/407149a850300b42e7fa9fe5ac65616e329bd911/src/shipit_uplift/shipit_uplift/coverage.py#L37

CC @ekyle

[2018-04-23 12:37] La0 commented on #1079
@garbas The script is just deploying again **releng-frontend** but with all the necessary `--env` & `--csp`:

[code]

[2018-04-23 13:33] calixteman opened #1098 "shipit_uplift: Return hg & git changesets and data for coverage/file"
Return something like
{'git_changeset': github_changeset,
 'hg_changeset': hg_changeset,
 'data': result}

[2018-04-24 07:50] #1060 closed

[2018-04-24 08:43] #1098 closed

[2018-04-24 14:28] emilio opened #1106 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/239302/

**Problem:** Reviewbot claims that the following code:

[code]

Would be equivalent to the code I wrote:

[code]

Which is obviously not the case.

[2018-04-24 15:03] #885 closed

[2018-04-25 08:43] mozkeeler opened #1109 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/239310/#review245256

**Problem:** It opened two issues for one issue on one line of code. It also included some unrelated text that was just confusing.

[2018-04-26 08:37] marco-c opened #1114 "shipit_pulse_listener: MH_BRANCH is sometimes missing"

[2018-04-26 08:39] marco-c opened #1115 "shipit_pulse_listener: is_old_task removes legit tasks"
Because of https://bugzilla.mozilla.org/show_bug.cgi?id=1443503, we often receive notifications for completed builds more than one day after they are completed.

The simplest solution is to make `is_old_task` also allow tasks older than 1 day.
The long-term solution is to make the coverage task idempotent, so that we can remove the is_old_task check altogether.

[2018-04-26 08:53] marco-c opened #1118 "shipit_code_coverage: Make the task idempotent"
Blocks #704 and #954.

This is also needed because of #1115.

Solving this is just a matter of checking whether the given revision is already present in codecov.io.

[2018-04-26 09:13] marco-c opened #1119 "Automatically remove codecov.io commits in error state and retry uploading them"
After waiting for a commit to be injested by codecov.io, we should check whether its state is `error` or `completed` and, if it is `error`, delete it from codecov.io.

[2018-04-26 20:49] La0 commented on #1079
A better solution is to edit the production Taskcluster task for releng-frontend deployment and add the missing lines. [Example task](https://tools.taskcluster.net/groups/P1Yoqq9PQbioXDHpbgvigA/) ran today in order to fix a broken deployment.

[2018-04-27 09:24] marco-c opened #1126 "Move tests to public domain"
As suggested by @jankeromnes, we could move tests to the public domain, per Mozilla's licensing policy: https://www.mozilla.org/en-US/MPL/license-policy/#Licensing_of_Mozilla_Code.

[2018-04-27 09:27] #1118 closed

[2018-04-27 09:28] marco-c commented on #954
The code coverage task is now idempotent, so only #704 is left.

[2018-04-27 09:35] marco-c opened #1127 "Ack pulse messages only when a triggered task successfully finishes"
This would be needed to make sure we successfully run tasks.

Let's say we receive a message for a review, we trigger a static analysis task and ack the pulse message removing it from the queue. Then pulse listener dies for some reason, the static analysis task fails. When the pulse listener is back, the failed task will not be retriggered as the pulse message is no longer in the queue.

[2018-04-27 09:55] marco-c opened #1128 "Move releng-svc-compute to m5 again"
I had switched to r4 because of OOMs, but recent mozilla-central changes (https://bugzilla.mozilla.org/show_bug.cgi?id=1454629) should have greatly reduced the size of reports, so the memory usage should be improved.

[2018-04-27 09:59] marco-c opened #1129 "Allow multiple instanceTypes in our provisioners"
By allowing multiple instanceTypes, we might be able to save money by always using the cheapest option.

We should also probably review the configuration, e.g. I don't know how:
[code]
were chosen for `releng-svc-compute`.

Or why:
[code]
were chosen for `releng-svc`.

[2018-04-30 15:18] marco-c commented on #1129
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1455706.

[2018-04-30 15:18] marco-c commented on #1128
I'll do this after the next release.

[2018-04-30 15:45] #1115 closed

[2018-04-30 15:56] marco-c opened #1134 "shipit_code_coverage: Remove get_last_task from taskcluster.py"
This function is no longer used, we should remove it and its tests.

[2018-05-02 15:26] jankeromnes commented on #1036
Not quite sure how to format `[ ] Modified files paths in the email (without making the email unreadable)` yet.

Here is a quick mockup of what this could look like:

![low-coverage-files](https://user-images.githubusercontent.com/599268/39532823-e0457784-4e2d-11e8-95b8-c356790627a6.png)

I guess we should truncate this list to some reasonable number, in order not to overload the email.

[2018-05-02 15:46] marco-c commented on #1036
Sounds good, maybe we can also just show files for which we support coverage collection (files with one of these extensions: https://uplift.shipit.mozilla-releng.net/coverage/supported_extensions), which would make the list shorter.

Would it make sense to show the coverage numbers per-file instead of just the overall number? (if you modify the notifier.py script to use the `coverage/changeset/` e

[2018-05-04 11:01] pgadige commented on #1069
I'm working on this.

[2018-05-04 12:13] marco-c commented on #1069
For release management projects we should probably keep using `Mozilla Release Management` as author and `release-mgmt-analysis@mozilla.com` as author_email.

[2018-05-04 12:16] pgadige commented on #1069
So, all projects prefixed `releng-` are considered as release management projects?

[2018-05-04 12:18] marco-c commented on #1069
No, only `shipit-static-analysis`, `shipit-code-coverage`, `shipit-code-coverage-backend`, `shipit-uplift`, `shipit-bot-uplift`, `shipit-pulse-listener`.

[2018-05-04 12:24] pgadige commented on #1069
Thank you, @marco-c ! I shall take a note of this useful information. Being a newbie, I'm still exploring the codebase and gradually picking up the jargon specific to the project.

[2018-05-04 13:16] marco-c commented on #1069
No worries, and thanks for picking this up ;)

[2018-05-04 17:03] #803 closed

[2018-05-04 17:26] calixteman opened #1142 "shipit_code_coverage: move hgmo stuff from report_generators to make something reusable"

[2018-05-04 17:27] calixteman opened #1143 "shipit_code_coverage: move fake repo stuff from test_report_generators to a pytest fixture"

[2018-05-04 17:40] marco-c commented on #1142
We can re-use it in notifier.py, where we were using hgmo

[2018-05-04 21:58] marco-c opened #1145 "Remove '/coverage' from endpoints"
Now that the coverage endpoints are out of shipit-uplift, it's obvious that they are about coverage.

[2018-05-07 09:04] #1069 closed

[2018-05-07 11:13] #1143 closed

[2018-05-07 13:55] #1134 closed

[2018-05-07 17:10] #1142 closed

[2018-05-09 10:15] marco-c opened #1150 "shipit_code_coverage: Remove fallback from debug to opt"
The fallback added in https://github.com/mozilla-releng/services/pull/1149 should be removed once https://bugzilla.mozilla.org/show_bug.cgi?id=1457393 lands and sticks for a week / two weeks.

[2018-05-09 13:38] calixteman opened #1152 "shipit_code_coverage: the file zero_coverage_report.json contains some relative paths"
For example:
gfx/skia/skia/include/ports/../private/SkTemplates.h
third_party/aom/aom_dsp/simd/./v128_intrinsics_x86.h

[2018-05-09 13:45] marco-c commented on #1152
I think we should do the cleanup in grcov, when parsing the gcda files.
I've opened https://github.com/marco-c/grcov/issues/100.

[2018-05-09 13:45] #1152 closed

[2018-05-09 13:45] marco-c commented on #1152
(Luckily this is not a large problem, as it only affects a small subset of header files)

[2018-05-10 16:56] marco-c opened #1154 "shipit_code_coverage: Remove '--ignore-dir gcc' from grcov invocation"
It's no longer needed as the directory is already ignored at the source.

[2018-05-11 08:32] #1088 closed

[2018-05-11 13:43] marco-c commented on #911
https://github.com/mozilla-releng/services/pull/1156 is adding tests for download_all.

Only `generate_path` is missing now.

[2018-05-11 13:51] #1154 closed

[2018-05-11 16:09] marco-c opened #1160 "shipit_code_coverage_backend: Make endpoint to retrieve raw file coverage also retrieve coverage for a directory"
This is needed for the file viewer on the frontend.

[2018-05-11 16:15] marco-c opened #1161 "shipit_code_coverage_backend: Add endpoint to retrieve directory coverage"
Could be the same as https://github.com/mozilla-releng/services/issues/1160 or a separate one.

[2018-05-11 17:42] marco-c opened #1162 "get_latest_build can fail, handle the error better"
E.g. I've seen `AttributeError: 'ContentTypeError' object has no attribute 'description'` and `ContentTypeError: 0, message='Attempt to decode JSON with unexpected mimetype: text/html'` on Sentry, from https://github.com/mozilla-releng/services/blob/61ecc65bc2fcfae00c59bf3137a1623eae2ebdc4/src/shipit_code_coverage_backend/shipit_code_coverage_backend/coverage.py#L135.

Like the other functions of

[2018-05-13 16:15] clarammdantas commented on #911
Can I do the generate_path tests? :)

[2018-05-13 18:34] marco-c commented on #911
Sure!

[2018-05-13 18:34] marco-c commented on #911
(I've had to add tests for download_all as I was modifying it)

[2018-05-14 00:00] clarammdantas commented on #911
That's ok! :)
I'm sorry that I take too long anyway, I was a little busy

[2018-05-14 10:54] #1031 closed

[2018-05-15 08:38] marco-c opened #1164 "shipit_code_coverage: Make chunk mapping generation also use per-test data"
Right now we are using the normal test suites data, but we are not using the per-test data yet.

We should use the normal test suites data for suites and tests about which we don't have per-test data, and use per-test data for the others.

[2018-05-15 15:28] jankeromnes opened #1165 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/241468/diff/10/

**Problem:**

- Production has 2 publishable `mozlint` issues
- Staging has 0

More details in the email reports:

[code]

but Staging says these issues aren't "new":

[code]

Both are bugs (the issues should be detected as "new"):

1. The file `testing/raptor/raptor/results.py` is new, so any issues detected in it should be "ne

[2018-05-15 16:13] jankeromnes opened #1166 "shipit_static_analysis: Enable Phabricator reviews in production"
Our automated review bot is able to analyze Phabricator code reviews.

We should evaluate its results on staging, and once satisfied we should enable it in production (and evaluate it there as well).

TODO:

- [x] Ensure that our bot detects new Phabricator code reviews (on staging and production)
- [x] Ensure that our bot publishes automated reviews when it finds issues
- [x] Validate published r

[2018-05-15 16:34] jankeromnes commented on #1165
Additionally, the only occurrences of `Is new: true` that I found are a bit weird:

https://reviewboard.mozilla.org/r/231228/diff/1/

[code]

and:

[code]

Most of these lines weren't actually modified by the patch, except `WebrtcGmpVideoCodec.cpp:829`.

[2018-05-17 09:54] garbas commented on #1075
@La0 probably it slipped your radar, did you make any progress on this?

[2018-05-17 09:56] garbas commented on #1106
ping @marco-c @La0 @jankeromnes

/me just making sure this issue is not lost

[2018-05-17 09:57] garbas commented on #1109
ping @marco-c @La0 @jankeromnes

/me just making sure this issue is not forgotten

[2018-05-17 11:04] abpostelnicu commented on #1106
I've seen this elsewhere on our bot, strangely this cannot be reproduced locally. using:

`./mach static-analysis check -c=-*,modernize-use-equals-default layout/style/ServoBindings.cpp`

But the truth is I've only tried on MacOS and the bot runs of Linux, I'm gonna test it on Linux also.

[2018-05-17 12:17] garbas commented on #1129
@marco-c we need some help from taskcluster team here right?

[2018-05-17 12:44] marco-c commented on #1129
Likely yes. I have no knowledge about this stuff.

[2018-05-17 13:31] calixteman opened #1174 "shipit_code_coverage: put hgmo.pid in working dir instead of /tmp"

[2018-05-18 09:27] garbas commented on #1079
@La0 tnx for fixing this. i suppose a proper solution going forward would be to have "enable" option for each channel. then we don't have to comment out anything.

in #1178 i'm uncommenting tooltool and treestatus

[2018-05-18 09:27] #1079 closed

[2018-05-22 22:59] jankeromnes opened #1180 "please: error: creating symlink from '/app/result-please-cli.tmp-1401-202365492' to '/nix/store/kbyrh19gl535v477qmn1v9rngl7r0c0d-python3.5-mozilla-please-cli-40': Permission denied"
STR:
- `git clone https://github.com/mozilla-releng/services`
- `cd services`
- `sudo ./please shell shipit-static-analysis`

Error:

[code]

Re-running in debug mode:

[code]

[2018-05-24 09:16] garbas commented on #1084
@mozbhearsum As you suggested I'm bringing @catlee into this discussion.

I'm sorry for being pain in the ass (yet again), but I think I have few points about the pyup.io requirement. As python standards document was finalizing I didn't want to bring this up for two reasons: (1) didn't want to kill the energy and the effort going into that document at that moment, especially since (2) I didn't hav

[2018-05-24 10:18] garbas opened #1185 "create heroku users that we should use to push docker images to heroku"
create one user for each channel (testing, staging, production)

[2018-05-24 10:30] garbas opened #1186 "create different dockerhub users for different channels"

[2018-05-24 14:55] catlee commented on #1084
The standards are written for our python projects in general, and not specifically for releng-services. The particular problem that pyup is solving in general is project dependencies drifting months or years out of date without notice.

The value of automated pull requests and testing of dependency upgrades is that it provides the team with notification that something upstream has changed, and whe

[2018-05-24 16:34] jankeromnes commented on #1180
A few updates:

- I added my user to the group `docker` in order not to need `sudo` before `./please`
- I removed all Docker containers and images
- Still no dice, same error

[2018-05-24 20:41] jankeromnes commented on #1166
So, running `shipit-static-analysis` a second time with:

[code]

[2018-05-25 10:19] garbas commented on #1084
ok this is how i understand this: we need to implement this automatic thingy just to follow the standards, even though we will ignore those PRs since we are already doing this as part of the bi-weekly deployment / maintenance, but they will serve as notification for people not working with/on m-r/services.

if nothing urgent comes up in Q3 i think this will be a good task to start the quarter. /cc

[2018-05-25 11:31] mozbhearsum commented on #1084
I'm not sure why this has to be something that's ignored. Once you have a thing that's checking for updated deps and opening PRs for them (which doesn't have to be pyup.io), presumably tests are being run, so you should have some confidence in their mergability? Or do humans go around and do extensive testing of each service before taking such upgrades? If they do, could they use the PR as a basis

[2018-05-25 12:37] mozbhearsum commented on #1084
To be clear: the policy isn't asking for automatic updating of master, it's asking for automatic opening of PRs. Most of other projects also have branch protection enabled for the master branch, so PRs are required (and desired) for these sorts of changes.

[2018-05-25 18:11] lundjordan commented on #1084
This is not a fair statement. Gentle reminder that there are humans behind the these standards who spent time and mindfulness in its creation.

@garbas  - I agree with a few things you mentioned. Getting off relengapi is top priority. Services has proven thus far that the owners of releng/services are diligent about keeping their packages up to date. I believe that is reason enough to delay this t

[2018-05-25 20:45] tomprince opened #1190 "shipit_static_analysis: Close issues that have been fixed."
**MozReview URL:** https://reviewboard.mozilla.org/r/245838/#review253028

**Problem:** The bot should close detected issues in subsequent runs, when it detects they have been fixed. This is related but not identical to #663 and #957.

[2018-05-28 09:19] jankeromnes commented on #1166
The phabricator hook parameter issue should be fixed by 3b247846c3f8dae80532aa671421d2df96e241f5. Hopefully auto-reviews will now work on staging, allowing us to move on to review validation.

[2018-05-28 12:52] jankeromnes commented on #1190
Hi @tomprince, thank you for this suggestion! To ensure that we completely understand your request, do you mean that:

STR:
- Developer pushes a commit to MozReview
- Review Bot detects a defect in the commit, and opens a MozReview issue
- Developer fixes that issue, and pushes a new revised commit to MozReview

Expected:
- MozReview and/or Review Bot should automatically close the issue, because

[2018-05-28 15:10] tomprince commented on #1190
Yes, exactly.

[2018-05-28 15:57] La0 commented on #1190
@jankeromnes We could indeed close the issue:
* if no issue is detected on the patch
* a previous automated review was opened (that would need some tweaks in the comment detection)

[2018-05-29 12:52] sylvestre opened #1192 "Missing flake8 issues which should be reported aren't"
Here:
https://reviewboard.mozilla.org/r/247290/
I don't have any report of issue.

But locally with
` ./mach lint -l flake8`
or with treeherder:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=e5b7ee72b80dd4a5bc7ac9ffa91905178d3dc1e8&selectedJob=180700867
I can see a bunch of defects

[2018-05-29 12:57] marco-c commented on #1192
We're still using the old `in_patch` mechanism for now, so those issues are ignored as they are outside the patch.

[2018-05-29 12:59] sylvestre commented on #1192
I should not have an email with the correct information with the new mechanism?

[2018-05-29 13:03] marco-c commented on #1192
IIRC we either use one or the other, but @La0 can confirm.

[2018-05-29 13:09] La0 commented on #1192
Current deployments:
* before/after on staging => only admin emails are sent
* in_patch on production => mozreview + admin emails

We should all have received some emails about this review, but i don't have anything related.
There is no trace in papertrail either... so the task was not started, or crashed early ?

I'll try to reproduce this locally

[2018-05-29 13:09] sylvestre commented on #1192
From IRC with bastien:
https://github.com/mozilla-releng/services/blob/master/src/shipit_static_analysis/shipit_static_analysis/lint.py#L162

[2018-05-29 14:59] La0 opened #1193 "Node js version outdated for mozlint"
[code]

[2018-05-29 15:00] La0 commented on #1192
After local tests, mozlint does not find any issue here. This is a bug on our side

[2018-05-30 10:42] #1192 closed

[2018-05-31 09:18] marco-c opened #1198 "Review usage of the API from the frontend"
We can remove some complexity from the backend. There are some parts of the replies that I added at the time for easing debugging, but pretty sure the frontend is not using them for anything important (e.g. the git changeset).

[2018-05-31 09:23] marco-c opened #1199 "Ignore revisions with "unreasonable" number of records"
There could be cases where a build was not correctly injested in ActiveData (the most common one is a build that just finished).
We could consider "more or less the same as other revisions" as being "reasonable".

[2018-05-31 10:55] #1150 closed

[2018-05-31 11:12] #1193 closed

[2018-05-31 11:36] sylvestre commented on #1192
Fixed indeed:
https://reviewboard.mozilla.org/r/247290/#review254362
merci beaucoup!

[2018-05-31 11:39] garbas opened #1200 "purity likeage in shipit-static-analysis"
Something is causing that we often have to rebuild `shipit-static-analysis`. Quick look didn't reveal anything, but I suspect something is being pulled in via `src` or `src` of its dependencies that is causing often rebuild.

@marco-c @La0 maybe you have some idea what could be the cause, but I think we should look at this soon since it is affecting speed of all of our build.

[2018-05-31 14:47] garbas opened #1201 "releng-notification-identity/policy is missing CORS headers for releng-frontend"

[2018-06-01 13:52] marco-c opened #1203 "shipit_pulse_listener: Deployment not working"
The last deployment was made on Heroku on May 8. So there are at least two deployments missing (update to v40, dependencies update).

CC @garbas

[2018-06-01 14:00] jankeromnes commented on #1203
Blocks #1166.

[2018-06-01 14:45] garbas commented on #1203
oh my, there was a change in how docker<->heroku work
it is not enough to only push the docker image. now you need to curl to trigger a release

https://devcenter.heroku.com/articles/container-registry-and-runtime#releasing-an-image

From the look of it last release was done on May 8th, for any of the heroku projects

[2018-06-01 14:52] jankeromnes commented on #1203
Good catch!

I think you can set up a web hook on Docker Hub itself, or maybe you can `curl` from the same CI you use to auto-build the docker images?

[2018-06-01 16:40] jankeromnes commented on #1166
Now automatically published reviews on staging! :tada: Thanks @marco-c and @garbas for the help, and especially @La0 for writing all the code! :stuck_out_tongue:

Latest review on https://phabricator-dev.allizom.org/D324 was automatically submitted by the bot after I pushed a new revision, and you should have received an email titled:

    [staging] New Static Analysis Phabricator #645 - PHID-DIFF

[2018-06-02 05:47] garbas commented on #1203
The problem was fixed in #1204 and tested (successfully) on staging, but we still need to decide if we want to uplift this fix to production or just move ahead and cut new release.

Regarding releng stuff we can safely just cut new release.
@marco-c @La0: Do you think we need to uplift this fix to production?

[2018-06-04 00:18] Anton-Latukha commented on #1064
Good day.

Go 1.9 was pinned to Docker. That is why Go was not removed from closure.
Solved after https://github.com/NixOS/nixpkgs/pull/41435 merge.

[2018-06-04 08:50] garbas opened #1205 "setup nagios monitoring for *.moz.tools"
I think this was left out when you switched to *.moz.tools. I think we should also update the documentation and also update weekly release document to include checking if something changed in nagios configuration for our services.

/cc @La0 @marco-c

[2018-06-04 10:13] jankeromnes commented on #1166
Ok, in the latest review (which was automated), we appear to have `eslint` comments now, but still no `clang-tidy`.

The staging configuration looks like this:

[code]

From the logs, it looks like clang-tidy did run, but it's hard to tell exactly what happened (partly because clang-format adds a lot of noise).

Relevant log excerpts:

[code]

I'm not sure what happened, as all analysis steps seem

[2018-06-06 08:48] La0 commented on #1203
Closing this issue, since v41 fixed it, and Pulse listener got updated.

[2018-06-06 08:48] #1203 closed

[2018-06-06 14:44] calixteman opened #1207 "shipit_code_coverage: update grcov to version 0.1.38"
https://github.com/marco-c/grcov/releases/tag/v0.1.38

[2018-06-06 17:18] #1207 closed

[2018-06-07 10:45] La0 commented on #1166
By using #1209, i now get the following issues:

[code]

[2018-06-07 13:29] La0 commented on #963
Bump.
We really need integration tests, to avoid #1209 kind of bugs.

@garbas I'll discuss this with you during the All Hands

[2018-06-08 10:19] La0 commented on #553
Bump.

@garbas Any idea why that might happen ? Because it's an heroku worker dyno ?

[2018-06-08 14:27] jankeromnes opened #1210 "shipit_static_analysis: AttributeError: 'ClangTidyIssue' object has no attribute 'in_patch'"
This just happened on staging ([full logs](https://tools.taskcluster.net/groups/FCHko0SNQ62rhQ9l-zSvkw/tasks/FCHko0SNQ62rhQ9l-zSvkw/runs/0/logs/public%2Flogs%2Flive.log)):

[code]

[2018-06-08 14:35] jankeromnes commented on #1166
So, our bot seems to catch all the issues again (on staging), which is great.

However, yesterday's push to Phabricator staging didn't get any review comments.

I attempted another push today, watching the logs. I did find a bug with the email report (#1210), but his time the Phabricator comments *did* work. Maybe it's a race condition, but I guess we'll have to try again a few times to make sure

[2018-06-08 14:56] garbas commented on #553
@La0 no idea, i'm seeing this also for releng-tooltool worker.

[2018-06-08 15:40] La0 commented on #553
I solved it for `shipit-pulse-listener`, it just needs another env variable, `APP_CHANNEL`.
It's set for Taskcluster hook, but not for Heroku envs.

[2018-06-08 19:05] garbas commented on #553
ah right, that makes sense.  i will do the same for releng-tooltool worker

[2018-06-08 19:06] garbas commented on #553
Thinking about it again. Should we try to parse channel from TAKCLUSTER_SECRET?

[2018-06-10 06:53] marco-c opened #1213 "Task was aborted because states could not be created successfully"
Three static analysis tasks recently failed with:
```[taskcluster:error] Task was aborted because states could not be created successfully. Error: Error calling 'link' for taskclusterProxy : Error: (HTTP code 500) server error - connection error: desc = "transport: dial unix /var/run/docker/containerd/docker-containerd.sock: connect: connection refused"  | Error: Error calling 'link' for localLive

[2018-06-10 06:54] marco-c commented on #1213
These static analysis tasks failed recently:
dB-tDdbkQ1W_uDuOk2CgBg
Ifx4xmeTQ2ONWSHJcArWXw
UR_C4eyTSq-WNNqkbxemiQ

[2018-06-12 05:44] marco-c opened #1214 "shipit_static_analysis: Use base revision information from Phabricator when it is available"
In some cases, we have the base revision information in the Phabricator metadata. When we have it, we should use it instead of applying the patch on top of mozilla-central tip.

[2018-06-12 05:45] marco-c opened #1215 "shipit_static_analysis: Support a stack of revisions"
We should support stack of revisions too (when the developer manually sets dependencies between them).

[2018-06-12 05:54] marco-c commented on #1215
Example: https://phabricator.services.mozilla.com/D819 (go to "Stack").

[2018-06-12 05:56] marco-c commented on #1214
In some cases it might also be a git revision, so we need to translate it to a mercurial revision (hopefully we can use the mapper service at https://api.pub.build.mozilla.org/mapper/gecko-dev/).

[2018-06-14 17:02] jankeromnes opened #1217 "shipit_code_coverage_frontend: Investigate using FuzzManager's coverage front-end"
They already have a fully-working and nice-looking front-end with per-directory view, filtering, etc (using Vue.js):

https://github.com/MozillaSecurity/FuzzManager/blob/master/server/covmanager/templates/collections/index.html

Since it's all open source, maybe we could somehow extract the Vue components from their Django templates, and re-use it as our own front-end?

[2018-06-14 17:10] marco-c commented on #1217
They have a few different needs than us, but definitely some of the things we can share (mainly, the file viewer).

[2018-06-14 17:14] La0 commented on #1217
As @choller pointed out during this morning's meeting, the Vue.js code is tightly coupled with the django templates.
To use their (non-)components, we first need to help them extract the [components](https://vuejs.org/v2/guide/components.html) into single file `.vue` files, and compile the application with webpack.

Now that's not a huge load of work, but we have to make a technological decision h

[2018-06-14 17:15] marco-c commented on #1217
We're already using React in Armen's frontend, so we'll probably have to keep using it.

[2018-06-14 17:34] jankeromnes commented on #1166
Now testing on a new phabricator-dev revision: https://phabricator-dev.allizom.org/D431

Triggered analysis task: https://tools.taskcluster.net/groups/DFq61B7ISwaYdCYqUc6QCw/

Last try didn't post any `clang-tidy` comments. Let's see if this one does.

[2018-06-14 18:07] jankeromnes commented on #1166
I have a few nits about the automated review that was published to [D431](https://phabricator-dev.allizom.org/D431):

- [ ] off-by-one error on the lines a review comment is attached to (e.g. for a defect on line 7, the comment is attached to lines 7+8, placing one line too low)
- [ ] the bot missed 11/19 clang-tidy defects (that's 42% hit rate, which is not great):
  - `readability-else-after-ret

[2018-06-14 18:35] La0 commented on #1166
10 issues were found before applying the patch, as we are running with new `BEFORE_AFTER` mode on staging:

[code]

[2018-06-14 18:39] La0 commented on #1166
The codespell error is not in the [dictionary](https://github.com/codespell-project/codespell/blob/master/codespell_lib/data/dictionary.txt) (depandent)

[2018-06-14 23:13] marco-c commented on #1161
Probably best for the frontend if it's the same as #1160.

[2018-06-14 23:13] #1161 closed

[2018-06-14 23:14] marco-c commented on #1160
The API to retrieve file or directory coverage could be a single API that returns either a directory or a file:
Directory
[code]

File
[code]

[2018-06-15 06:44] marco-c opened #1218 "Support deploying to PyPI"
I would like to extract some of the code from shipit_code_coverage and make it a library to dpeloy to PyPI. The code would need to stop using the common libraries from lib/ in order to be standalone, but I think it is feasible (the particular module I want to move is only using logging).

[2018-06-15 16:30] La0 commented on #1218
@garbas has some plans for this, using a new deployment target (in order to publish cli_common & co)

[2018-06-15 16:46] La0 commented on #1027
This will be solved once we have the per project configuration + signin wizard (Taskcluster will not be used by default)

[2018-06-15 16:54] #1066 closed

[2018-06-15 16:54] La0 opened #1219 "Per/sub directory projects"
Support glob (`src/*` and `src/*/*`) format to lookup projects directory (with a `default.nix` file for now).

The glob configuration will be hard-coded for this ticket (will be configurable once we have per project config)

[2018-06-15 16:58] La0 opened #1220 "Per project configuration"
Discussed during the mid year All hands 2018:

We'll use TOML files (parser easily available in Nix + python)

The process imply to merge various files in a specific order

1. Global config (hardcoded)
2. Home folder (optional ~/.pleaserc, essentially for credentials)
3. Root (or base folder) with config.toml
4. Per project (found from above "src" key)
5. Remote secured source, optional and depend

[2018-06-15 16:59] garbas commented on #962
This was partially fixed in #1061 but the rest would be fixed in #1219

[2018-06-15 16:59] #962 closed

[2018-06-15 17:03] #986 closed

[2018-06-15 17:04] La0 opened #1221 "new "./please signin" command"
We need a new command included in `./please`, to setup Taskcluster authentication on a developer computer.

`./please signin` command should the same as `taskcluster signin` does ([here](https://github.com/taskcluster/taskcluster-cli/blob/master/cmds/signin/signin.go)).

The taskcluster credentials should be then stored in `~/.pleaserc`.

[2018-06-15 18:07] marco-c commented on #1215
I've asked the Phabricator people, they have several options to improve things for the "multiple patches" case, but on the client side, so it doesn't affect us.
Eventually, on the Phabricator server side, it's still going to be a stack of revisions.

So I think we can start working on this already.

@jankeromnes could you create some test revisions (like the one we already have) and link them manu

[2018-06-17 20:09] sylvestre commented on #1166
I created a PR https://github.com/codespell-project/codespell/pull/549 for the depandent thing

[2018-06-18 07:18] La0 commented on #1166
I'll be working on the other issues this week, i'll update this ticket when i get some code

[2018-06-18 09:57] marco-c opened #1222 "shipit_code_coverage: Store zero coverage report as a Taskcluster artifact"

[2018-06-18 11:36] garbas commented on #1027
relevant tickets #1220 and #1221

[2018-06-19 08:28] jankeromnes commented on #1160
I'll try to implement this (but feel free to steal this issue if you're faster).

[2018-06-19 08:29] jankeromnes commented on #1166
Thanks @La0! Please ping me if I can help. :slightly_smiling_face:

[2018-06-19 08:31] marco-c commented on #1160
For now I'd keep it simple and just return the aggregate result, then we can think about how to improve it
(we need to think what the frontend should look like, which filters we want to support, etc.). I think showing a list of chunks is not so interesting, but in the future we could add some filtering capabilities to the frontend (e.g. "only show Windows coverage", or "only show web-platform-test

[2018-06-19 08:34] marco-c commented on #1094
Since the frontend lives at https://github.com/mozilla/firefox-code-coverage-frontend, we should probably implement this there. I'll keep the issue open to track moving the zero coverage report, no matter where we are actually going to move it.

[2018-06-19 08:45] jankeromnes commented on #1217
@La0 thanks for reviewing their code! What amount of work do you think would be required to just quickly rip out the HTML / CSS / JS code from their django templates, and move them into an independent clean Vue repository? (That way they could then start migrating to it.)

Our current front-end has minimalistic React components, with very custom styling (while FuzzManager's front-end seems to re-u

[2018-06-19 09:57] #1222 closed

[2018-06-19 10:45] marco-c opened #1226 "Add API to retrieve list of changesets with overall coverage"
This is going to be needed by the frontend in order to build a graph showing the evolution of the coverage.

[2018-06-19 10:47] marco-c opened #1227 "shipit_code_coverage_backend: Add filtering capabilities to the API"
At the moment, the APIs are all retrieving the overall coverage.
We should add filtering capabilities so the frontend can require specific things from the backend.

Filters we should support:
- Platform (Linux, Windows, Mac, etc.);
- Language?
- Test suite

[2018-06-20 09:10] La0 commented on #1166
The review summary is generated by Phabricator, we only push [the same comment](https://github.com/mozilla-releng/services/blob/master/src/shipit_static_analysis/shipit_static_analysis/report/base.py#L127) as on Mozreview, without any extra infos about issues.

The [differential.createcomment](https://phabricator-dev.allizom.org/conduit/method/differential.createcomment/) is used to publish these

[2018-06-20 09:48] La0 commented on #1166
I published a [test review](https://phabricator-dev.allizom.org/D324#21841) from my local version fixing the offset lines + bug report link

[2018-06-20 15:36] La0 opened #1230 "shipit-static-analysis: Index Taskcluster tasks"
The static analysis should setup these [Taskcluster index routes](https://docs.taskcluster.net/docs/reference/core/taskcluster-index/references/api) so we can look them up:

* `project.releng.services.static-analysis.<channel>.<source>.latest` where **source** is either `mozreview` or `phabricator`
* `project.releng.services.static-analysis.<channel>.<source>.<review_id>` where **review_id** is th

[2018-06-25 10:59] La0 commented on #1217
@jankeromnes Sorry for the late reply, i missed this notification.

The easy part is moving the code in a separate code/folder, but then you would only have standalone components that cannot interact together (because they create one Vue application per Django template, instead of using a single Vue app with multiple components).
So you would then need to refactor the whole codebase into simpler c

[2018-06-25 11:30] jankeromnes commented on #1166
Indeed, thanks!

- However, I don't think we'll want to `reject` reviews, as that may be perceived as harsh (many reviewers often avoid using `r-` on a patch, and prefer clearing the review request instead).
- Also I don't think we should remove the `request_review` flag, because the developer may still want the requested person to have a look (e.g. a patch "[WIP] please comment on my general appr

[2018-06-25 14:29] La0 opened #1235 "shipit-static-analysis: Use mzl.la links for bug reports"
As suggested by @marco-c in #1229, we should use mzl.la links for our bug reports.

[2018-06-25 14:35] jankeromnes commented on #1166
Thanks for merging the fixes!

But this issue is not quite done yet. (I'll close it when we've enabled Phabricator in production.)

[2018-06-25 14:48] sylvestre commented on #1235
Don't spend too much time on this, github urls aren't long

[2018-06-25 15:07] jankeromnes opened #1236 "shipit_static_analysis: Enable `before/after` comparison in production"
We are currently experimenting with a better heuristic to detect which code defects were caused by a given patch (as opposed to code defects that were already present in the code before the patch).

Currently, our bot uses `IN_PATCH` (i.e. "only report defects that are on lines directly modified by the patch"). While good enough, this heuristic misses new defects that are adjacent in the control g

[2018-06-25 15:11] jankeromnes commented on #1236
Regarding `1. Verify that BEFORE_AFTER works on staging, without any bugs`, we believe that:

from https://github.com/mozilla-releng/services/issues/1166#issuecomment-397387354 may be a `BEFORE_AFTER` bug (i.e. these defects are considered "newly introduced by the patch", even though they look like pre-existing defects).

Additionally, running the same analysis on staging but with `IN_PATCH` inste

[2018-06-25 15:13] La0 commented on #1166
Sorry @jankeromnes, I did not want to close this issue, i used `refs` instead of `closes` thinking that would do the trick. There is indeed some work left !

[2018-06-25 15:17] jankeromnes commented on #1236
Regarding `2. Determine whether BEFORE_AFTER is a clear improvement over IN_PATCH`, I'm worried that `BEFORE_AFTER` will work too well, and that we will miss opportunities for developers to fix pre-existing defects, because it will no longer report pre-existing defects on lines modified by a developer.

E.g. if I refactor a line containing a serious defect, I'm happy if the bot complains about thi

[2018-06-25 15:42] sylvestre commented on #1236
In general, developers are like "oh, this isn't really my problem or what I am trying to fix now".

In a perfect world, we would be able to separate ride along defects and new defect.

Maybe we would start a discussion on dev-platform about that?

[2018-06-25 15:48] jankeromnes commented on #1166
No worries! I think GitHub's heuristic triggered on the word "Fixes", followed by an issue number (regardless of the text in between). :stuck_out_tongue:

[2018-06-25 15:50] jankeromnes commented on #1217
In today's meeting, we suggested keeping our existing front-end, but porting the look & feel of FuzzManager's front-end over (and maybe that's mostly Bootstrap).

[2018-06-26 08:38] jankeromnes commented on #1166
In the TaskCluster staging secrets, I changed `PUBLICATION:` from `BEFORE_AFTER` to `IN_PATCH`, in order to use what production will use soon.

I then uploaded a new diff to https://phabricator-dev.allizom.org/D324, attempting to re-trigger the bot (with new staging code and `IN_PATCH`).

However, the new task https://tools.taskcluster.net/groups/AO98K3mTTJOKBLNQBMUyLA instantly failed with: `Asse

[2018-06-26 08:52] jankeromnes commented on #1166
:warning: It turns out that there are several commits on `staging` that are not on `master`: https://github.com/mozilla-releng/services/compare/staging?expand=1

@La0 I would like to trigger a staging run of `shipit-static-analysis`, but it fails now. Could you please help me run another validation run? (on phabricator, with the exact code that will go to production tomorrow, and the correct stagi

[2018-06-26 09:15] jankeromnes commented on #1166
I've force-pushed `master` to `staging` again, and I'm waiting for `shipit-static-analysis` to finish building before triggering another Phabricator analysis.

[2018-06-26 10:06] jankeromnes commented on #1166
`shipit-static-analysis` and `shipit-pulse-listener` were successfully built and deployed to staging, and I triggered another analysis.

This time the task went on longer, but it failed with:

[code]

[2018-06-26 12:11] marco-c opened #1239 "shipit_static_analysis: Assert we're using the same Rust version as on mozilla-central"
See https://github.com/mozilla-releng/services/issues/1166#issuecomment-400254031 and https://github.com/mozilla-releng/services/pull/1238.

[2018-06-26 12:14] marco-c commented on #1166
For historical purposes: the problem was that we were using a version of Rust (1.27.0) which is not supported for automation on mozilla-central. We were not pinning Rust, so we inadvertently updated from 1.26.2 to 1.27.0 (this is now fixed by https://github.com/mozilla-releng/services/pull/1238).

[2018-06-26 12:44] jankeromnes commented on #1180
@La0 @garbas This error still reproduces for me on today's `master` (e8335cde0033c8ef2c67ee3f4dec016f2feeb991 / mozilla-releng-services-v42-0c0193c2b82f846185d6b9b91ac9c8266f3c99af28be414acac46dbde41f8b4f).

[2018-06-26 14:12] marco-c commented on #1214
This is no longer true luckily, all revisions are mercurial revisions now!

[2018-06-26 14:29] jankeromnes commented on #1166
Thanks to Bastien's fix, I was finally able to run another analysis on staging, and the bot posted a new review to https://phabricator-dev.allizom.org/D324.

From what I see, it reveals the following problems (with the `IN_PATCH` heuristic):

- [ ] some comments are malformed (e.g. they include spurious output after the issue body, e.g. some unrelated warning, which looks like a clang-tidy parsing

[2018-06-26 17:19] abpostelnicu commented on #1166
misc-suspicious-missing-comma didn't work because the initialiser list if < 5 - Let's use an official example from here https://github.com/llvm-mirror/clang-tools-extra/blob/release_50/test/clang-tidy/misc-suspicious-missing-comma.cpp

[2018-06-26 23:34] marco-c opened #1240 "shipit_code_coverage: Tasks failing because BACKEND_HOST is missing in secrets (even though it is there)"
@garbas any idea what might be causing this?

Examples:
https://tools.taskcluster.net/groups/MguM4t4sR7uj9WXNSu6vDg/tasks/LNVaEnJGSiWZqMfnGKRwiA
https://tools.taskcluster.net/groups/QT6fhXBgTiiXxllCNqPebA/tasks/QT6fhXBgTiiXxllCNqPebA
https://tools.taskcluster.net/groups/IivvSt9qTuW0BXn5cSYsBQ/tasks/IivvSt9qTuW0BXn5cSYsBQ
https://tools.taskcluster.net/groups/G1Fjd5Q_QyeLxowC_9K3WQ/tasks/G1Fjd5Q_Qye

[2018-06-27 12:03] marco-c commented on #1240
I think this was on the `testing` branch, maybe @La0 enabled the code coverage hook on pulse listener. I've disabled it now.

[2018-06-27 12:03] #1240 closed

[2018-06-27 12:19] marco-c opened #1242 "Change dyno types for testing and staging branches"
We are currently using professional dynos for all projects, but we probably don't need powerful dynos for testing and staging.

Maybe we could switch to the free tier for testing and the hobby tier for staging?

[2018-06-28 12:35] marco-c commented on #670
@abpostelnicu @jankeromnes did you end up filing a bug for this?

[2018-06-28 13:48] marco-c opened #1245 "shipit_code_coverage_backend: Ignore jsdcov builds"
The coverage data coming from jsdcov should be ignored.

[2018-06-28 13:48] marco-c opened #1246 "shipit_code_coverage_backend: Ignore per-test coverage records"
Those records should not be used for normal reports.

[2018-06-28 13:57] marco-c opened #1247 "shipit_code_coverage: Add a report showing files with zero coverage on a platform but not on another"
Frontend part is at https://github.com/marco-c/code-coverage-reports/issues/23.

[2018-06-28 15:30] jankeromnes commented on #1166
Thanks a lot @abpostelnicu for figuring out the threshold! I've updated the list of undetected checks.

Still, the checks that are not ~~strikethrough~~ should have reported defects in the patch. I'm not sure why the bot *only* reported `mozilla-*` defects.

[2018-06-29 12:43] fqueze opened #1248 "shipit_static_analysis: automated review comments not having the correct case"
**MozReview URL:** https://reviewboard.mozilla.org/r/…

**Problem:**
https://bugzilla.mozilla.org/show_bug.cgi?id=947838#c22 reports:
Error: Use cu rather than components.utils [eslint: mozilla/use-cc-etc]
 but the actual eslint report is:
424:5  error  Use Cu rather than Components.utils  mozilla/use-cc-etc (eslint)

[2018-06-29 23:20] garbas commented on #267
relevant links to bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1383045
https://bugzilla.mozilla.org/show_bug.cgi?id=1308352

[2018-06-30 15:46] marco-c opened #1249 "shipit_pulse_listener is currently broken because of changes with scopes"
triggerHook is failing for missing scopes.

CC @garbas

[2018-07-02 07:50] La0 commented on #1249
Both staging and production instances are running fine right now.
@marco-c Where did you encounter the errors ? Some chanegs were applied to Taskcluster scopes on Friday, that may induce this kind of errors.

[2018-07-02 10:57] marco-c commented on #1249
I received an email that my pulse queue was getting full, so I went on Heroku and saw the pulse listener wasn't running on staging. I restarted it and the exceptions about missing scopes were thrown, making the pulse listener stop again.

[2018-07-02 10:59] marco-c commented on #1249
The pulse listener on staging is still not working.

[2018-07-02 11:02] La0 commented on #1249
Just checked, pulse listener is down on staging (hence static analysis too). Looks like all these issues are related (tc scopes)

[2018-07-02 14:30] jankeromnes commented on #701
Note: We call our current heuristic (described above) `IN_PATCH`, and are working on a better way to detect new issues called `BEFORE_AFTER` (which runs analysis once before the patch and once after, in order to detect which defects were introduced by the patch, regardless of which line it lives on).

Hence, closing this issue as a "duplicate" of the meta-issue #1236. Thanks again!

[2018-07-02 14:30] #701 closed

[2018-07-02 14:32] jankeromnes commented on #1248
Thanks a lot for reporting this issue! I'm closing it as a duplicate of #997, but I'll look into fixing it shortly.

[2018-07-02 14:32] #1248 closed

[2018-07-02 14:50] jankeromnes commented on #997
@La0 found the culprit: https://github.com/mozilla-releng/services/blob/67c197a00e47af3bb92f3d2696a1909e6f3b3dd6/src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py#L269

[2018-07-02 15:38] jankeromnes opened #1251 "shipit_static_analysis: Parsing problem with clang-tidy issues"
**Phabricator URL:** https://phabricator-dev.allizom.org/D324 (staging)

**Problem:** Some posted issues seem to include unrelated content in their body, e.g. in this issue:

[code]

the bottom part about "modernize-redundant-void-arg" is unrelated to the actual issue.

[2018-07-02 15:40] jankeromnes commented on #1251
Note: The email report called `[staging] New Static Analysis Phabricator #686 - PHID-DIFF-ocahda37wlvf4mcnyt7n` contains several examples of issues that have an unrelated "Warning" in their body.

[2018-07-03 09:49] garbas commented on #1249
just fixed this. this was only affecting staging hooks that required `queue:create-task:aws-provisioner-v1/releng-task` scope, which was missing when jonas reorganized our roles/scopes to remove cycling dependencies.

i'm closing this, but please reopen if you see this issue is still occurring.

[2018-07-03 09:49] #1249 closed

[2018-07-03 09:50] marco-c commented on #1249
Yes, it appears to be working now. The staging pulse listener is triggering a lot of tasks.

[2018-07-03 09:59] marco-c commented on #1245
We can identify jsdcov from the name of the test tasks (e.g. test-linux64-jsdcov/opt-mochitest-e10s-2).

[2018-07-03 10:03] marco-c commented on #1246
We can identify those records because they have the name of the test: https://github.com/klahnakoski/ActiveData-ETL/blob/dev/activedata_etl/transforms/per_test_to_es.py#L89.
The other records, since they are not per-test, don't have it: https://github.com/klahnakoski/ActiveData-ETL/blob/dev/activedata_etl/transforms/grcov_to_es.py#L40.

[2018-07-03 10:06] #997 closed

[2018-07-03 10:08] marco-c commented on #1246
Another option, maybe better as it wouldn't depend on the presence of that field which could change at some point, would be to ignore records based on the name of the task.
The name of the task for per-test coverage is something like `test-linux64-ccov/debug-test-coverage-e10s`.

[2018-07-03 11:49] jankeromnes commented on #1251
If you search for `cache/sa-central` in the email reports, you'll find plenty of occurrences of this parsing problem.

I wasn't able to find an occurrence in an existing review (on MozReview), because most of the occurrences I find are from `clang-format` issues, which aren't published.

[2018-07-03 13:29] La0 commented on #1251
Here is the [raw output](https://pastebin.mozilla.org/9089036) of `./mach static-analysis check` on the diff **PHID-DIFF-ocahda37wlvf4mcnyt7n**

The bottom part is indeed unrelated to the error reported, this seems to be a repetition provided by clang-tidy for warnings (they are always present before the full line with `file:line:char`.

I guess i can skip those lines while searching for the error

[2018-07-04 07:35] La0 opened #1255 "shipit-static-analysis: Integration tests"
Those integration tests would be useful to implement:

- [ ] Taskcluster static analysis artifact download
- [ ] `clang-tidy` output on a known file (especially headers/footers)
- [ ] `clang-format` output on a known file
- [ ] `./mach lint output` on a known file
- [ ] `./mach static-analysis check` output on a known file
- [ ] Analysis on known files, expecting a specific set of issues
- [ ] Mer

[2018-07-04 08:03] #1251 closed

[2018-07-04 08:29] abpostelnicu commented on #1255
We already have 1 and 2 implemented but on taskcluster as the task Sa.
It can be ran locally as:

./mach static-analysis autotest

It does the following:
1. Download clang-tidy from the artifacts server.
2. Tests all of the enabled checkers with pre-defined test files. Please see: https://dxr.mozilla.org/mozilla-central/source/tools/clang-tidy/test

If I can be of any help on this topic please let

[2018-07-04 09:15] jankeromnes commented on #1166
I've updated our various checklists in this bug. Looking good! Thanks everyone for the hard work.

Now we only need to run analysis on **staging** one more time (I expect it to be the last), and then move on to validating production (which should take much less time hopefully).

@La0 please ping me when staging is un-broken again, so I can re-trigger an analysis.

[2018-07-04 09:19] abpostelnicu commented on #1166
There were sevaral issues why the bot only reported on mozilla checks:
1. the code was broken, it didn't compile so the generated ast was broken.
2. the logic behind the header filter was flawed, this was fixed here: https://hg.mozilla.org/mozilla-central/rev/5049afd1f26a

[2018-07-04 10:21] La0 commented on #1166
@jankeromnes Staging is back up since monday afternoon.

[2018-07-04 12:31] jankeromnes commented on #1166
Great! Thanks. I have:

- updated the `staging` branch to latest `master`
- restarted the staging-pulse-listener
- uploaded a rebased (on top of Andi's fix) "bad patch" to: https://phabricator-dev.allizom.org/D324
- which triggered this analysis task: https://tools.taskcluster.net/groups/dEVGF9o_TsyZDUmyMkcikg/

[2018-07-04 13:13] jankeromnes commented on #1166
And the results are in! We even have two reviews for the price of one on https://phabricator-dev.allizom.org/D324 (I suspect that `testing` is now also analyzing Phabricator-dev patches).

- [ ] the bot found 4/11 clang-tidy defects (33% success)
  - it missed `readability-else-after-return` in `js/src/jsapi.cpp`
  - it missed `clang-analyzer-security.FloatLoopCounter` in `js/src/jsapi.cpp`
  - it

[2018-07-04 13:37] jankeromnes commented on #1166
When running `./mach static-analysis check` locally, I do find the missing issues. However, the bot doesn't even seem to detect them (they don't appear in the logs or in the email report). Maybe another output parsing issue? It would be great to see the raw `clang-tidy` output.

Additionally, the `eslint: strict` defect in `devtools/client/menus.js` *was* detected by the bot, but for some reason t

[2018-07-04 15:58] jankeromnes opened #1256 "shipit-static-analysis: clang-tidy doesn't detect some defects"
When running inside `reviewbot` environment, a `clang-tidy` analysis detects fewer defects than when run locally in a `mozilla-central` clone.

Here is a run from a `reviewbot` environment (run via `please shell` in a clone of this repository, on an Ubuntu 16.04 server):

https://irccloud.mozilla.com/pastebin/30SSn6g9/clang-tidy-services.txt

And here is almost exactly the same command, but run in

[2018-07-04 16:01] jankeromnes commented on #1166
Update: The missing `clang-tidy` defects don't seem to be a parsing issue, as revealed by dumping raw `clang-tidy` outputs. I filed issue #1256 about this, and may have found a relevant difference between the in-services and out-of-services run logs.

[2018-07-04 16:06] jankeromnes commented on #1256
Note: Both the `reviewbot` environment (`/tmp/mozilla-state/clang-tools/clang/bin/clang-tidy --version`) and my `mozilla-central` clone (`~/.mozbuild/clang-tools/clang/bin/clang-tidy --version`) use the same version of `clang-tidy`:

[code]

[2018-07-04 16:31] marco-c commented on #1256
Another missing file is cstddef. I tried to find it in the docker image for static analysis:
[code]

Maybe we should force using gcc 6 instead of gcc 7 (gcc 6 is what we are currently using on CI for mozilla-central)?

[2018-07-04 16:46] abpostelnicu commented on #1256
yes we should try and do that, otherwise may be a difference in the environment itself.

[2018-07-04 16:56] abpostelnicu commented on #1256
I think all of the stdc++ headers should be somewhere in /usr/include/c++

[2018-07-04 17:13] marco-c commented on #1256
The path is like that because it's Nix. I don't see the path in these env variables though: https://github.com/mozilla-releng/services/blob/master/nix/gecko_env.nix#L25. I'm not sure if the compiler is supposed to find it automatically.

I'm attaching the generated gecko-env from shipit-static-analysis.
[gecko_env.log](https://github.com/mozilla-releng/services/files/2163939/gecko_env.log)

[2018-07-04 17:15] abpostelnicu commented on #1256
True, I’m wondering if mach build works in our environment.

[2018-07-05 09:45] La0 commented on #1256
Yes i'm planning to work on it this afternoon, once the release is done.

[2018-07-05 11:05] La0 commented on #1256
@abpostelnicu @marco-c [Here is the source code](https://github.com/mozilla-releng/services/blob/master/nix/gecko_env.nix#L24) generating the environment used by `./mach` in services

I think it's readable even without any Nix knowledge, as it only populates some environment variables.
Note that we are using clang as `CC` and `CXX` (not gcc).

I'm trying to reproduce in a simple test the bug aroun

[2018-07-05 11:14] marco-c commented on #1256
Note that we are using clang as CC and CXX (not gcc).

Yes, I've posted the generated output in https://github.com/mozilla-releng/services/issues/1256#issuecomment-402529122. Clearly the stdcpp path is missing, but I don't know if the compiler is supposed to find it automatically.

[2018-07-05 11:15] abpostelnicu commented on #1256
Strangely when we were using a locally build version of clang-tidy we didn’t have these kind of errors, right?

[2018-07-05 12:30] abpostelnicu commented on #1256
We shouldn’t have clang-diagnostic-error because this that starting with a specific node the ast gets broken so we cannot rely of the results.

[2018-07-05 12:32] La0 commented on #1256
Good to know, because we have [been silently ignoring them for a long while](https://github.com/mozilla-releng/services/issues/391)

[2018-07-05 12:47] La0 commented on #1256
I've created a script to quickly reproduce this issue in a nix shell, just [drop this file](https://gist.github.com/La0/4dd8e6fcfc7f015a4589bb438925bcaa) into your local clone tmp dir, and then:

[code]

[2018-07-05 12:59] jankeromnes commented on #670
Oh, I was about to file this bug, but it looks like we actually do add a note suggesting to add the `explicit` keyword.

This is what the email report contains:

[code]

@La0 but we currently don't publish "notes" in our comments, right?

[2018-07-05 13:21] jankeromnes commented on #1166
Looks like @La0 was able to fix all undetected `clang-tidy` defects by adding the right dependencies to our Nix env!

With that, the `eslint: strict` remains the last issue to fix in order to fully validate analysis and enable Phabricator in production.

What's weird is that `lint.py` says [A mozlint issues is publishable when: * file is not 3rd party * rule is not disabled](https://github.com/moz

[2018-07-05 13:33] jankeromnes commented on #1166
Aha, the analysis' [report.json](https://taskcluster-artifacts.net/dEVGF9o_TsyZDUmyMkcikg/0/public/results/report.json) indicates that the `eslint: strict` issue is not `in_patch`, which is true because it's reported on the first code line *after* the commented-out `"use strict"`, but that line was not modified by the patch.

Hopefully this will be fixed with `BEFORE_AFTER` soon, but we don't need

[2018-07-05 13:36] La0 commented on #670
[No, we don't](https://github.com/mozilla-releng/services/blob/master/src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py#L280)

They are only reported in the admin emails (see just below in `as_markdown()`

[2018-07-05 14:42] La0 commented on #1256
The PR #1258 has been [deployed to staging](https://tools.taskcluster.net/groups/X6lJil-1SDeq7_MLjw7sMQ)

[2018-07-05 14:50] jankeromnes commented on #1166
The fix from #1258 was deployed to `staging`, and I've sent another bad patch to [D324](https://phabricator-dev.allizom.org/D324).

Analysis is running: https://tools.taskcluster.net/groups/E3LiY0W6Q72GNJgUdrrX_w/

[2018-07-05 15:11] jankeromnes commented on #1166
10/10 clang-tidy defects, 7/7 mozlint defects, 100% success! https://irccloud.mozilla.com/pastebin/goicWMJC/defects.txt

[2018-07-05 16:15] jankeromnes commented on #1166
New staging analysis, just in case: https://tools.taskcluster.net/groups/Hpi4TqYKQJaGqugH6yvIgQ

[2018-07-05 18:57] #1256 closed

[2018-07-06 11:31] preeti98 commented on #1029
I would like to work on this issue. May I please go ahead?

[2018-07-06 12:16] La0 commented on #1029
@preeti98 Sure ! Please submit a PR once you need some review

[2018-07-06 12:18] preeti98 commented on #1029
Thank you @La0 !

[2018-07-06 13:54] La0 opened #1260 "shipit-static-analysis: Failures on large file list"
The bot often fails when encountering a huge list of files to analyse (clang-tidy is failing): [task exemple](https://tools.taskcluster.net/groups/Dumyr-ZyTzaeJgfDoq0FvQ/tasks/Dumyr-ZyTzaeJgfDoq0FvQ/runs/0/logs/public%2Flogs%2Flive.log)

We should split the load by limiting the nb of file to analyse (10 ? 20 ?), and loop on the analyzer until all files are checked

[2018-07-10 12:49] La0 commented on #1245
@marco-c `jsdcov` is present in the `build.type` array

[2018-07-10 13:13] La0 commented on #1095
See #1261 for latest fixes to enable this on staging.

[2018-07-10 15:39] #1245 closed

[2018-07-10 15:39] #1246 closed

[2018-07-11 14:05] marco-c opened #1263 "shipit-static-analysis: Update Rust to the version used on mozilla-central"
Yet another case where the config mismatch bites us :(

https://hg.mozilla.org/integration/autoland/rev/f4f6234d143c

1.27.0 is the minimum required version now. We're using 1.28 beta on mozilla-central.

[2018-07-11 14:27] jankeromnes opened #1264 "shipit_static_analysis: Phabricator reporter should be able to filter analyzers"
In our bot's configuration on Taskcluster, we have two `ANALYZERS` keys:
- One global, that enables analyzers (i.e. `clang-tidy`, `clang-format` and `mozlint`) for every reporter (i.e. `email`, `mozreview`, `phabricator`)
- One specific to the MozReview reporter, in order to filter out analyzers that aren't ready yet (i.e. `clang-format`) from published reviews

The Phabricator reporter doesn't ha

[2018-07-11 14:32] jankeromnes commented on #1166
Update: I've now enabled automated Phabricator reviews in production, and reviews look good!

https://phabricator.services.mozilla.com/D2066

However, both MozReview and Phabricator reviews are currently broken for patches that touch C/C++ files (because of #1263). Once that issue is fixed, we should also validate that `clang-tidy` comments still look good.

Additionally, I've had to disable `clan

[2018-07-11 14:41] abpostelnicu commented on #1263
We should really consider moving to try.

[2018-07-11 15:07] La0 commented on #1263
@abpostelnicu Yes but that will not happen right now. Do you know how i could track such changes on mozilla-central ? Is there a specific mailing list ?

Ideally i would need to be somehow notified when the Rust version needed changes, as this is the only one breaking regularly.

[2018-07-11 15:15] marco-c commented on #1263
We could parse the taskcluster yaml files at taskcluster/ci/toolchain/linux.yml and taskcluster/ci/build/linux.yml to see what mozilla-central is using.

[2018-07-11 17:08] abpostelnicu commented on #1263
What if we do our on extra bootstrap and each time before configuring the build we do things like: rustup?

[2018-07-11 17:10] marco-c commented on #1263
The problem is that mozilla-central doesn't always use the latest Rust. For example we've used 1.24 for a long time, as there was some regression when switching to 1.25.

We could, it is a toolchain build.

[2018-07-11 17:11] abpostelnicu commented on #1263
It seems there are targets for rust in toolchain: https://dxr.mozilla.org/mozilla-central/source/taskcluster/ci/toolchain/linux.yml#453

But I don’t see a proxy package.

[2018-07-11 17:11] #1263 closed

[2018-07-11 17:30] marco-c commented on #1263
Here's an example: https://treeherder.mozilla.org/#/jobs?repo=try&revision=1a4ac2c635335490fe8bdd9faa0cf8860f1dada9&filter-searchStr=rust&selectedJob=184578715. Rust is in the rustc.tar.xz artifact of this task.

[2018-07-13 08:19] marco-c opened #1268 "Got a notification for a build whose tests were not completely finished"
I guess it could happen in very rare cases: the build finishes, the tests finish, taskcluster sends a groupresolved notification, somebody retriggers a task right after that. When we get the notification, the retriggered task might still not have finished.

So in artifacts.download_all we should wait for the tasks to be finished.

[2018-07-13 08:19] marco-c commented on #1268
[live_backing.log](https://github.com/mozilla-releng/services/files/2191875/live_backing.log)

[2018-07-13 10:04] jankeromnes commented on #1166
10/10 and 7/7 on staging again! https://tools.taskcluster.net/groups/ZnCYTYy2QIqzyDnNHPiqWw/

This confirms that #1263's fix worked, and we can deploy it to production.

Additionally, we can see the analyzer raw dumps in the tasks artifacts, which is great (except `clang-format.txt`, maybe because `clang-format` is currently disabled on staging, although we do have a `clang-format.diff`).

[2018-07-13 16:14] jankeromnes commented on #1166
While waiting for general release next week, I'm trying to deploy a hot-fix for the Rust issue.

I've deployed the hot-fix to staging, and re-validated the bot: https://phabricator-dev.allizom.org/D541

Results: 4/10 expected `clang-tidy` defects and 7/7 expected `mozlint` defects.

[2018-07-13 17:54] jankeromnes commented on #1166
I've deployed a hot-fix to shipit-static-analysis-production with 2 fixes from master, and:

10/10 7/7 in production! 🎉🎉🎉 https://phabricator.services.mozilla.com/D2120

(And deploying on Friday the 13th wasn't so bad... 😝)

[2018-07-16 14:55] jankeromnes opened #1269 "shipit-static-analysis: Phabricator review URL in email report doesn't work"
For Phabricator reviews, our email reports include URLs like this:

[code]

This URL doesn't work, because instead of the `diffPHID`, we should have a `revisionID` like `D2135`.

To get a Revision ID from the Diff PHID, we can do the following:
- Use the Conduit API [differential.diff.search](https://phabricator.services.mozilla.com/conduit/method/differential.diff.search/) with constraints = `{"p

[2018-07-16 14:57] La0 commented on #1269
I already [fixed this issue](https://github.com/mozilla-releng/services/blob/master/src/shipit_static_analysis/shipit_static_analysis/revisions.py#L127) in 649c374a, but it's not on production yet.

[2018-07-16 15:30] jankeromnes commented on #1269
Amazing! Thanks, I'll mark this as resolved then.

[2018-07-16 15:30] #1269 closed

[2018-07-16 15:48] jankeromnes commented on #1166
I've tried validating MozReview the same way, but the analysis task failed with `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb5 in position 58204297: invalid start byte`:

https://tools.taskcluster.net/groups/Lp8DSs3xTHKPou13q85gUA/

I'll try to reproduce this bug locally and then bisect it.

[2018-07-17 08:58] jankeromnes commented on #1166
Hm, locally it worked: Production validated 10/10 7/7 on MozReview as well: https://reviewboard.mozilla.org/r/257216/#review264084

That intermittent `UnicodeDecodeError` is worrisome though, we should keep an eye on it.

[2018-07-17 11:24] jankeromnes commented on #1160
Un-assigning myself for now. Please feel free to take over this issue.

[2018-07-17 12:21] jankeromnes opened #1270 "shipit_bot_uplift: Automate Firefox patch uplifts"
Every now and then, a Firefox patch needs to be uplifted (i.e. backported) from the development branch ([mozilla-central](https://hg.mozilla.org/mozilla-central/)) to a more stable branch (e.g. [mozilla-beta](https://hg.mozilla.org/releases/mozilla-beta/) or [mozilla-esr60](https://hg.mozilla.org/releases/mozilla-esr60/)), bypassing the normal release cycle.

This requires a special [approval proc

[2018-07-17 12:31] jankeromnes commented on #1109
We've recently improved our `clang-tidy` output parser in a few different ways, so hopefully these issues won't happen again.

A good way to check for occurrences of such bugs is to search for "cache/sa-central" in our `New Static Analysis` debug email reports (this path is not supposed to show up, unless there is a parsing bug.

Let's keep an eye on this as we release a new version on Wednesay/Th

[2018-07-17 12:49] jankeromnes opened #1271 "shipit_static_analysis: Enable clang-format feedback in production"
Our reviewers sometimes spend a lot of time reporting coding style issues on a patch. This is perceived as one of the less valuable uses of a reviewer's time, and it could potentially be automated with a tool like `clang-format`, in order to spare Human reviewer time for more valuable things like design feedback and knowledge sharing.

TODO:
- [x] re-enable the `clang-format` analyzer on staging ~

[2018-07-17 22:53] lundjordan opened #1272 "[tracking] - ensure docs exist for every project"
in addition, clean up old unused projects from repo/docs

from src/ we have:

- releng_docs
- releng_frontend
- releng_mapper
- releng_notification_identity
- releng_notification_policy
- releng_tokens
- releng_tooltool
- releng_treestatus
- shipit_bot_uplift
- shipit_code_coverage
- shipit_code_coverage_backend
- shipit_frontend
- shipit_pipeline
- shipit_pulse_listener
- shipit_signoff
- shipit_

[2018-07-17 22:58] lundjordan opened #1273 "improve testing branch landing to avoid polluting staging"
this is to track the testing and deployment workflow improvements we discussed at last coordination meeting.

[2018-07-18 07:25] sylvestre opened #1274 "Investigate why an issue wasn't published"
The dashboard says that it found and published a clang analyzer issue:
![image](https://user-images.githubusercontent.com/733326/42865460-fc062ffe-8a69-11e8-8a5e-158f4f0da8a2.png)

It points to:
https://nextcairn.com/mozilla-sa/#/check/clang-tidy.clang-analyzer-deadcode.DeadStores
Which links to
https://reviewboard.mozilla.org/r/256212/ (see also https://bugzilla.mozilla.org/show_bug.cgi?id=144794

[2018-07-18 07:31] La0 commented on #1274
This issue is the only difference between staging|testing vs. production (if we ignore clang-format).

9 other clang-tidy issues were found everywhere (modernize-use-auto & modernize-use-equals-default)

[2018-07-18 07:37] La0 commented on #1274
Production [TC task](https://tools.taskcluster.net/groups/JlKLtGVrSZ-_P1X08TcCyQ/tasks/JlKLtGVrSZ-_P1X08TcCyQ/details) ran fine, simply did not identify it.

[2018-07-18 07:47] La0 commented on #1274
Created a [new production task](https://tools.taskcluster.net/groups/QshSNFQRSD69E36rfC594g/tasks/QshSNFQRSD69E36rfC594g/details) as the initial one may not have the latest updates and misses some clang-tidy checks

[2018-07-18 08:27] #1274 closed, assigned to nobody

[2018-07-18 16:25] La0 opened #1275 "Disable or update shipit-bot-uplift"
Until its version of libmozdata gets updated, it's spamming hg.mozilla.org

I just removed the hooks definition on TC

[2018-07-18 19:33] garbas commented on #1275
@La0 was new version of libmozdata released recently? i suppose i have to run update again on projects in #1267

[2018-07-18 20:04] padenot commented on #877
Had this today again: https://bugzilla.mozilla.org/show_bug.cgi?id=1476744#c2

[2018-07-19 07:21] La0 commented on #1275
@garbas not yet, @calixteman is working on it.
I'll make the updates on the projects using a separate PR

[2018-07-19 09:10] La0 commented on #877
Here is the [log of the task misbehaving](https://tools.taskcluster.net/groups/RQ3v4gqmR3eNN449AkAB_w/tasks/RQ3v4gqmR3eNN449AkAB_w/runs/0/logs/public%2Flogs%2Flive.log). This is for the diff n°1

There is indeed a strange behaviour, every issue is detected 5 times.

The same thing is [happening for diff n°2](https://tools.taskcluster.net/groups/bMdgD7I6Sa6qLD5_D9Zx-Q/tasks/bMdgD7I6Sa6qLD5_D9Zx-Q/r

[2018-07-19 10:06] calixteman commented on #1275
I released a new version (0.1.40) of libmozdata with the fix for hgmo.

[2018-07-19 10:16] abpostelnicu commented on #877
I'm investigating this issue locally, and will come up with a resolution for it shortly.

[2018-07-19 10:34] jankeromnes commented on #704
Yes, it just happened during today's release, because pulse-listener and static-analysis didn't update at exactly the same time (in this window, an incompatibility between bot versions caused a few analyses to fail).

[2018-07-19 10:41] abpostelnicu commented on #877
Looking other this i see that our analysis is based on this review: https://reviewboard.mozilla.org/r/257892/diff/1/

I see there only 3 files modified:

  dom/media/webaudio/AudioListener.h
  dom/media/webaudio/AudioListener.cpp
  dom/media/webaudio/PannerNode.cpp

Looking at the cpp files, we see that AudioListener.h is included in both, so it's normal to have a double error message, since each

[2018-07-19 10:41] jankeromnes commented on #1166
`reviewbot` was enabled on Phabricator last Friday, and it works great! :tada:

[2018-07-19 10:41] #1166 closed

[2018-07-19 14:20] annygakh commented on #877
I'm also having the same issue here https://bugzilla.mozilla.org/show_bug.cgi?id=1472338#c14 (not sure if this is helpful for you, but thought I would comment anyway)

[2018-07-19 17:39] gabriel-v opened #1277 "cli_common: Map from Phabricator's differential IDs to a base revision on mozilla-central"
All Conduit endpoints require an API key, [even the read-only ones](https://discourse.phabricator-community.org/t/getting-ssh-public-keys-from-phab/1636).

Implementing this requires setting up a Phabricator API key configuration, then querying `https://phabricator.services.mozilla.com/api/differential.querydiffs` as described in [this bugzilla comment](https://bugzilla.mozilla.org/show_bug.cgi?id

[2018-07-19 18:08] marco-c commented on #1214
Depends on https://github.com/mozilla-releng/services/issues/1277.

[2018-07-19 18:19] marco-c commented on #1277
Maybe there's another solution we don't know about, @smacleod?

[2018-07-20 06:11] jankeromnes commented on #877
Thanks @annygakh, and apologies for the bad experience with our bot.

We clearly need to filter out duplicate defects in our reports. @abpostelnicu, `./mach static-analysis check` doesn't parse `clang-tidy` output, does it? So I guess either:

1. we manage to make `clant-tidy` itself not report duplicates (maybe a more recent `clang-tidy` version won't report duplicates?); or
2. we add another pas

[2018-07-20 07:20] abpostelnicu commented on #877
@jankeromnes `./mach static-analysis check` parses line by line the output and it adds it to a defects database but it doesn't apply any filters on it.
1. clang-tidy doesn't have the possibility of knowing what it detected or not, since the analysis is done as per compilation unit. The tool doesn't keep and inside database with the reported defects to know what id detected and to filter it out, it

[2018-07-20 12:21] marco-c opened #1279 "shipit_static_analysis: Check if we can upgrade to shellcheck 0.5.0"
https://github.com/mozilla-releng/services/pull/1278#discussion_r204025638

We should try to update to the latest version which is in nixpkgs (0.5.0) and check if "./mach lint" still works after that.

[2018-07-20 12:39] garbas commented on #1275
@La0 I had to rerun update dependencies in #1278 which picked up libmozdata 0.1.40. I assume that PR will also fix this issue.

[2018-07-20 12:50] marco-c opened #1284 "shipit_static_analysis: Update review comment not to mention JS/Python with "./mach lint""
This:
[code]
is part of the review comments when we find an issue.
./mach lint doesn't only support JS and Python, so we should remove "(JS/Python)" from the comment.

[2018-07-20 15:10] rail commented on #867
I think so. At least I don't know any blockers.

[2018-07-23 08:10] La0 commented on #1275
I deleted again the production hook, re-created after the last release.

@garbas Thanks for your PR, i'm testing #1278 today, it should indeed fix this

[2018-07-23 11:18] garbas opened #1285 "switch from flask-cache to flask-caching"
https://github.com/sh4nks/flask-caching/

[2018-07-23 11:45] calixteman opened #1286 "Change user-agent in mozdata.ini for shipit-bot-uplift"
In order to make easier the identification of the tool which uses libmozdata, please update the user agent.

[2018-07-23 11:55] masayuki-nakano opened #1287 "shipit_static_analysis: Problem with an automated review"
https://reviewboard.mozilla.org/r/258754/#review265640

Same error reported 3 times <https://bugzilla.mozilla.org/show_bug.cgi?id=1476897#c18>. I think that it should be reported only once.

[2018-07-23 11:57] sylvestre commented on #1287
Indeed, this is a bug. @jankeromnes rings a bell?

[2018-07-23 12:00] abpostelnicu commented on #1287
Similar issues have been discussed [here](https://github.com/mozilla/release-services/issues/877#issuecomment-406233851).

[2018-07-23 13:03] La0 commented on #877
@abpostelnicu @jankeromnes I'm implementing the filter directly in the bot, pr #1276

[2018-07-23 17:17] marco-c opened #1290 "URL and description in shipit_code_coverage setup.py are wrong"

[2018-07-23 17:49] smacleod commented on #1277
Authenticated access is really the only option. That being said, a service could be built to do these lookups on the users behalf and expose the base commit to unauthenticated users.

I would recommend against using the deprecated `differential.querydiffs` conduit method. Instead `differential.diff.search` should be used, with its `commits` attachment. You might want to use a more recent version o

[2018-07-23 18:39] marco-c commented on #1277
OK, this is what we're going to do then.

So, https://github.com/mozilla/code-coverage-addon/issues/6 will depend on this to be solved first.

[2018-07-23 20:16] garbas opened #1292 "organize around `project-release-services` in taskcluster"
- [ ] move secrets away from `repo:github.com/mozilla-releng/services` to project-release-services/<channel>
- [ ] move hooks into `project-release-services` namespace
- [ ] move roles into `projects-release-services` namespace

Most important is that we document our integration with taskcluster

[2018-07-23 22:20] garbas commented on #1180
@jankeromnes this ticket is now solved right?

[2018-07-23 23:52] rail commented on #148
Done in PR #1183

[2018-07-23 23:52] #148 closed

[2018-07-24 07:21] garbas opened #1294 "renaming projects to"
Depends on #1219.

Once above ticket is implemented we can start looking of grouping projects in folders (eg, projectA/frontend, projectA/backend, ...).

- [x] `releng_docs` -> `docs`, #1532
- [x] `releng_treestatus` -> `treestatus/api`, #1533
- [ ] `releng_frontend`-> split into `treestatus/frontend`, `tokens/frontend`, `tooltool/frontend` and `notification/frontend`
- [x] `releng_tokens` -> `tok

[2018-07-24 07:39] garbas commented on #1294
i started with suggestion how to rename projects to have something we can start debating about. I'm expecting names to changed as we move with the discussion.

Guides i followed:
- shorter names, easier/faster to type
- it is ok to drop team specific (eg. "releng_") prefixes
- use grouping in folders

I hope this starts a discussion about renaming. Once we know how to rename projects. we can look

[2018-07-24 07:41] garbas commented on #1294
Looking to get feedback from everybody, what do you think?

/cc @La0 @jankeromnes @marco-c @sylvestre @rail @lundjordan

[2018-07-24 08:54] garbas commented on #931
this has been now done

[2018-07-24 08:54] #931 closed

[2018-07-24 10:07] marco-c commented on #1294
Looks OK to me, maybe using _ as space is better than completely removing the spaces (e.g. code_coverage instead of codecoverage or static_analysis instead of staticanalysis).

[2018-07-24 14:52] jankeromnes commented on #1294
I agree that `code_coverage` may be a little more readable than `codecoverage`, but typing `_` is tedious so personally I still prefer `codecoverage` (not a strong opinion though).

Additionally, we could indeed rename `staticanalysis/bot` to `codereview/bot` (or just `reviewbot`).

Similarly, maybe `codecoverage` or `code_coverage` could be renamed just `coverage`?

[2018-07-24 15:10] jankeromnes commented on #1180
Yes, thanks!

The problem causing `error: creating symlink from '/app/result-please-cli.tmp-1401-202365492' to '/nix/store/kbyrh19gl535v477qmn1v9rngl7r0c0d-python3.5-mozilla-please-cli-40': Permission denied` turned out to be a drive permission issue:

[code]

(my cloned repository was missing write permissions for the "others" group).

The fix was:

[code]

(Note that the resulting permissions ar

[2018-07-24 15:11] #1180 closed

[2018-07-25 08:26] marco-c opened #1297 "PermissionError: [Errno 13] Permission denied: XXX"
Both static analysis and code coverage tasks are failing with this message.

[2018-07-25 08:33] La0 commented on #1297
Random [SA task failing on staging](https://tools.taskcluster.net/groups/IlYClSFPQVqmt3uQcbkQNA/tasks/IlYClSFPQVqmt3uQcbkQNA/runs/0/logs/public%2Flogs%2Flive.log)

[2018-07-25 08:34] marco-c commented on #1297
https://tools.taskcluster.net/groups/XRfGqQExTjiZlb0nXST0UQ/tasks/XRfGqQExTjiZlb0nXST0UQ/runs/0/logs/public%2Flogs%2Flive.log

[2018-07-25 08:42] jankeromnes opened #1298 "Evaluate running our code analysis on Try"
When we started `reviewbot`, we had a choice between (1) using a Try taskgraph for our code analysis, or (2) to re-implement our own analysis inside a simple unique Taskcluster/Services task. We opted for (2), because it was simpler and faster to implement (enforcing review-time defect coverage as fast as possible), and it wasn't clear what additional work was required, or how long a Try-based sol

[2018-07-25 08:55] jankeromnes commented on #1298
Submitting a patch with `./mach try empty` automatically triggers linting jobs on Try:

https://treeherder.mozilla.org/#/jobs?repo=try&revision=a1d689c88cca292a1a5b77d3f7bfd112de7659da

It found the expected 8 `mozlint` defects in my patch:

[code]

... but still not the spelling mistake (not sure why).

It also ran a few other analyzers that I didn't know about.

[2018-07-25 09:07] La0 commented on #1297
This is most certainly due to [using app as default user](https://github.com/mozilla/release-services/blob/master/nix/lib/default.nix#L713) in the docker image, introduced in the [Dockerflow PR](https://github.com/mozilla/release-services/pull/1183)

[2018-07-25 09:22] jankeromnes commented on #1298
Next, I attempted to run `clang-tidy` static analysis on Try, or more specifically these jobs (found via `./mach try fuzzy`):

[code]

So I ran `/mach try -b do -p linux64,macosx64,win32,win64 -u static-analysis-linux64-st-an/debug,static-analysis-win64-st-an/debug,static-analysis-win32-st-an/debug,static-analysis-linux64-st-an/opt,static-analysis-win64-st-an/opt,static-analysis-win32-st-an/opt -t

[2018-07-25 11:06] La0 commented on #1297
Should be fixed by the revert from #1301

[2018-07-25 11:19] marco-c commented on #1297
I've verified code coverage is fixed and @La0 verified static analysis.

[2018-07-25 11:19] #1297 closed

[2018-07-25 11:20] sylvestre commented on #1297
Can we retrigger the SA jobs?

[2018-07-25 11:44] #877 closed

[2018-07-25 12:39] La0 commented on #1297
This is only on staging, no need :smile:

[2018-07-25 14:03] marco-c commented on #1198
The code-coverage-addon is using:
- coverage/file?changeset=XXX&path=YYY, only the 'data' field is used;
- coverage/changeset_summary/XXX, only the 'commit_added' and 'commit_covered' fields are used.

[2018-07-25 14:03] marco-c commented on #1198
@jankeromnes could you check what the frontend is using, and what we could remove?

[2018-07-25 14:04] La0 commented on #1198
| Endpoint                                | Function                          | Webextension |  React |
|-----------------------------------------|-----------------------------------|--------------|--------|
| /coverage/file                          | api.coverage_for_file             | Yes (only data)         |        |
| /coverage/changeset/{changeset}         | api.coverage_by_changeset

[2018-07-25 15:13] gabriel-v opened #1303 "Unclear error messages when using secrets in the wrong format"
The secrets file yml format should be:
[code]

If the secrets used are set up as:
[code]

when running a project, the error messages will say `Missing value KEY in secrets`. The error should say that the secret file format is wrong (as it contains no key named `common`).

[2018-07-25 16:16] marco-c commented on #1294
I think `reviewbot` or `codereview` might be a little too generic, as there could be other tools we implement that are not related to static analysis, but the static analysis project is only about static analysis (and linting).

[2018-07-25 23:05] lundjordan commented on #1294
Thanks for pushing through on this.

No concerns on first pass personally. The result (proj per folder) is the big win. If there is naming pattern or individual change that's requested after what has already been mentioned, I hope that it is not much to adjust at at a later point

[2018-07-26 06:52] #1284 closed

[2018-07-26 08:49] garbas opened #1305 "make app the default user in docker image"
the last time we tried to do this we had to [revert it](https://github.com/mozilla/release-services/pull/1301)

it should be possible to use non root user inside docker image, but next time we try this we should try running this on testing channel first.

[2018-07-26 08:50] #1008 closed

[2018-07-26 08:51] #974 closed

[2018-07-26 08:51] #967 closed

[2018-07-26 08:51] #973 closed

[2018-07-26 08:51] #972 closed

[2018-07-26 08:51] #970 closed

[2018-07-26 08:51] #1009 closed

[2018-07-26 08:51] #969 closed

[2018-07-26 08:51] #968 closed

[2018-07-26 09:02] La0 commented on #1305
Totally agree, i think we only need a working directory owned by `app:app`, where the tasks & backend can work on temporary files or artifacts

[2018-07-26 10:07] marco-c commented on #1298
I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1478600 to add clang-tidy as a source-test task.

[2018-07-26 10:13] garbas commented on #1220
I was wondering if this is possible to do in "stages" where we would gradually upgrade. I would like to avoid having to do a big rewrite, but rather include smaller changes as we go

Here are smaller tasks we could start working on:

1. remove `nix/default.nix`

currently we use `nix/default.nix` as a single point of collecting all our projects in one place. this limits us to implementing everythi

[2018-07-26 12:01] marco-c opened #1306 "shipit_code_coverage_crawler: Add coverage crawler as a dependency of the project"

[2018-07-26 12:04] marco-c opened #1307 "Run the coverage crawler on a list of websites"

[2018-07-26 12:06] marco-c opened #1308 "Upload reports to a GitHub repository"
We will create a GitHub repository where we will store the reports. Enabling gh-pages will allow people to navigate the reports easily.

[2018-07-26 12:06] marco-c opened #1309 "Allow users to trigger the hook with a custom website"

[2018-07-26 12:34] La0 opened #1311 "Weird paths reported on code coverage"
When developing the /v2/path endpoint, I encountered several weird paths in the Elasticsearch data:

* several `<... macros>` which seem to come from rust
* `NONE`

Here are the [exclusion filters](https://github.com/mozilla/release-services/pull/1310/files#diff-1bb36afd5e0ce67d60b89e8858e622acR40) on the backend to remove them from search results.

[2018-07-26 12:39] #1160 closed

[2018-07-26 12:56] La0 commented on #1160
Live on staging : https://coverage.staging.moz.tools/v2/path

[2018-07-26 13:03] La0 commented on #1095
#1310 adds a new endpoint & api version bases only on Active data

[2018-07-26 13:14] La0 commented on #1145
This will be done when legacy endpoints are killed, and v2 took over

[2018-07-26 13:23] La0 commented on #1275
I confirm that libmozdata 0.1.40 is now shipped on master, hence on staging/testing.

Will be enabled on production during next release.

[2018-07-26 13:23] #1275 closed

[2018-07-26 13:54] garbas opened #1314 "split cli_common and backend_common into multiple packages"
both `cli_common` and `backend_common` are growing in size.

Current pain points I see with this approach are:
- any change to `cli_common` will trigger a redeployment of all python projects
- any change to `backend_common` will trigger a redeployment of all backend projects
- we can not depend on other extras from the same package (maybe we can, but when i tried it i failed)

For this i propose t

[2018-07-26 13:56] garbas commented on #1314
@La0 @marco-c @rail above are just my ideas. At one point this year I would like to solve this. I think starting a discussion regarding is step number one.

[2018-07-26 14:39] #1277 closed

[2018-07-27 18:49] marco-c opened #1319 "Running update dependencies with not-existing packages doesn't throw any error"
To reproduce, just put a random name in requirements.txt of a project, try to update its dependencies and see that it says "DONE" even though it doesn't do anything.

[2018-07-27 22:27] marco-c opened #1320 "Silent should be optional, not a default"
In most cases, we are failing to show proper error messages. This is a pain for new developers.
I think we should make the please commands not silent by default.

[2018-07-27 22:31] marco-c commented on #1319
It looks like `nix-shell nix/update.nix --argstr pkg PROJECT` is exiting with 0 no matter if it succeeds or fails.

[2018-07-27 23:28] marco-c opened #1321 "Add a please command to get a shell in the docker container"
Sometimes it's useful for debugging.

[2018-07-27 23:29] marco-c opened #1322 "Install a text editor in the docker image"
Sometimes it can be useful for debugging.

[2018-07-28 00:00] marco-c commented on #1306
@rhcu I did this in #1323, as it was really painful to debug.

[2018-07-28 00:10] marco-c commented on #1314
I agree with the above. This might also be a good first step towards making projects less coupled. E.g. we could allow projects to update their dependencies separately even for these common packages, this way if you make a modification to `common_log` that is useful for project A but useless for project B, you could just update `common_log` for project A and leave it be for project B.

[2018-07-30 08:31] garbas commented on #1320
In beginning this year when I implemented I actually received the opposite feedback, which I collected at Austin All Hands.

I do agree that suppressing error messages is not good, but I do think running in silent mode is better since it doesn't "scare" newcomers.

That said I think we can do both. Run in silent mode and in case of error print error. @marco-c would this suggestion work for you?

/

[2018-07-30 08:34] garbas commented on #1319
I assume this is because of https://github.com/garbas/pypi2nix/pull/211, correct?

With #1220 `nix/update.nix` script will go away and `please_cli` will call update script directly. eg. `nix-shell src/<project>/default.nix -A update`

[2018-07-30 08:36] garbas commented on #1321
:100: Any idea how this command should be called? basically we need to call `docker exec <container> /bin/bash`, but I have no idea how to call this command.

[2018-07-30 08:37] garbas commented on #1322
I almost don't dare to ask, but which editor should we add? vim? vi? nano? something else?

[2018-07-30 09:02] garbas commented on #1314
@marco-c awesome idea. i think we would need to add this support in pypi2nix. we would need to add a support for specifying a project in sub path of a repository. i wonder is there is anything like this already possible in requirements.txt specification.

[2018-07-30 09:05] garbas commented on #1314
looks like this is already part of the [spec](https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format). we would need to support subdirectory in pypi2nix

[2018-07-30 09:15] marco-c commented on #1322
Anything works for me, as long as there is something.

[2018-07-30 09:19] marco-c commented on #1319
garbas/pypi2nix#211 is improving the error thrown by pypi2nix, but it's still not shown as our scripts seem to eat the error.

[2018-07-30 09:21] marco-c commented on #1320
Sounds good to me, even though we've had at least one case where there was an error that we didn't detect (https://github.com/mozilla/release-services/issues/1319). In that case, it would have been painful to debug for a newcomer even if we printed output on error.

I prefer not silent by default, but if you received opposite feedback from many people, I guess it's better to follow that feedback.

[2018-07-30 09:42] marco-c commented on #1321
Maybe `./please docker-shell`? Or `.\please build-shell`?

[2018-07-30 13:36] #1306 closed

[2018-07-30 20:12] gabriel-v opened #1325 "shipit_code_coverage: Add android test coverage to the chunk_mapping file"
Add `android` as a platform [here](https://github.com/mozilla/release-services/blob/5a5eb07c0d48e0dbfcec30ab54d11bd5be5be482/src/shipit_code_coverage/shipit_code_coverage/chunk_mapping.py#L18) and write queries to get the chunk mapping for the [`A(test-ccov)`](https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&filter-searchStr=a(test-ccov)) job.

[2018-07-30 20:47] #1219 closed

[2018-07-31 12:55] marco-c opened #1327 "Remove setuptools-scm from requirements.txt"

[2018-07-31 13:05] marco-c opened #1328 "please_cli run throws exception without app name"
https://github.com/mozilla/release-services/blob/a396527bd5c2be293da73fb67a953753fe741e66/lib/please_cli/please_cli/run.py#L65

There's a missing `.format`.

[2018-07-31 16:45] #1328 closed

[2018-08-01 11:59] garbas commented on #902
this was done some time ago in #928

[2018-08-01 11:59] #902 closed

[2018-08-01 12:23] marco-c opened #1334 "Use aiohttp and aresponses for the Phabricator endpoint"
See https://github.com/CircleUp/aresponses/issues/15.

[2018-08-01 12:23] garbas opened #1335 "pushing multi layer docker image fails"
[push](https://github.com/garbas/push/) was a quick hack to get this functionality working. meanwhile other more reliable tools were created that we can use for this task, [skopeo](https://github.com/projectatomic/skopeo).

instruction how can skopeo be used with nix is [here](https://discourse.nixos.org/t/push-docker-tgz-images-to-registry-directly/189)

[2018-08-01 12:25] garbas commented on #1335
This is blocking us to deploy to cloudops

[2018-08-01 12:33] garbas commented on #867
i'm assigning this to myself since there are only projects i own left to do.

[2018-08-01 12:47] garbas commented on #1220
@La0 i forgot to ping you in the comment above. what do you think.

[2018-08-01 12:48] garbas commented on #1220
Also once 1. and 2. would be done we can start looking into #1221 in parallel

[2018-08-01 14:05] rhcu opened #1336 "shipit_code_coverage_crawler: Add Firefox Nix package to the project"

[2018-08-01 14:17] gabriel-v opened #1337 "shipit_code_coverage: Ignore awsy and talos when generating chunk mapping"

[2018-08-01 14:27] marco-c commented on #1337
https://github.com/mozilla/release-services/blob/5a5eb07c0d48e0dbfcec30ab54d11bd5be5be482/src/shipit_code_coverage/shipit_code_coverage/chunk_mapping.py#L156 and https://github.com/mozilla/release-services/blob/5a5eb07c0d48e0dbfcec30ab54d11bd5be5be482/src/shipit_code_coverage/shipit_code_coverage/chunk_mapping.py#L167 should be fixed to properly ignore `awsy` and `talos`. The awsy and talos chunks

[2018-08-01 16:11] La0 commented on #1294
I'll rename the `shipit-static-analysis` to `staticanalysis` after the release. We can (and surely will) rename later if we add different code analyzers, but it's in the far future

[2018-08-01 16:16] La0 commented on #1220
A project would only be valid if it has a `default.nix` at its root, right ?
So the lookup for projects could be an N-depth find for these files, instead of `glob(*)` + `glob(*/*)`: this should ease externalizing projects.

@garbas How does the project's `default.nix` would find the root `nix/lib/default.nix` though ? It will need to hardcode the library position ? Can't we rely on a real Nix libr

[2018-08-01 17:53] marco-c commented on #1308
@rhcu this could be done separately from the crawler, so you could start with this. You can just create two fake reports to test.

The repository should have a directory for each report, and an index.html file containing links to navigate to the individual reports.
The project can:
1. Clone the repository;
2. Remove all its contents;
3. Push the new content.
A bit like we do here: https://github.c

[2018-08-02 08:49] La0 opened #1338 "./mach static-analysis check syntax change"
It seems the `check` is not needed anymore and crashes our bot !

Random task failing : https://tools.taskcluster.net/groups/bw58Q4oGRtqJDenbgND3vA/tasks/bw58Q4oGRtqJDenbgND3vA/runs/0/logs/public%2Flogs%2Flive.log

@abpostelnicu Do yu have any info on that ?

[2018-08-02 09:51] marco-c opened #1339 "releng_mapper: Path in swagger documentation seems wrong"
/{projects}/rev/{vcs_type}/{commit}
should be
/{project}/rev/{vcs_type}/{commit}

[2018-08-02 10:38] La0 commented on #1338
I reproduce this locally, on a simple check.
It looks like a python mach issue

[code]

[2018-08-02 10:39] abpostelnicu commented on #1338
Let me test, this is very strange...

[2018-08-02 10:46] La0 commented on #1338
Filed a [bugzilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1480370)

[2018-08-02 11:08] abpostelnicu commented on #1338
https://treeherder.mozilla.org/#/jobs?repo=autoland&revision=a2d65d03e46a9a42b5bee5c2a7864d3f987a8ca7&filter-resultStatus=testfailed&filter-resultStatus=busted&filter-resultStatus=exception&filter-resultStatus=pending&filter-resultStatus=running&filter-classifiedState=unclassified

[2018-08-02 13:14] abpostelnicu commented on #1338
the fix is in central: https://hg.mozilla.org/mozilla-central/rev/a2d65d03e46a9a42b5bee5c2a7864d3f987a8ca7

[2018-08-02 13:16] marco-c opened #1341 "In the file endpoint, coverage information is not mapped from the tip changeset to the requested changeset"
We just assume the changeset is the only one in the push changing those files.

[2018-08-02 13:17] marco-c commented on #1341
We should instead do something like https://github.com/mozilla/release-services/blob/9fefb7da5be03b3e00c449cef84c1027ec684fae/src/shipit_code_coverage_backend/shipit_code_coverage_backend/coverage_by_changeset_impl.py.

[2018-08-02 15:54] rail commented on #1335
Working on this

[2018-08-02 18:45] rail commented on #1305
@La0 you mean adding `chown -R app: /app` after [this line](https://github.com/mozilla/release-services/blob/6e3d070fdb1ff015001d8a7c8dd973981f8ae092/nix/lib/default.nix#L846)?

Sounds very trivial. :) How should we test it before merging it again?

[2018-08-03 16:52] abpostelnicu commented on #1338
can we close this? The issue is fixed since yesterday.

[2018-08-04 13:13] jan-ivar opened #1346 "shipit_static_analysis: Problem with an automated review"
**MozReview URL:** https://reviewboard.mozilla.org/r/173466/#comment345752

**Problem:** Is blocking review complaining about code no longer in the patch.

[2018-08-06 12:49] gabriel-v commented on #1272
The following projects do not have an entry in the docs:

- releng_tokens
- shipit_code_coverage_backend
- shipit_code_coverage_crawler
- shipit_frontend
- shipit_pulse_listener
- shipit_workflow

I'll add issues for all of these.

[2018-08-06 12:50] gabriel-v opened #1347 "releng_tokens: Add documentation page"
part of https://github.com/mozilla/release-services/issues/1272

[2018-08-06 12:53] gabriel-v opened #1348 "shipit_code_coverage_backend: Add documentation page"
part of https://github.com/mozilla/release-services/issues/1272

[2018-08-06 12:56] gabriel-v opened #1349 "shipit_workflow: Add documentation page"
part of https://github.com/mozilla/release-services/issues/1272

[2018-08-06 12:56] gabriel-v opened #1350 "shipit_pulse_listener: Add documentation page"
part of https://github.com/mozilla/release-services/issues/1272

[2018-08-06 12:56] gabriel-v opened #1351 "shipit_frontend: Add documentation page"
part of https://github.com/mozilla/release-services/issues/1272

[2018-08-06 12:56] gabriel-v opened #1352 "shipit_code_coverage_crawler: Add documentation page"
part of https://github.com/mozilla/release-services/issues/1272

[2018-08-06 15:54] gabriel-v opened #1353 "please: Docker host networking not supported on Mac"
[The host networking driver only works on Linux hosts](https://docs.docker.com/network/network-tutorial-host/). https://github.com/mozilla/release-services/pull/1171 made `please` commands unusable on mac because of this reason.

I've reverted that commit locally to see if it still works. If it does, could we use binding ports for macos only?

[2018-08-06 22:57] marco-c opened #1354 "shipit_pulse_listener: Pulse listener is down"
The pulse listener part of `shipit_pulse_listener` was down (for 2-3 days) and I had to restart it.
This was both on staging and production.

We should automatically restart the pulse listener when it fails or have some kind of notification mechanism so that we know when it's broken right away.

We have no Sentry on pulse listener so I can't find out what happened. @La0 can you check on the pulse

[2018-08-06 22:58] marco-c commented on #1354
Actually we do have Sentry for pulse listener now.

[2018-08-06 23:09] marco-c commented on #1354
In Sentry and in the Heroku logs I saw:
2018-08-06T23:03:32.441568+00:00 app[worker.1]: aioamqp.protocol: Connection lost exc=None
2018-08-06T23:03:32.442620+00:00 app[worker.1]: aioamqp.protocol: Close connection

The first apperance of this is on August 3rd, but I see some coverage builds on codecov.io on August 4th, so maybe this is not it.

[2018-08-06 23:11] marco-c commented on #1354
I don't see any other pulse message being received on staging (where I saw this error), so I guess this is the problem.

On production I still see pulse messages being received, as this error was not hit (yet).

[2018-08-06 23:13] marco-c commented on #1354
Aaaand scratch that... I see pulse messages being received on both staging and production. There was just a pause on staging.

[2018-08-07 11:07] #1335 closed

[2018-08-08 08:47] La0 commented on #1354
On production, the static analysis tasks were triggered normally (see https://nextcairn.com/mozilla-sa/ on production)

On staging tasks weren't triggered in the last 20h (after a push on staging that failed), i restarted it and it triggered new tasks.

I'll check staging regularly

[2018-08-08 09:58] garbas commented on #1354
I would say in general we need to include some kind of health monitoring in all our services. I'm not sure what would be best to use:
- (1) Nagios which is managed by moc team, we currently use this for few projects so we might just extend this to other projects
- (2) Datadog - this would more give us information on how the load of the service is through time, but maybe there is a way to configure

[2018-08-08 11:06] garbas commented on #1354
I've added this to our release-services meeting to discuss

[2018-08-08 20:38] garbas opened #1363 "remove nix/default.nix"
currently we use nix/default.nix as a single point of collecting all our projects in one place. this limits us to implementing everything in nix and in python, which is pain in the ass.

in more details, currently ./please shell command internally calls `nix-shell nix/default.nix -A <project>`. we need to move to a more per project solution where we would call `nix-shell src/<project>/default.nix`

[2018-08-08 20:39] garbas opened #1364 "implement pleaserc.toml configuration without changing any functionality."
Currently our configuration is stored in lib/please_cli/please_cli/config.py, and idea i would like to explore is to use context_settings when creating main please command. where default_map is being created by reading pleasetc.toml file.

I'd love to hear if there is any other pattern with click library that we could explore.

[2018-08-08 20:43] garbas opened #1365 "move project resolution to python"
currently algoritm that finds projects is implemented in python (please_cli) and `nix/default.nix`. we should only do this in please_cli.

[2018-08-08 21:35] #867 closed

[2018-08-08 22:00] garbas commented on #15
Moving this issue to #1084

[2018-08-08 22:00] #15 closed

[2018-08-08 22:15] garbas commented on #1084
@mozbhearsum i took over the description of this ticket to provide more details what needs to be done.

[2018-08-09 18:10] gabriel-v opened #1371 "Chunk mapping has truncated tables"
The last chunk mapping database has an empty `chunk_to_test` table.

Last task: https://tools.taskcluster.net/groups/KmeRq8B1QxiOLQdkexEmRg/tasks/KmeRq8B1QxiOLQdkexEmRg/details
Chunk mapping: https://queue.taskcluster.net/v1/task/KmeRq8B1QxiOLQdkexEmRg/runs/0/artifacts/public/chunk_mapping.tar.xz

I cannot reproduce the issue because ActiveData seems to be down.
This might be because of previous A

[2018-08-10 05:56] garbas opened #1374 "Taskcluster hooks should be implemented in please_cli"
Currently JSON payload that creates taskcluster hooks is generated with nix. We should do this in please_cli.

[2018-08-10 11:07] garbas commented on #1305
@La0 what if make this `/work` (or maybe even more descriptive name such as `/app-work` or  `/app-tmp`) and make this directory a temporary directory $TMPDIR. Then we can use `tempfile.gettempdir()`.

[2018-08-10 11:11] garbas commented on #1353
oh I wasn't aware of this. I guess we can do something different for mac and windows.

@gabriel-v when you reverted #1171 did it work for you?

[2018-08-10 11:35] garbas commented on #1339
actually this is how it was implemented before since projects is a "Comma delimited project names(s) string"

[2018-08-10 11:35] #1339 closed

[2018-08-10 13:40] gabriel-v commented on #1353
@garbas Yes, it did work. I only tested the `releng-docs` project with the revert.

I'll submit a PR to use port binding on mac os.

[2018-08-13 12:04] gabriel-v commented on #1371
Okay, the current chunk mapping database has data in its `chunk_to_test` table. But its `file_to_test` table is empty now!

Last task: https://tools.taskcluster.net/groups/Av9Ykd89QY6Pf2alSv28ig/tasks/Av9Ykd89QY6Pf2alSv28ig/details
Chunk mapping: https://queue.taskcluster.net/v1/task/Av9Ykd89QY6Pf2alSv28ig/runs/0/artifacts/public/chunk_mapping.tar.xz

[2018-08-13 15:27] La0 opened #1375 "Limit number of files provided to ./mach static-analysis"
Mach static-analysis seem to fail when given too many files, we should batch the execution.

Example exception message:

[code]

[2018-08-13 15:29] La0 opened #1376 "Retry several times the mercurial pull on review board"
A lot of mozreview tasks are failing on the mercurial pull from reviewboard repo
It should at least retries a bit like robustcheckout does

[2018-08-13 15:31] La0 opened #1377 "Replace phabricator "dummy" merge strategy"
...With anything else more reliable. We've 1/4 task static-analysis from Phabricator failing because of this.

Ping @jankeromnes @marco-c

[2018-08-13 15:33] La0 opened #1378 "Categorize and report the errors"
Every exception caught should be categorized and reported through Taskcluster indexed data.

[2018-08-13 15:35] La0 opened #1379 "Display error stats on the dashboard"
Once #1378 is done, it will be easy to implement in the list view.

Something like:

[code]

[2018-08-13 15:35] La0 opened #1380 "Reduce static-analysis bot failures"
I created a small script that uses Taskcluster indexed data to list all the tasks in error state (same data used by the dashboard).
For each task i download the Taskcluster raw log, and parse it for an exception message. I then categorize the errors in category.

Here are the results for the last 7 days of execution:

[code]

So 1 on 3 task is failing for different reasons. We can do the following

[2018-08-13 15:44] sylvestre commented on #1376
reviewboard is going away, why bother?

[2018-08-13 15:54] La0 commented on #1376
Totally missed that it was going away in a few weeks. Closing

[2018-08-13 15:54] #1376 closed

[2018-08-13 15:55] La0 commented on #1380
Won't fix any mozreview issues as [it's sunsetting](https://mail.mozilla.org/pipermail/firefox-dev/2018-July/006693.html).

[2018-08-13 15:55] La0 opened #1381 "Sunset mozreview support"
[Mozreview is going away](https://mail.mozilla.org/pipermail/firefox-dev/2018-July/006693.html), we should remove all useless code.

- [x] pulselistener: Remove Mozreview hook
- [x] staticanalysis/bot: Remove Mozreview input
- [x] staticanalysis/bot: Remove Mozreview reporter
- [x] staticanalysis/bot: Remove Mozreview revision
- [x] staticanalysis/frontend: Remove Mozreview support
- [x] Taskclust

[2018-08-14 06:36] sylvestre commented on #1375
This isn't that long. Wonder if this isn't something else?

[2018-08-14 08:04] abpostelnicu commented on #1375
Let me look other this one, at least I’m interested to see how it behaves locally.
I have a comment though. We should have a filter to the files that we pass as input, I don’t think we should pass file with no extension or extension that is not a recognized one.

[2018-08-14 16:49] sylvestre commented on #1270
@rvandermeulen is that ok with you?

[2018-08-14 16:52] rvandermeulen commented on #1270
Yes, I think this encapsulates things well.

[2018-08-15 14:03] sylvestre opened #1384 "Two reports on the same line aren't published"
In this review: https://phabricator.services.mozilla.com/D3411, only one issue is being reported.

While locally, I found two
[code]
Codespell version 1.13 finds it and it is the one we are using:
https://dxr.mozilla.org/mozilla-central/source/tools/lint/spell/codespell_requirements.txt

[2018-08-16 10:06] abpostelnicu commented on #1375
Didn't manage to reproduce this but i have some comments that we shouldn't pass --header-filter, this must be used only in special occasions, this parameter is automatically generated by static-analysis.
Can we have a log with what's happening behind the curtains?

[2018-08-16 23:38] rail opened #1387 "Figure out scopes needed to trigger action hooks"
In PR #1385 I needed to add a new scope to the existing client: `hooks:trigger-hook:project-gecko/in-tree-action-3-generic/dd6091ba01`.

The scope name is a bit awkward:
* The `project-gecko/in-tree-action-3-generic` prefix is too generic. You cannot tell what branch it is.
* The suffix `dd6091ba01` looks like a hash of something that may change. I assume this is the hash of `.taskclaster.yml`. If

[2018-08-16 23:50] rail commented on #1387
@djmitche maybe you have some ideas here? The main idea is to have predictable scope names that we can assign to clients in advance. Or maybe there is another work around...

[2018-08-17 07:59] La0 opened #1388 "Missing CSP on static analysis frontend"
Missing `https://taskcluster-artifacts.net`:

[code]

[2018-08-17 08:00] La0 opened #1389 "Filter tasks"
Filters to implement:

- [x] No issues at all / some issues
- [x] Publishable issues
- [x] Bugzilla id / name
- [x] States

[2018-08-17 08:02] La0 opened #1390 "Add bugzilla data on SA dashboard"
Useful to do:

[2018-08-17 13:11] rail opened #1396 "Unify project name normalization for secrets usage"
Python apps when they access project-specific secrets use explicitly defined [PROJECT_NAME](https://github.com/mozilla/release-services/blob/6d304d2f94d36a0abf3b635cba2d4842565251cc/src/shipit/api/shipit_api/config.py#L6). Docker push uses whatever we pass via command line, `shipit/api` in this case. As a result they try to access different parts of the secrets object and fail, unless we have 2 du

[2018-08-17 15:00] rail opened #1398 "Investigate Heroku Private Spaces as deployment option"
For some projects we may want to keep things a bit more "secure", by restricting access by IP/VPN/etc.

It would be great to investigate what would it take to migrate an application from a regular Heroku/Dockerflow application to Private Spaces. This also includes frontend applications.

[2018-08-17 15:42] gabriel-v opened #1399 "shipit_code_coverage: Use new elasticsearch cluster"
Code coverage ingestion has been disabled on the old cluster. This means we will have truncated chunk mapping reports, as described in https://github.com/mozilla/release-services/issues/1371

[2018-08-20 10:40] gabriel-v commented on #1399
Here's the offending commit for the old cluster: https://github.com/klahnakoski/ActiveData-ETL/commit/42ba0ee4325920cf5c6c534eb7d7da2187408d57

[2018-08-20 13:45] jankeromnes commented on #1270
The upliftbot code now lives under [/src/uplift/bot/](https://github.com/mozilla/release-services/blob/master/src/uplift/bot/).

Every 60 minutes, the bot fetches all the bugs with an uplift approval-request flag (set to `?`):

https://github.com/mozilla/release-services/blob/4786e978be95930eb7dc59f7560f550f5ff0783a/src/uplift/bot/uplift_bot/sync.py#L353-L364

... and iterates over every patch (gr

[2018-08-20 14:29] rail commented on #1398
* the cost is $1000/month in addon credits.
* we can use it for ship-it with betas

we just need to decide whether we want it to use

[2018-08-20 14:29] #1398 closed

[2018-08-20 14:30] rail commented on #1044
back to the pool

[2018-08-20 14:38] marco-c commented on #1377
This is a duplicate of #1214 and #1215.
@gabriel-v has written a small Python module to retrieve the base revision of a Phabricator differential, you could use it (with some minor modification to retrieve the revision from a local mercurial clone instead of hitting hg.mozilla.org).

[2018-08-20 14:38] #1377 closed

[2018-08-20 14:39] marco-c commented on #1377
Here it is: https://github.com/mozilla/release-services/blob/master/lib/cli_common/cli_common/phabricator.py#L20.
You could add an optional argument `repo` with the path to a mercurial repo, the function could hit hg.mozilla.org if `repo` is None or use hglib if `repo` is not None.

[2018-08-20 15:50] djmitche commented on #1387
I think you will want `hooks:trigger-hook:project-gecko/in-tree-action-3-generic/*`.  You're right about the hash.  And, the repo name is not included, but the level is.  For actions which require finer control over access, we can make them non-generic, so the scope would be something like `hooks:trigger-hook:project-gecko/in-tree-action-3-relpromo/*`.  That still applies across all level-3 repos,

[2018-08-20 16:16] rail commented on #1387
Thanks for the confirmation. I think we can survive with the star scope for now. I wonder if we should consider adding the branch name somewhere in the scope, so we can have finer permissions.

[2018-08-20 19:33] rail commented on #1387
In my case it's the cancel-all action hook. In the future, it'll be also used by release-promotion.

[2018-08-20 22:48] #1348 closed

[2018-08-20 23:33] #1350 closed

[2018-08-21 12:47] jankeromnes opened #1403 "Weird results from /v2/path?path=media"
Querying https://coverage.staging.moz.tools/v2/path?path=media/ (`media/` with final `/`) succesfully gives the coverage of known children (i.e. `media/webrtc/`):

[code]

... but querying https://coverage.staging.moz.tools/v2/path?path=media (`media` without `/`) gives surprising results:

[code]

i.e. just `media/` as a single child.

I'd expect both queries to give the same results (i.e. `child

[2018-08-21 19:45] #1337 closed

[2018-08-21 21:11] marco-c opened #1406 "Cleanup testing secrets"
Right now some secrets are copied over from staging, we should have separated ones.