[2018-08-22 09:28] La0 opened #1408 "Mach configure fails on cbindgen (rust tool)"
[code]

[2018-08-22 12:40] gabriel-v opened #1410 "please: Broken pipe when running nix-instantiate under Docker on macOS"
When running `please` under Docker for macOS, calling `nix-instantiate` errors with broken pipe. Here's what the output looks like after changing `please` to not discard `stderr` for `nix-instantiate`:

[code]

This makes this project impossible to run under Docker for macOS.

This may a regression from the nix project or Docker for macOS.

[2018-08-22 12:47] gabriel-v commented on #1353
@garbas Abandoning the PR because of https://github.com/mozilla/release-services/issues/1410. I'm migrating to virtual machines for working on this project.

[2018-08-22 12:54] gabriel-v commented on #1410
This is happening because the nix-daemon runs out of memory:

[code]

This looks like an unbounded memory leak, since I tried with 4, 8, 12 and 15GB of memory for the Docker container. It ran fine last week with 4GB of memory.

[2018-08-22 14:18] gabriel-v opened #1411 "Artifacts and reports should not be downloaded in src/shipit_code_coverage"
In the current implementation, running `shipit_code_coverage` downloads 10GB of code coverage artifacts under `src/shipit_code_coverage/ccov-artifacts/` and 100MB of reports to `src/shipit_code_coverage/ccov-artifacts/code-coverage-reports`.

I think we should add command line arguments to set these paths and stop dumping large files in the source dir.

[2018-08-22 14:47] #1387 closed

[2018-08-22 15:20] gabriel-v commented on #1410
Closing this, as it's not a Docker for macOS issue. The problem is present when directories with large files are present under the `src/` directory. See https://github.com/mozilla/release-services/issues/1411

[2018-08-22 15:20] #1410 closed

[2018-08-22 17:08] gabriel-v opened #1416 "shipit_code_coverage: Downloading artifacts fails when some tasks are still running"
When running `shipit-code-coverage`,  some tasks come up as `running`, probably because the build didn't finish yet. I don't know if the tasks are supposed to be all finished when the `shipit-code-coverage` project runs weekly on a Sunday, but this is not the case when running locally. Here's the stack trace:

[code]

I suggest we skip downloading artifacts that aren't `exception`, `failed` or `ru

[2018-08-22 17:48] gabriel-v commented on #1416
@marco-c What would be a good solution for this? We could:

- Skip them as outlined above. This will mean we will have holes in the chunk mapping and reports.
- Wait for all the tasks to finish for a few hours, and:
    - Fail if there still are unfinished tasks, or
    - Skip the remaining unfinished tasks?
- Pull the artifacts from the most recent previous revision that has them?

[2018-08-22 22:12] chmanchester opened #1417 "Show defects which would not be shown in the automation"
**Phabricator URL:** https://phabricator.services.mozilla.com/D3847

**Problem:** Comments were left on this file, however it's not included in our linting configuration, so the issues wouldn't cause a failure in automation.

I ignored the first issue opened (marked it as "Done"), but a second issue, apparently a duplicate, was opened after lando re-based the patch.

[2018-08-23 13:14] jankeromnes commented on #1270
To implement this new behavior, we could tweak upliftbot's main workflow.

Here is where all the merge tests are run, and the email report is sent:

https://github.com/mozilla/release-services/blob/32728edef0969a1d7278f56dd9bf3694ae008250/src/uplift/bot/uplift_bot/sync.py#L362-L367

We could implement a new upliftbot module (or methods) that knows how to clear an uplift-request and post a comment

[2018-08-23 15:54] gabriel-v opened #1425 "Increase ActiveData query limits when generating the file_to_test table"
After looking at the `chunk_mapping.sqlite` database in PR https://github.com/mozilla/release-services/pull/1401, I found that the count for the `file_to_test` table is exactly `360000`. I think the limits in the ActiveData queries from `chunk_mapping.py` are too low.

Depends on  https://github.com/mozilla/release-services/pull/1401

[2018-08-23 17:41] gabriel-v opened #1426 "Add column with full task name to chunk mapping tables"
The chunk mapping could use a column `task` with the full task name (`run.key` from ActiveData).

After this is done, we can fix [bug 1485741](https://bugzilla.mozilla.org/show_bug.cgi?id=1485741).

[2018-08-24 10:08] La0 commented on #1375
I tested locally by using [this revision](https://tools.taskcluster.net/groups/arnWApivRjCQ5kmY4WjvhA/tasks/arnWApivRjCQ5kmY4WjvhA/runs/0/logs/public%2Flogs%2Flive.log), and got this error:

[code]

@abpostelnicu Is this something i can fix on my side ?

[2018-08-24 14:13] abpostelnicu commented on #1375
There is something wrong with the moz.build file, this has nothing to with the static-analysis routine. I will come back with details. Maybe the build system has updated and we miss something.

[2018-08-24 20:36] mgaudet opened #1428 "shipit_static_analysis: Issue with static analaysis with the DEBUG mode"
**Phabricator URL:** https://phabricator.services.mozilla.com/D4259

**Problem:** As near as I can tell the analysis is run without `DEBUG` defined, so it reports

[code]

As something where a trivial destructor can be provided -- which isn't correct.

[2018-08-24 20:39] mgaudet commented on #1428
Oh, even weirder, the report is flatly in the wrong place too.

[2018-08-24 20:41] mgaudet commented on #1428
(As in, the line number appears to be correct, but the inline comment on the diff is in the wrong place)

[2018-08-25 17:35] rhcu commented on #1416
@gabriel-v Hi. I'm not sure if I understand right but in the similar case in `Firefox-code-coverage` repository we were waiting for them to finish:
https://github.com/marco-c/firefox-code-coverage/pull/43#discussion_r200990553.

[2018-08-27 10:04] marco-c commented on #1411
The fix for this might be the same as the fix for #1305.

[2018-08-27 10:18] marco-c commented on #1425
We can split the offending queries, like I did with `group_by_20k`.

[2018-08-28 08:01] sylvestre commented on #1346
Arf, sorry, we don't have mozreview anymore, I cannot see the issue :(
We fixed a bunch of issues in issue detection lately, maybe we fixed that one...

[2018-08-28 08:01] #1346 closed

[2018-08-28 08:01] sylvestre commented on #1000
Should be fixed now.

[2018-08-28 08:01] #1000 closed

[2018-08-28 08:04] marco-c opened #1431 "Send a notification when a tree status changes"
The best option would be to use Web Push, so that the notification can be sent even if the user closes the page.
Otherwise, a simpler alternative would be to just show a notification using the notifications API (which only works while the page is open).

[2018-08-28 08:04] #697 closed

[2018-08-28 08:06] marco-c commented on #1428
Duplicate of #836.

[2018-08-28 08:06] #1428 closed

[2018-08-28 08:06] sylvestre commented on #1279
We should use the pip package instead of nixpkg here.

[2018-08-28 08:13] marco-c commented on #1298
Another advantage that we didn't think of is that this would allow us to run analyses on both DEBUG and OPT configurations, fixing issues like #836 and #1428.
In mozilla-central we have code that is compiled only in DEBUG mode and code that is compiled only in OPT mode. In our current architecture, we are choosing between one of the two configurations (currently OPT, but we are switching to DEBUG

[2018-08-28 08:48] #836 closed

[2018-08-28 09:40] marco-c commented on #240
This is done!

[2018-08-28 09:40] #240 closed

[2018-08-28 09:41] marco-c commented on #765
@La0 is this done?

[2018-08-28 09:42] #844 closed

[2018-08-28 09:43] marco-c commented on #905
@La0 this is fixed, right?

[2018-08-28 09:44] marco-c commented on #1106
Duplicate of #888.

[2018-08-28 09:44] #1106 closed

[2018-08-28 09:45] marco-c commented on #888
Maybe we should test this in the docker shell, so we have the same environment as the task.

#1106 is another case where this happened.

[2018-08-28 09:45] sylvestre commented on #765
yeah.

[2018-08-28 09:45] #765 closed

[2018-08-28 09:46] marco-c commented on #1006
@abpostelnicu did we confirm this is fixed?

[2018-08-28 09:47] marco-c commented on #1006
Or is this the same as #888?

[2018-08-28 09:49] marco-c commented on #953
Duplicate of #888 and #999.

[2018-08-28 09:49] #953 closed

[2018-08-28 09:49] marco-c commented on #1230
@La0 this is done, right?

[2018-08-28 14:29] marco-c opened #1439 "Create a common library to handle secrets"
Right now each project rolls its own.

[2018-08-28 15:28] marco-c commented on #1215
https://phabricator-dev.allizom.org/D679 and https://phabricator-dev.allizom.org/D680

[2018-08-28 15:29] jankeromnes commented on #1215
Sure! Linked revisions:

- https://phabricator-dev.allizom.org/D679/
- https://phabricator-dev.allizom.org/D680/

Analysis tasks:

- https://tools.taskcluster.net/groups/Hd3OXQ_PRJaJFlbUqVJgEA/
- https://tools.taskcluster.net/groups/K962Tr2dTHCEARmPRT_j2g/

[2018-08-28 15:36] marco-c commented on #1215
It failed too, probably because of #1214.

[2018-08-28 16:02] marco-c opened #1440 "Generated patch failed to apply, causing task to fail"
Task from https://github.com/mozilla/release-services/issues/1215#issuecomment-416631133.

[log.txt](https://github.com/mozilla/release-services/files/2328833/log.txt)

[2018-08-28 16:02] marco-c commented on #1215
Actually, it failed because the generated patch failed to apply. I've opened #1440.

[2018-08-28 16:07] marco-c opened #1441 "Upload coverage data on landed Phabricator revisions"
For landed Phabricator revisions, for which we have coverage data as we run a build and tests, we can upload coverage information.

This will not be useful for reviewers as the patch has to land first before we can see the coverage information, but it can be useful for example to release managers when they are inspecting a patch for a possible uplift.

[2018-08-28 16:10] #1214 closed

[2018-08-28 16:59] marco-c opened #1442 "Ingest Android Java coverage"
Even though we are building a replacement directory viewer, it would be nice to start injesting this data on codecov.io so we can show it to the world (and it shouldn't take too much).

@gabriel-v can you take this?

[2018-08-28 17:12] marco-c opened #1443 "Upload coverage data for Phabricator revisions which have a coverage try build"
For Phabricator revisions which have a linked coverage try build, we should make use of the coverage data and upload it to the revision so that reviewers can see it before reviewing.

The try build will either be triggered manually from Phabricator itself (using Lando?), or using mach try, or automatically by some mechanism (e.g. all patches bigger than N lines).

[2018-08-28 18:34] marco-c opened #1446 "Phabricator base revision could be coming from a different repository than mozilla-central"
E.g. [log.txt](https://github.com/mozilla/release-services/files/2329397/log.txt)

The relevant part is:
static_analysis_bot.revisions: Failed to update to base revision (revision='48ca12e943f5f8514dcc01e4ba9ec1888dce8485' error=CommandError(b'update', b'-r48ca12e943f5f8514dcc01e4ba9ec1888dce8485', b'-C'))

48ca12e943f5f8514dcc01e4ba9ec1888dce8485 is an autoland revision. At some point it will be

[2018-08-28 18:35] marco-c commented on #1446
https://hg.mozilla.org/integration/autoland/rev/48ca12e943f5f8514dcc01e4ba9ec1888dce8485

[2018-08-28 19:04] ahal opened #1447 "Pass --warnings into mozlint"
Once https://bugzilla.mozilla.org/show_bug.cgi?id=1460856 lands, it would be nice if the reviewbot enabled warnings by default.

Warnings wouldn't cause the patch to be backed out, but are still things that we should usually try to fix. So when a patch author gets a 'warning' level issue, they should fix it, but would be totally within their rights to ignore it instead.

This will allow us to enab

[2018-08-29 07:49] La0 commented on #1215
Diff PHIDs: PHID-DIFF-uzcwvmpujxv5fvbz7ey6 & PHID-DIFF-aap7hum7cwxxjvvv6334

[2018-08-29 09:28] marco-c commented on #1294
One thing I'm not fond of is that we have different terminology in config.py, in PROJECT_NAME in config.py and in setup.py and in the name of the directories.
E.g. sometimes we use staticanalysis, sometimes static-analysis, and sometimes static_analysis.
Why are we doing this? Could we always use static_analysis instead?

[2018-08-29 09:48] marco-c opened #1449 "Update .github/CODEOWNERS after static analysis project rename"
.github/CODEOWNERS still contains `/src/shipit_static_analysis           @mozilla/release-management`

[2018-08-29 09:48] marco-c opened #1450 "Labels for static analysis projects are inconsistent"
We have `staticanalysis/bot` and `static_analysis/frontend`.

[2018-08-29 09:54] marco-c opened #1451 "src/staticanalysis/bot/setup.cfg is no longer a symlink to nix/setup.cfg"

[2018-08-29 09:58] marco-c opened #1452 "Update setup.py URLs"
They are no longer up to date.
E.g. static analysis is using https://shipit.mozilla-releng.net.

[2018-08-29 10:59] marco-c commented on #1320
Hit by this again, @ReapOmen had to spend time for debugging a stupid thing.

[2018-08-29 12:52] jankeromnes commented on #1215
I've updated https://phabricator-dev.allizom.org/D679 and https://phabricator-dev.allizom.org/D680 using [moz-phab](https://github.com/mozilla-conduit/review), triggering:

- https://tools.taskcluster.net/groups/Hd3OXQ_PRJaJFlbUqVJgEA (failed due to #1440 again)
- https://tools.taskcluster.net/groups/K962Tr2dTHCEARmPRT_j2g (failed because the patch doesn't apply, expected until we support parent r

[2018-08-29 12:55] gabriel-v commented on #1416
There's a number manual of retriggers of windows code coverage tasks in the push: https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&revision=3b5452b3778153f6f223bb2177235835b2314eb6&selectedJob=195271341

[2018-08-29 13:12] marco-c commented on #1416
OK, so it looks like a duplicate of #1268.

[2018-08-29 13:12] #1416 closed

[2018-08-29 13:14] marco-c commented on #1215
The two tasks are the same as yesterday, probably tasks were not triggered as we temporarily made the staging bot look at Phabricator prod instead of staging (in order to more easily verify some patches).

[2018-08-29 13:16] gabriel-v commented on #1442
We have a problem: our Java code coverage reports don't contain complete relative paths for each Java file. The paths we have in our coverage reports are relative to Java package root, and we have a few Java package roots around the repo.

ActiveData matches the files by taking suffixes of decreasing lengths, which fixes this problem.

We can try and push the reports to codecov.io and see what hap

[2018-08-29 14:27] marco-c commented on #1442
Yes, sounds easier to do it directly in grcov.

[2018-08-29 16:07] jankeromnes commented on #1270
With @calixteman's help, we were able to use `libmozdata` to remove an approval flag; post a comment; and set a needinfo in https://bugzilla-dev.allizom.org/show_bug.cgi?id=1395057

It looks like we'll have to do it in two separate requests:

- either `clear request` then `comment + needinfo` as shown below,
- or `clear request + comment` then `needinfo`.

[code]

[2018-08-30 08:08] #1399 closed

[2018-08-30 08:54] marco-c opened #1457 "shipit_code_coverage: Regenerate chunk mapping weekly instead of daily"
We temporarily switched to daily to ease development, but we should switch back to weekly.

[2018-08-30 13:16] jankeromnes commented on #1271
Note: We might want to use `./mach clang-format` as a base for the before/after analysis: https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Coding_Style/Formatting_C++_Code_With_clang-format

[2018-08-30 13:41] sylvestre commented on #1271
I just had the same discussions during our respective 1:1 :)

Actually, after second thought, the nested statements might not be happening that often. And this is a small counter argument (from me, sorry :). Maybe we try and see how often we see that?

[2018-08-30 15:59] marco-c commented on #1441
Docs: https://secure.phabricator.com/T9529.

Example harbormaster.queryautotargets call for https://phabricator.services.mozilla.com/D2364:
![harbormaster queryautotargets](https://user-images.githubusercontent.com/1616846/44863814-7135ad00-ac7e-11e8-8f84-93a66e0251c2.png)

[2018-08-31 10:03] La0 opened #1459 "Use default value of publication for the SA bot"
The Mozilla central clang-tidy config file was changed to default publish value to `yes` when not mentionned.
The bot needs to reflect that.

As the configuration is already landed, plan to fix is:

1. create a patch on staging
2. test it there throurgh standard staging update
3. cherrypick that patch on production branch
4. push that change to production

[2018-08-31 10:27] #1459 closed

[2018-08-31 10:38] marco-c commented on #1450
I've changed `static_analysis/frontend` to `staticanalysis/frontend`.

[2018-08-31 10:38] #1450 closed

[2018-08-31 10:54] #1449 closed

[2018-08-31 11:28] La0 opened #1463 "Unit tests for parents diff application"
In order to complete #1455 , we need to create some unit tests with `edge.search` complete fixtures.

[2018-08-31 11:50] #1215 closed

[2018-08-31 11:50] #1451 closed

[2018-08-31 13:30] marco-c opened #1464 "Delete unused shipit-uplift roles"
We have:
[code]

[2018-08-31 13:33] La0 commented on #1464
Should be OK to delete them before next release (v46)

[2018-08-31 13:34] marco-c opened #1465 "Remove prefixes from issue names and only use labels"
We are currently sometimes adding the project name + ":" at the beginning of the issue name, and always adding the label corresponding to the project.

I think the prefixes are redundant and we should rely on the labels only. What do you think @La0 @garbas @rail?

[2018-08-31 13:35] marco-c commented on #1294
The code coverage projects have been renamed. The only shipit_* left is shipit_pulse_listener.

[2018-08-31 14:30] marco-c opened #1467 "Cleanup secrets"
I see several secrets which are useless, e.g. `CORS_ORIGINS` in pulse listener is probably unnecessary.

[2018-08-31 14:54] marco-c opened #1468 "Share PHABRICATOR_URL and PHABRICATOR_TOKEN between static analysis, pulse listener and code coverage projects"
We are duplicating the secrets multiple times.

[2018-09-02 07:37] ashish1500616 commented on #637
Hello @marco-c,

[2018-09-02 07:40] ashish1500616 commented on #637
Hello @marco-c, Please review this code if it is working as the expected behavior
[code]

[2018-09-03 10:48] marco-c commented on #1441
Example upload (with random coverage and linting data): https://phabricator.services.mozilla.com/D2364.

![screen](https://user-images.githubusercontent.com/1616846/44982887-a3455880-af77-11e8-91f3-8fbaace1362d.png)

[2018-09-03 13:40] jankeromnes commented on #1215
@marco-c has an interesting theory about these failures:

[2018-09-03 14:09] marco-c commented on #637
Yes, this is working.

[2018-09-03 14:50] marco-c commented on #1441
Additional docs:
https://secure.phabricator.com/book/phabricator/article/harbormaster/
https://phabricator.services.mozilla.com/conduit/method/harbormaster.queryautotargets/
https://phabricator.services.mozilla.com/conduit/method/harbormaster.sendmessage/

[2018-09-03 16:39] La0 commented on #1215
I reproduced locally both bugs, the diffs posted by @jankeromnes are correctly formatted (base revision on diffs).
I produced a [WIP PR](https://github.com/mozilla/release-services/pull/1469) to fix the issue on missing base revision when searching for parents diffs.

So now the task with `PHID-DIFF-5nlbhqr5hhiqrajhjm3j` is also failing on patch apply, which is weird

[2018-09-03 17:30] marco-c opened #1470 "Increase timeout to ES"
Currently we're using the default timeout. We should investigate increasing it.

But first of all, what is the default?

[2018-09-03 17:31] marco-c opened #1471 "Log ES response time"
Depends on https://github.com/mozilla/esFrontLine/issues/15.

[2018-09-03 18:02] marco-c commented on #1440
@La0 can we make the patch application "optional"? That is, can we make the bot publish issues even if the generated patch fails to apply?

[2018-09-05 08:08] La0 commented on #1215
With my WIP PR from above, both revisions from @jankeromnes now apply successfully (they did not 2 days ago)

[2018-09-05 19:09] #1321 closed

[2018-09-06 06:21] sylvestre opened #1476 "Tiny presentation improvement"
https://static-analysis.testing.moz.tools/#/
![image](https://user-images.githubusercontent.com/733326/45138731-cf4a1f00-b1ad-11e8-9ab3-34496664d1b2.png)
Please add some space here!

[2018-09-06 06:22] sylvestre opened #1477 "[static-analysis dashboard] All revisions have "No title""
![image](https://user-images.githubusercontent.com/733326/45138781-facd0980-b1ad-11e8-8aea-1ed173854cd7.png)

[2018-09-06 06:45] sylvestre commented on #1477
OK, much better, thanks :)

[2018-09-06 06:45] #1477 closed

[2018-09-06 11:15] La0 commented on #1446
According to [my latest dev on SA dashboard](https://static-analysis.testing.moz.tools/#/), 50% of all tasks are failing due to mercurial errors (mostly failing to update to a revision).

@marco-c I just have to replace `mozilla-central` to `mozilla-unified` to test your theory ?

[2018-09-06 13:34] marco-c commented on #1446
I think so, yes. Maybe you can take one of the recent failing tasks and try locally (has to be recent, otherwise the commit will now be on mozilla-central too).

[2018-09-06 13:49] jankeromnes commented on #1270
Note: The uplift cancellation code is currently being implemented in #1466.

[2018-09-06 17:58] gabriel-v opened #1480 "Artifact downloader should not download talos artifacts"
74/469 artifacts come from talos tests. That's about 16% of artifacts. Didn't we ignore these?

If so, we should not download them.

[2018-09-06 18:02] marco-c commented on #1480
We're ignoring them in the task triggered by pulse listener, but not in the task triggered by the cron.
We used to generate reports specifically for talos, that's why. Maybe now we don't need it anymore though.

[2018-09-06 18:47] #1411 closed

[2018-09-07 09:20] jankeromnes opened #1481 "staticanalysis/bot: add a text field to enabled checkers to justify their use (e.g. in reviewbot comments)"
We could for example call this field `reason` (or `rationale` / `justification` / `why` / ...):

[code]

This field could then be printed in the output when a related defect is found by `./mach static-analysis check`, and also in code review comments, like so:

[code]

[2018-09-07 11:02] La0 commented on #1446
Testing uses mozilla-unified since yesterday, and i still get a lot of missing revisions :(

[2018-09-07 11:08] marco-c commented on #1446
I think it's better to reproduce locally so we can debug, maybe robustcheckout is not cloning all the branches of the unified repo.
What is an example missing revision?

[2018-09-07 12:28] jankeromnes opened #1482 "uplift/bot: Don't try to graft patches from mozilla-central when they have been rebased in Bugzilla"
### Problem description

In bug 1486376, a developer requested a [patch to be uplifted to esr60](https://bugzilla.mozilla.org/show_bug.cgi?id=1486376#c22). That patch was a single "roll-up" from multiple patches that needed to be uplifted, already rebased against `mozilla-esr60`.

Uplift Bot successfully detected that request, however when it performed the merge test, it tried to graft the origina

[2018-09-07 13:02] jankeromnes commented on #1482
More upliftbot feedback by @RyanVM (thanks Ryan!):

[code]

[2018-09-07 14:09] marco-c opened #1483 "Phabricator base revision might be non public"
Until https://bugzilla.mozilla.org/show_bug.cgi?id=1489509 is fixed, in some cases we won't have access to the base revision the Phabricator revision is based on.

I guess for static analysis we should just try to apply the patch in those cases and fail if it doesn't apply.

For code coverage, the API can return an error.

[2018-09-10 10:08] sylvestre opened #1486 "Please sort by "Published" by default"
It is what really matters!

[2018-09-10 16:35] marco-c opened #1490 "There are many Phabricator revisions without a public base"
See also #1446.

[2018-09-10 16:35] marco-c commented on #1446
Fixed by #1488.

[2018-09-10 16:35] #1446 closed

[2018-09-10 16:38] marco-c commented on #1490
I forgot that I had already filed this as #1483.

[2018-09-10 16:38] #1490 closed

[2018-09-11 13:53] jankeromnes commented on #1483
FYI: With Lando, patches are always landed on top of `HEAD`, regardless of any base revision Phabricator might have:

[2018-09-11 13:58] marco-c commented on #1483
OK, thanks! So, it sounds like the current approach we have is good enough (try to apply on the base revision first, otherwise try to apply on latest mozilla-central).

[2018-09-11 14:00] marco-c commented on #1483
(See also https://bugzilla.mozilla.org/show_bug.cgi?id=1483966)

[2018-09-11 15:45] #1378 closed

[2018-09-12 08:13] #1486 closed

[2018-09-12 12:59] La0 opened #1495 "Fix uplift/backend bootstrap"
There are several issues for new developpers starting to work on `uplift/*`:

- [x] postgresql validation is disabled, hence DB creation (services is always missing !)
- [x] a DB migration `src/uplift/backend/migrations/versions/2158e8a5b554_.py` is failing
- [x] Default cache root to local dev tmp directory
- [x] Remove useless boot dep on redis
- [x] Missing sane default on `master` secret (a wo

[2018-09-12 13:03] jankeromnes commented on #1495
Blocks #1466.

[2018-09-13 13:42] jankeromnes opened #1504 "staticanalysis/bot: ERR-CONDUIT-CORE : [Access Denied: D679] (Can Edit) You do not have permission to edit this object"
We hit this problem a few times now. Not sure if it's a bug, or just our usage of Phabricator's API that is wrong.

The error looks like this:

1. Analysis is triggered and runs fine
2. While trying to publish results on Phabricator (or Phabricator-dev), we get this:

[code]

It happened with https://phabricator-dev.allizom.org/D679 (`staging`), while using https://phabricator-dev.allizom.org/p/rb

[2018-09-13 13:45] jankeromnes commented on #1504
Thankfully, manually changing view/edit rights is not something that is supposed to happen, so the `production` failure is not a problem with our bot:

[2018-09-13 14:33] La0 opened #1505 "Cleanup Taskcluster namespace usage"
We are using 2 Taskcluster namespaces for our projects: `project:shipit` and `project-releng`.
We should create a new one, and migrate everything inside (`project-release` ?)

There should be several roles for bots, users, and admins.

Migrating secrets would also be nice

[2018-09-13 15:18] jandem opened #1506 "Static analysis bot does not find all issues in the header file"
See this commit: https://phabricator.services.mozilla.com/D5557

reviewbot found 24 issues (missing braces, required per new SpiderMonkey style). Excellent!

However, it did not flag similar missing-braces in Interpreter-inl.h

@sylvestre @jankeromnes @marco-c

[2018-09-13 15:19] jandem commented on #1506
(I can't add the app:staticanalysis/bot label.)

[2018-09-13 16:18] jankeromnes commented on #1506
Thanks a lot for reporting this issue! Maybe there is a bug in our defect filtering system, which wrongly filtered out the similar issues in `Interpreter-inl.h`.

I'll try to dig up the Task and logs corresponding to this analysis, to find out more about what happened.

[2018-09-13 16:27] jankeromnes commented on #1506
I did find our internal email report about this analysis, titled `[production] New Static Analysis Phabricator #14467 - PHID-DIFF-vu55bvrhp4pu27i4yg6z`, but for some reason I can't find it on our internal [dashboard](https://static-analysis.moz.tools/#/), so I don't have a Task or any logs yet.

[2018-09-13 17:44] jankeromnes commented on #1506
So, all of these are not on "lines modified by the patch" (our current heuristic for filtering defects), so it's expected that they're not reported. (There might have been other defects detected by the bot, but I can't know, since the email was truncated and I couldn't find logs for this analysis.)

Most defects in `Interpreter-inl.h` seem to be inside `#ifdef ENABLE_BIGINT` / `#endif` blocks, whi

[2018-09-13 19:43] garbas commented on #1505
@La0 :+1: on this.

let just specify here more in detail what we currently have and to what we would migrate it.
I would also like to document all the roles/scopes/clients/... as we are doing this migration.

[2018-09-14 03:54] globau commented on #1504
when a revision is initially submitted it's in a private state until bmo updates the revision to match the corresponding bug (or to make it public if there's no bug).  on phabricator this looks like:

unfortunately this time this takes is variable, depending on the number of requests and other issues.  because this has to work as a pure FIFO queue, problems processing the request at the head of th

[2018-09-14 03:59] globau commented on #1504
oh - that analysis worked fine probably means that initial visibility isn't the problem here.

probably best to get exact timestamps and revisions of when this happens and correlate with permissions related activity on phabricator.

[2018-09-14 07:13] jankeromnes commented on #1506
@La0 would you know a way to find the Task and the logs for this analysis which doesn't seem to be listed in the dashboard?

[2018-09-14 07:36] jankeromnes commented on #1506
Great suggestions from IRC:

Thanks! I'll start with searching through papertrail.

[2018-09-14 07:52] jankeromnes commented on #1506
I was able to find the task via papertrail: https://tools.taskcluster.net/groups/UQzG5gHOSCmuq7qwhhLxvg

(Note: The relevant line in papertrail was:

which unfortunately truncates the diff-phid, so I couldn't find it by searching for `PHID-DIFF-vu55bvrhp4pu27i4yg6z`. Maybe we could increase the limit to 200 char or more?)

At first glance, it looks like there were a few `clang-diagnostic-errors` a

[2018-09-14 08:36] jankeromnes commented on #1506
@La0 just reminded me that our Tasks now include an artifact with the full `clang-tidy` output (I even added it, but forgot about it).

Here are the diagnostic errors:

[code]

It appears that `clang-tidy` is missing the `ToInt32OrBigInt` identifier, and thus analysis failed on these lines.

This symbol seems to be introduced in [Part 2](https://phabricator.services.mozilla.com/D5556) (this analys

[2018-09-14 08:44] jandem commented on #1506
Very interesting. Thanks for the analysis!

[2018-09-14 13:31] La0 opened #1507 "Finish Infer Integration"
In order to finish @ReapOmen integration of Infer on the code review bot:

- [x] Fix this issue encoutered during `check-java` run (from [this staging task](https://tools.taskcluster.net/groups/Fj16H3s1RL6ZXDWOW4FMOQ/tasks/Fj16H3s1RL6ZXDWOW4FMOQ/runs/0/logs/public%2Flogs%2Flive.log)):
[code]
- [x] Display Infer issues cleanly in `staticanalysis/frontend` details

[2018-09-15 22:58] marco-c opened #1508 "Code coverage tasks failing on production because `Exception: Missing value BACKEND_HOST in secrets.`"

[2018-09-15 22:59] marco-c commented on #1508
I'm not sure if this only happens when I retrigger a task or also when the task is triggered via the hook (I haven't checked the logs yet).

Before the previous release, I was able to retrigger tasks.

[2018-09-15 23:09] marco-c opened #1509 "Secrets are repeated twice"
I see for example both secrets for `shipit/api` and for `shipit-api`. The secrets are the same, copied and pasted between the two sections.

See also #1505.

[2018-09-16 02:57] rail commented on #1509
It was me, don't remember the details, but it was done around the time we renamed the projects. I'll fix those next week.

[2018-09-17 08:04] marco-c opened #1510 "Ignore patches that are not for mozilla-central"
E.g. the tasks triggered for https://phabricator.services.mozilla.com/D4217 and https://phabricator.services.mozilla.com/D2561 failed because they apply to different projects (LANDO and NSS).

[2018-09-17 10:56] marco-c commented on #1508
The tasks that are failing are somehow broken, containing references to old `shipit-code-coverage` things. Hopefully this won't happen again.

[2018-09-17 10:56] #1508 closed

[2018-09-17 11:02] autrilla opened #1512 "/__heartbeat__ failing with HTTP 500 in -dev"
Screenshot: https://irccloud.mozilla.com/file/2alN0n0A/Screen%20Shot%202018-09-17%20at%2012.50.18%20PM.png

Cloudops uses `/__heartbeat__` to check a deployment was successful, so we need this to work. We can use `/docs` for now, but we'll need this fixed eventually.

cc @garbas

[2018-09-17 11:39] garbas opened #1513 "add "enable" option to `please_cli/config.py` to be able to disable projects."
Configuration for all projects and how/where we deploy them is in `lib/please_cli/please_cli/config.py` (look for `PROJECTS_CONFIG` variable)

There are times where we would like to *pause* the deployment of certain services for some time (eg. while an owner is on vacation or when service is in freeze mode).

It would be easy just to comment out the deployments which we want to disable for a perio

[2018-09-17 11:44] garbas opened #1514 "create deployment for please_cli project to taskcluster hook"
We need to deploy current base image taskcluster hook without being scheduled. we might use please_cli project to do this or make it a manual step during the deployment.

This can be then used to do manual deployments or even quick development environment.

We first need https://github.com/mozilla/release-services/issues/1598 to be done

[2018-09-17 11:45] garbas opened #1515 "Set reminders for meeting/deployment a 2 days in advance."

[2018-09-17 11:46] garbas opened #1516 "As last point of the meeting agenda check if next date is ok with everybody eg. is somebody on PTO, etc..."

[2018-09-17 16:12] #1512 closed

[2018-09-17 16:58] rail opened #1519 "backend_common: implement app_heartbeat"
In #1518 I added empty `app_heartbeat` to various extensions. We need to implement them for reals. There are some example for pulse, db, etc.

[2018-09-17 21:51] marco-c commented on #1213
I haven't seen this in a while.

[2018-09-17 21:51] #1213 closed

[2018-09-18 07:55] #1495 closed

[2018-09-18 09:07] marco-c commented on #1510
As @La0 suggested, it's better to do this in the pulse listener so we don't even trigger the task.

[2018-09-18 09:10] marco-c commented on #1290
Duplicate of #1452.

[2018-09-18 09:10] #1290 closed

[2018-09-18 10:28] #1268 closed

[2018-09-19 09:35] abpostelnicu commented on #1507
One problem that I see here, is that the actual command from 'mach', 'check-java' doesn't pre-configure the build.

[2018-09-19 09:44] ReapOmen commented on #1507
@abpostelnicu Before running `infer`, [the bot](https://github.com/mozilla/release-services/blob/master/src/staticanalysis/bot/static_analysis_bot/infer/infer.py#L68) does a `./mach configure`.  The code for `check-java` only runs an `export`. Does it need to do something else?

[2018-09-19 09:54] abpostelnicu commented on #1507
Why didn’t we integrate the configure in the check command, like we did with the other static-analysis targets?

[2018-09-19 09:56] ReapOmen commented on #1507
@abpostelnicu I followed the way `check` was implemented. The `check` command only does an `export`.

[2018-09-19 09:57] abpostelnicu commented on #1507
Yes because the export also calls the configure.

[2018-09-19 11:30] jankeromnes opened #1522 "uplift/bot: Problem while running uplift/bot locally ("python setup.py egg_info" failed with error code 1)"
STR: Follow instructions from https://github.com/mozilla/release-services/blob/master/src/releng_docs/projects/uplift-bot.rst :

[code]

The `uplift/bot` shell does a lot of initializing and copying and preparing stuff, and finishes with:

[code]

The most worrying line is:

[code]

When I try it again in the shell:

[code]

It causes the `uplift-bot` not to be defined:

[code]

So I have to resor

[2018-09-19 12:26] jankeromnes commented on #1522
Fixed by a brutal

[code]

[2018-09-19 12:26] #1522 closed

[2018-09-19 14:11] jankeromnes opened #1525 "uplift/{backend,bot}: Fix exceptions"
[code]

Indeed https://bugzilla.mozilla.org/show_bug.cgi?id=1486970#c27 doesn't respect the expected format. The bot seems to skip analysis entirely in this case.

[code]

[2018-09-19 15:41] La0 commented on #1525
I pushed a patch to fix the issue on bug `1486971`, i think it's an old issue (seen in sentry)

[2018-09-20 07:50] jankeromnes commented on #1522
Maybe the `-R` wasn't actually necessary. (I had to `git reset --hard` to undo the mode changes on all upliftbot files.)

[2018-09-20 07:50] jankeromnes commented on #1522
Note: This was a very similar issue to #1180.

[2018-09-21 09:30] #1510 closed

[2018-09-22 11:50] rv404674 commented on #1481
hi @jankeromnes , can i take up this bug. I am a newcomer, can you guide me on how to proceed.

[2018-09-22 14:15] rv404674 commented on #1286
Hi @calixteman , can i take up this issue.

[2018-09-22 14:15] rv404674 commented on #1247
Hi @marco-c , can i take up this issue.

[2018-09-23 22:52] marco-c commented on #1247
Hey @rv404674 , you sure can! This is a pretty involved `good first bug` though, as it will require understanding of the zero coverage report generation code (https://github.com/mozilla/release-services/blob/master/src/codecoverage/bot/code_coverage_bot/zero_coverage.py), the zero coverage report frontend (https://github.com/marco-c/code-coverage-reports/tree/gh-pages) and then the actual implemen

[2018-09-24 13:15] rv404674 commented on #1247
Hey @marco-c i can understand the python based code and the frontend part also. But after that bounced over my head.

I am trying to setup development env,  I am following this guide https://docs.mozilla-
releng.net/develop/contribute.html. I have successfully ran these commands.

rahul (master) release-services $ ./please shell codecoverage/bot
OK

rahul (master) release-services $ ./please check

[2018-09-24 13:17] jankeromnes opened #1530 "staticanalysis/bot: Undetected defect + checkers not found"
**Review:** https://phabricator.services.mozilla.com/D5326

**Task:** https://tools.taskcluster.net/groups/OwfCid8jT7a4PVnykFL0FQ

**Problems:**

- [x] ~~in `js/src/vm/Time.cpp`, a missing brace is detected on line 50, but not on line 163 (and the logs include don't mention it at all, not even with a diagnotic error)~~ (expected, see [explanation](https://github.com/mozilla/release-services/issues

[2018-09-24 13:32] rv404674 commented on #1071
hi @garbas can i take up this bug. I am a newcomer, so can you explain it a little more.
Thanks.

[2018-09-24 13:35] jankeromnes commented on #1530
By (sorting and) diffing the list of available checkers from the logs against various `clang-tidy` versions, I was able to find out that the analysis was based on `clang-tidy-5.0` (instead of `clang-tidy-7`).

[2018-09-24 13:41] jankeromnes commented on #1530
I randomly tested one of our latest production tasks on our internal dashboard https://static-analysis.moz.tools/#/, i.e. https://tools.taskcluster.net/groups/dA2xZO0lSwqQSZ7u9cWefQ/, and it's also `5.0`.

[2018-09-24 13:43] sylvestre opened #1531 "Break the CI when the version of clang-tidy isn't correct"
We saw in https://github.com/mozilla/release-services/issues/1530 that we have been using the wrong version of clang-tidy. we should an entry check. especially as config.yaml has very specific checkers.

[2018-09-24 13:48] jankeromnes commented on #1531
One way we could achieve this is, in every analysis task, run the equivalent of `clang-tidy --version`, and assert that we have the right version.

The question is, how should we tell the bot what the "right version" is? Hard-coded in Python? Configured in secrets? Pinned in [config.yaml](https://hg.mozilla.org/mozilla-unified/raw-file/tip/tools/clang-tidy/config.yaml)?

[2018-09-24 13:49] abpostelnicu commented on #1531
We should add it in [config.yaml](https://hg.mozilla.org/mozilla-unified/raw-file/tip/tools/clang-tidy/config.yaml)

[2018-09-24 13:54] jankeromnes commented on #1531
Should we pin a specific version (e.g. `clang-tidy-version: "7.0.1"`), or set a version range (e.g. `clang-tidy-range: ">= 7; < 8"`), or just set the minimum version (e.g. `min-clang-tidy: "7.0.0"`)?

[2018-09-24 13:55] abpostelnicu commented on #1531
I would use a min-clang-tidy, since major updates are not that common.

[2018-09-24 14:28] abpostelnicu commented on #1531
Fired [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1493672) in Bugzilla for having min_clang_tidy option in our config file.

[2018-09-25 07:20] La0 commented on #1510
@marco-c After a day on testing, the ratio of successfully analysed patches is a bit better (86% on testing instead of 83% on production).
This is not on the same period, but that looks good (and not *too good*)

[2018-09-25 08:18] La0 commented on #1476
It was an old CSP issue not loading the CSS inline styles, fixed since last release

[2018-09-25 08:18] #1476 closed

[2018-09-25 08:19] La0 commented on #1380
We are now at 85% appliance rate, much better.

[2018-09-25 08:19] #1380 closed

[2018-09-25 08:32] marco-c opened #1542 "Post a comment when a patch cannot be applied"
This way the developer knows that the analysis cannot run (and also that Lando cannot be used to land their patch).

[2018-09-25 08:32] marco-c commented on #1380
I've filed https://github.com/mozilla/release-services/issues/1542.

[2018-09-25 08:33] marco-c opened #1543 "Improve the way we download the clang-tidy artifact"
We are currently downloading it with a hardcoded URL to autoland, we should download it in a more robust way.

[2018-09-25 08:35] sylvestre commented on #1542
@markrcote This might be interesting for you

[2018-09-25 08:54] marco-c commented on #1543
Here's the mozilla-central source code that does the artifact downloading: https://searchfox.org/mozilla-central/source/python/mozbuild/mozbuild/artifacts.py.

Maybe we could even use it directly in our bot by importing it (since we have a mozilla-central clone).

[2018-09-25 12:01] La0 commented on #1531
So what's the implementation decision here ?
Either @jankeromnes or me implement the check in the bot, or @abpostelnicu does it in `./mach static-analysis check`

[2018-09-25 12:07] #1381 closed

[2018-09-25 12:16] jankeromnes commented on #1531
How about we enforce it in `./mach static-analysis check`, but allow to bypass this check in case you really know what you're doing? E.g. we could fail with:

[code]

and replace this error with a simple warning if you provide `--allow-deprecated` while continuing with the analysis?

[2018-09-25 12:17] abpostelnicu commented on #1531
I like the idea of having it in mach, I will do that.

[2018-09-25 12:30] jankeromnes commented on #1481
Hi @rv404674, thanks a lot for your interest! We're so happy that you'd like to help. :smile:

I'll do my best to guide you through the process, but if something doesn't make sense to you please never hesitate to ask.

The docs at https://docs.mozilla-releng.net/projects/shipit-static-analysis.html have a bit more detail on how to run `staticanalysis/bot` locally (Notes: It was recently renamed fr

[2018-09-25 12:38] rv404674 commented on #1481
Thanks a lot ,@jankeromnes appreciated. Can you tell me which irc do you use??. And i how to connect to you using that.

[2018-09-25 13:53] jankeromnes commented on #1481
Sure! We usually hang out in `#release-services` in Mozilla's IRC network (not Freenode). You can join us there with riot.im (I find it a bit complicated) or KiwiIRC using this [direct link](https://kiwiirc.com/nextclient/irc.mozilla.org/?#release-services).

[2018-09-25 14:56] jankeromnes commented on #1530
bc7af4bb9afe447261d1f84d97d816435c3b445f fixed our artifact URL from `clang-tidy 5.0.1` to `7.0.0`. The fix should be part of the next release tomorrow.

[2018-09-25 15:42] mozbhearsum opened #1547 ""auth failure" wrongly reported by ship it backend"
The UI says "Auth Failure" if I try to submit a release whose decision task has not yet completed. If I look in the Browser Console, I see the real error:
Indexed task has expired --- * method: findTask * errorCode: ResourceNotFound * statusCode: 404 * time: 2018-09-25T15:40:49.383Z

[2018-09-25 16:27] jankeromnes commented on #1530
I just ran the latest `master` locally against `PHID-DIFF-6xlnnhssoftbejhzleev` (from https://phabricator.services.mozilla.com/D5326), and it seems that `clang-tidy 7.0.0` was successfully used, however the bot still only found one of the two missing braces in `Time.cpp`:

[code]

So the first issue in the original post remains unfixed.

[2018-09-25 17:48] abpostelnicu commented on #1507
Another thing that troubles me here, looking at log i see this question mark:

Unzipping /cache/sa-unified/?/.gradle/wrapper/dists/gradle-4.4-all/9br9xq1tocpiv8o6njlyu5op1/gradle-4.4-all.zip to /cache/sa-unified/?/.gradle/wrapper/dists/gradle-4.4-all/9br9xq1tocpiv8o6njlyu5op1

How does that end up there?

[2018-09-25 21:34] rv404674 commented on #1481
hey @jankeromnes , i have messaged you on irccloud. Can you take a look.

[2018-09-26 06:52] La0 commented on #1530
@jankeromnes Do you reproduce this by using clang-tidy directly on your "bad" file ?
This looks like an issue from clang-tidy, not the bot (except if there is a parsing issue)

[2018-09-26 06:58] abpostelnicu commented on #1530
I can’t seem to reproduce this locally, maybe some logs from the task might help us, since could be a parsing issue.

[2018-09-26 07:02] La0 commented on #1507
@abpostelnicu I created [a task on testing](https://tools.taskcluster.net/groups/JSYT0LLVSP2kv_fjFltU_A/tasks/JSYT0LLVSP2kv_fjFltU_A/runs/0/logs/public%2Flogs%2Flive.log) for this specific diff.

There should be the clang-tidy output in the artifacts in a few minutes

[2018-09-26 07:02] La0 commented on #1530
@abpostelnicu I created [a task on testing](https://tools.taskcluster.net/groups/JSYT0LLVSP2kv_fjFltU_A/tasks/JSYT0LLVSP2kv_fjFltU_A/runs/0/logs/public%2Flogs%2Flive.log) for this specific diff.

There should be the clang-tidy output in the artifacts in a few minutes

[2018-09-26 09:40] jankeromnes commented on #1530
Well done team! One more issue fixed. :slightly_smiling_face:

[2018-09-26 09:40] #1530 closed

[2018-09-26 11:34] jankeromnes commented on #1264
For the analyzer filter in the `PhabricatorReporter`, we could do something similar to what the (now removed) `MozReviewReporter` did:

https://github.com/mozilla/release-services/blob/548d354c297908c65e48182a195b2952d84f1f84/src/staticanalysis/bot/static_analysis_bot/report/mozreview.py#L52-L60

However, I'm not sure if we should set `self.analyzers` in `__init__`:

https://github.com/mozilla/rel

[2018-09-26 14:15] jankeromnes opened #1550 "all: remove any sensitive tokens from the master secret, which is meant to be semi-public"
Currently in https://tools.taskcluster.net/secrets/repo%3Agithub.com%2Fmozilla-releng%2Fservices%3Abranch%3Amaster we have a lot of sensitive information.

However, that secret is meant to be shareable. Let's audit it, and remove any sensitive credentials.

Here is the ones I see as being potentially problematic:

- [ ] `common: CACHE_ACCESS_KEY_ID`
- [ ] `common: CACHE_SECRET_ACCESS_KEY`
- [ ] `c

[2018-09-26 15:09] sylvestre commented on #1059
@marco-c does this still happen?

[2018-09-26 15:14] marco-c commented on #960
@jankeromnes I think you did this, right?

[2018-09-26 15:15] marco-c commented on #1230
I assume yes.

[2018-09-26 15:15] #1230 closed

[2018-09-26 15:15] abpostelnicu commented on #1059
No, this should no longer happen.

[2018-09-26 15:17] marco-c commented on #944
Duplicate of #655.

[2018-09-26 15:17] #944 closed

[2018-09-26 15:18] marco-c commented on #655
This should be feasible with Phabricator.

[2018-09-26 15:22] marco-c opened #1553 "Cleanup Sentry backlog"

[2018-09-26 15:29] sylvestre commented on #663
example with phabricator: https://phabricator.services.mozilla.com/D4899#inline-18963

[2018-09-26 19:05] La0 commented on #1384
Seems to work now: https://phabricator-dev.allizom.org/D698 (line 245)

We should try again your patch on staging

[2018-09-27 08:33] jankeromnes commented on #1481
A few helpful pointers for this issue:

The YAML file in which we could add a `reason` field to each checker lives in the Firefox repository. It is called `tools/clang-tidy/config.yaml`, and can be found here:

https://hg.mozilla.org/mozilla-unified/raw-file/tip/tools/clang-tidy/config.yaml

It is downloaded at runtime by our bot here:

https://github.com/mozilla/release-services/blob/f1248769455a

[2018-09-27 09:18] abpostelnicu commented on #1481
I would advise to use the official documentation of clang-tidy here in order to argument the checker. Of course we can modify a little bit, but if we are to add some sort of argumentation we should start with the official description of each checker, for example see the description of [modernize-use-equals-default](https://clang.llvm.org/extra/clang-tidy/checks/modernize-use-equals-default.html)

[2018-09-27 23:36] rv404674 commented on #1481
heyy @jankeromnes , i created a PR for this. Sorry if the code looks shitty.

[2018-09-28 15:22] marco-c commented on #1247
then the actual implementation of the platform-difference report generation code and platform-difference frontend code ", i did not understood this.

I meant, after studying that code, then you can go on and start the implementation of the report showing files with zero coverage on a platform but not on another.

rahul (master) release-services $ ./please run codecoverage/bot
Error: Application co

[2018-09-28 17:57] rv404674 commented on #1053
Hi @La0 . Is this issue still open, and if yes, can you explain in more detail, what the issue is. I am a newcome.

[2018-09-28 21:09] rbartlensky commented on #1507
Unfortunately I don't. I will try to see what happens when I set `GRADLE_HOME`.

[2018-10-01 07:49] La0 commented on #1053
@rv404674 The goal here is to add more Datadog metrics (our monitoring tool) around all the mach commands used in `src/staticanalysis/bot`.

Right now we only have one timer around all of those steps, we would need one per mach call: https://github.com/mozilla/release-services/blob/master/src/staticanalysis/bot/static_analysis_bot/workflow.py#L155

[2018-10-01 11:17] rv404674 commented on #1073
hi @garbas , i am a newcomer and i want to take up this issue. Can you give me some pointers. Thanks.

[2018-10-01 11:20] rv404674 commented on #985
hey @garbas , can i take up this issue.

[2018-10-01 11:20] rv404674 commented on #1011
hi @La0 , i am a newcomer, can i take up this issue. Any suggestions for me. Thanks

[2018-10-01 12:03] garbas commented on #1073
this is an outdated ticket

[2018-10-01 12:04] #1073 closed

[2018-10-01 13:17] rv404674 commented on #1071
hey @garbas , whenver you get time, do explain context a little bit please. Thankyou. :)

[2018-10-01 14:19] abpostelnicu commented on #1507
Before having that error, I've encountered other error regarding the artifact, infer is not located in the same namespace as the android artifacts so we must use a different mechanism here.

[2018-10-02 08:18] marco-c opened #1564 "Code referenced by code review bot shows incorrect line numbers"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1495008 by @mossop:
When the code review bot makes a comment it shows the line numbers of failing code. They don't seem right.

For example, here is a comment that the bot found: https://phabricator.services.mozilla.com/D2027#163553

Here is the mail I received:

[code]

The code in the email shown for line 2591 is the code at that line but isn't t

[2018-10-02 09:14] garbas commented on #1071
@rv404674 sorry for late answer.

when you run `./please --help` you can see at the top of the output `.please-wrapper`, that should actually be `./please` and this is what we need to fix.

I attempted to fix this [here](https://github.com/mozilla/release-services/blob/master/lib/please_cli/please_cli/__init__.py#L69) but it looks like it doesn't work.

Maybe it should be `name="./please"` instead

[2018-10-02 11:10] garbas opened #1565 "Notify via IRC when deployment via to testing/staging/production happens"
In `release-services` we can deploy all projects at once by just pushing code to `testing` / `staging` / `production` branch.

Once code is pushed to a branch a taskcluster a job, defined in `.taskcluster.yml`, is started. This job is to run `./please tools decision-task` command, which in turn checks what needs to be built and creates appropriate tasks.

The task in this ticket is to send IRC not

[2018-10-02 13:02] garbas opened #1568 "Notify to `#ci` and `#moc` IRC channels that deployment to production is about to start"
In similar fashion as in #1565 we would like to announce to `#ci` and `#moc` IRC channels that deployment is about to happen.

And example message can be found in documentation: https://docs.mozilla-releng.net/deploy/regular.html

Few more details:

- this should send out notification at the same time as #1565 but only when channel is ``production``.

- it should send message to `#ci` and `#moc` i

[2018-10-02 13:30] rv404674 commented on #1071
Thanks @garbas,  I will be sending a patch for this today itself.

[2018-10-02 13:31] rv404674 commented on #1565
Hey @garbas, I am working on this one. Thanks.

[2018-10-02 14:17] marco-c opened #1570 "Use consistent naming (both for specific projects and between projects)"
We have different terminology in config.py, in PROJECT_NAME in config.py and in setup.py and in the name of the directories.
E.g. sometimes we use staticanalysis, sometimes static-analysis, and sometimes static_analysis.

- [x] codecoverage/backend, #1566.
- [ ] codecoverage/bot
- [ ] codecoverage/crawler
- [ ] staticanalysis/bot
- [ ] staticanalysis/frontend

[2018-10-02 14:32] marco-c opened #1571 "Automatically use the Rust version used on mozilla-central CI"
Switching to running the task on try is going to be quite a bit of work, without offering more features than we currently have (it's going to be more stable, more maintenable, but it's not going to add much in terms of features).

We have two options to workaround the periodic Rust update:
1) Don't use the Rust nix package, but download Rust from the mozilla-central toolchain task
2) Automatically

[2018-10-02 15:15] garbas commented on #1571
1. you would probably need to move away from gecko-env in this case
2. it would be possible to parse this yaml on the fly using nix. This would break task purity, but i don't think it is needed in your case.

In case you go with 2. ping me if you need help with writing that nix expression.

[2018-10-02 16:19] marco-c commented on #1571
The benefit of 1 is that we don't need to re-deploy whenever mozilla-central changes the version of Rust they use. It's not clear how much work it would be though, as the Rust compiler has a lot of dependencies on binary stuff.

[2018-10-02 16:56] garbas commented on #1571
this is also what i mean with nr. 2 you can detect the version of rust from from nix as you execute gecko-env (aka nix-shell).

[2018-10-02 20:13] garbas commented on #985
@rv404674 this would require some [Nix)[https://nixos.org/nix] knowledge? Are you familiar with Nix?

[2018-10-02 20:19] abpostelnicu commented on #1507
This issue is because:

`/tmp/mozilla-state/infer/infer/bin/infer: error while loading shared libraries: libsqlite3.so.0: cannot open shared object file: No such file or directory`

It seems we miss libsqlite3, but this is strange since we have it in the nix environment.

[2018-10-02 20:32] rbartlensky commented on #1507
Could you tell me the commands that you execute?

[2018-10-02 20:34] abpostelnicu commented on #1507
@rbartlensky  please see:

`/tmp/mozilla-state/infer/infer/bin/infer capture --skip-analysis-in-path browser/components/translation/cld2/ --skip-analysis-in-path browser/extensions/mortar/ppapi/ --skip-analysis-in-path db/sqlite3/src/ --skip-analysis-in-path devtools/client/sourceeditor/codemirror/ --skip-analysis-in-path devtools/client/sourceeditor/tern/ --skip-analysis-in-path devtools/shared/h

[2018-10-02 20:40] rbartlensky commented on #1507
@abpostelnicu Try to write the above command in a file (let's call it `infer.sh`), and then run `gecko-env infer.sh`

[2018-10-02 23:31] marco-c commented on #942
I think this has been fixed.

[2018-10-02 23:31] #942 closed

[2018-10-02 23:33] marco-c commented on #1078
#1298 would fix this.

[2018-10-02 23:33] #1078 closed

[2018-10-02 23:34] #1006 closed

[2018-10-02 23:35] marco-c commented on #1379
This is done.

[2018-10-02 23:35] #1379 closed

[2018-10-03 06:11] rv404674 commented on #1053
hey @La0 , i think the PR is completed, do take a look, when you get some time. :)

[2018-10-03 06:55] rv404674 commented on #985
@garbas , nopes. Better to let this one go. :) . I prefer working on sending a notification to IRC, when deployment, via testing/staging/production happens.

[2018-10-03 06:56] rv404674 commented on #1568
hey @garbas , this one is similar to #1564, and i am already working on #1565, so i will be taking this one also. :)

[2018-10-03 07:38] masayuki-nakano opened #1576 "shipit_static_analysis: Local copy is warned but it's necessary"
https://phabricator.services.mozilla.com/D7579

I understand what you try to avoid. However, this is a special case.  `TabChild::SendStartPluginIME()` is an IPC method. Therefore, its argument for `WidgetKeyboardEvent` is marked as `const` automatically. However, the event is actually modified during sending to another process. Therefore, we need to copy it for avoiding the unnecessary modificatio

[2018-10-03 07:52] La0 commented on #1571
Can't we simply do n°2 with the [automatic updates](https://github.com/mozilla/release-services/issues/1084) tool we'll implement ?

[2018-10-03 08:29] abpostelnicu commented on #1576
Indeed this cannot be determined by static-analysis, and unfortunately the checker `performance-unnecessary-copy-initialization` doesn't have an option to suppress some warnings or to use some sort of markup that would instruct the checker not to trigger this warning.

[2018-10-03 23:49] marco-c commented on #1341
I'm not sure it's worth it. The only use case is the addon, in a very specific case (https://github.com/mozilla/code-coverage-addon/issues/46) which might not be so common.
Supporting it in the current architecture would be pretty easy, but with ActiveData it would mean an additional query (as with ActiveData we don't need push data normally).

[2018-10-04 08:49] sylvestre opened #1580 "shipit_static_analysis: bugprone-multiple-statement-macro: will cause a lot of issues"
**Phabricator URL:** https://phabricator.services.mozilla.com/D7665#176696

**Problem:**
This isn't the developer fault. So, not sure we should show that.
Maybe we should fix the issue directly in the header or silent this warning.

[2018-10-04 10:33] La0 commented on #704
The [retrigger code](https://github.com/mozilla/release-services/pull/1578) could be reused here.

[2018-10-04 10:55] abpostelnicu commented on #1580
Looking other this and other the rest of our code, we shouldn't publish this. Most of the time we build statements like this inside our code:

`
NS_INTERFACE_MAP_BEGIN_CYCLE_COLLECTION(DocAccessible)
  NS_INTERFACE_MAP_ENTRY(nsIDocumentObserver)
  NS_INTERFACE_MAP_ENTRY(nsIMutationObserver)
  NS_INTERFACE_MAP_ENTRY(nsISupportsWeakReference)
  NS_INTERFACE_MAP_ENTRY(nsIObserver)
  NS_INTERFACE_MAP_

[2018-10-04 13:03] jankeromnes commented on #1270
Since we don't yet supported rebased patches in attachments, we should probably start by only posting a comment in the bug (without needinfo, and without cancelling the uplift request), just explaining that Uplift Bot failed to cherry-pick the patch from mozilla-central.

We could also add a special whiteboard tag (or keyword), to indicate whether Uplift Bot succeeded or failed to cherry-pick the

[2018-10-04 13:52] marco-c commented on #1570
We should do the same as https://github.com/mozilla/release-services/pull/1566 for all projects.

[2018-10-04 14:33] garbas commented on #1570
for PROJECT_NAME we should use the same name as when we invoke `./please run <project>` command. APP_NAME will be deprecated/

example: right now we should fix PROJECT_NAME for `codecoverage/backend` to be `codecoverage/backend`

reason for this is that with `common/naming` utility we need to most "rich" name possible, which we can then "dumb" down based on the limitations of the usage.

[2018-10-04 15:10] #1053 closed

[2018-10-04 16:15] sylvestre opened #1583 "flake8: Error: Unable to parse file [wpt: PARSE-FAILED]"
**Phabricator URL:** https://phabricator.services.mozilla.com/D7736

**Problem:** if we cannot parse it, maybe we should not display the error message
And/or fix the underlying issue

[2018-10-05 05:24] masayuki-nakano opened #1585 "clang-tidy: readability-implicit-bool-conversion does not match with our coding rules"
https://phabricator.services.mozilla.com/D6374

There are two warnings of clang-tidy: readability-implicit-bool-conversion. However, our coding rule does not allow this style. See https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Coding_Style#CC_practices

So, static-analysis shouldn't use this rule.

[2018-10-05 06:15] sylvestre commented on #1585
@abpostelnicu what do you think about that?
should we extend the clang-tidy to adjust to our coding style?

[2018-10-05 07:51] La0 commented on #1525
@jankeromnes Can we close this issue now ?

[2018-10-05 08:40] jankeromnes commented on #1271
Using `./mach clang-format` removes the dependency on `before/after`. Let's de-couple these two features, and ship each feature whenever it's ready.

[2018-10-05 08:44] jankeromnes commented on #1236
New validation run to find before/after bugs:

- 1/2: `PHID-DIFF-sj6o2ldoy3qrly32tf7x` https://tools.taskcluster.net/task-inspector/#EUINu1tdT9eq9cFtBEQbKA
- 2/2: `PHID-DIFF-3reimpzvzlbnn7hhmjrc` https://tools.taskcluster.net/task-inspector/#N6C9GhV-Ty2ZdugKl9Jezw

[2018-10-05 09:08] La0 commented on #704
I'm starting to work on this one, here is what i can do:

1. Retry immediately tasks in exception state (with a maximum of N retries - N=3). Exception states are mostly due to Taskcluster (workers down, timeouts, ...)
2. Retry tasks in error state once, with a waiting time

If I use the retrigger code, a new task group & task id will be created, so I need to keep track of this in the code.
The [re

[2018-10-05 09:30] #1440 closed

[2018-10-05 09:35] marco-c commented on #1127
Yeah this is not so easy to solve without some kind of persistency... The index might be an acceptable solution.
I'm not sure how important this is though, the scenario sounds not so common.

[2018-10-05 09:36] marco-c commented on #1471
We're no longer using esFrontLine, so this no longer depends on https://github.com/mozilla/esFrontLine/issues/15.

[2018-10-05 10:05] #1279 closed

[2018-10-05 10:05] jankeromnes opened #1588 "staticanalysis/bot: Let users know why analysis failed on their patch"
Sometimes, code analysis fails for various reasons, so reviewbot can't post a review on Phabricator.

See our internal dashboard for examples:

We will soon have a way to display basic status information on Phabricator, but for some types of failures, it might be interesting to also post a comment with more details.

For example, sometimes analysis fails because a patch can't be applied (`Analysis

[2018-10-05 10:09] marco-c commented on #1588
The failed to apply case is https://github.com/mozilla/release-services/issues/1542.

[2018-10-05 12:18] La0 commented on #704
From #taskcluster:

[2018-10-05 12:43] jankeromnes commented on #1236
Both failed. Then I deployed `master` to `staging`, and re-uploaded:

- 1/2: `PHID-DIFF-q5imboxwn3nvorgjoisi` https://tools.taskcluster.net/task-inspector/#ZiWfvHJ3S0qxE-h9pBuvBw
- 2/2: `PHID-DIFF-5tgaftrsvnjrezdov5an` https://tools.taskcluster.net/task-inspector/#cDD__u_oTQ-6fYtZV6T0wQ

[2018-10-05 12:46] jankeromnes opened #1591 "staticanalysis/bot: No clang-tidy defects reported in latest staging run"
Today, I pushed master to staging, waited for deploy, and send two bad patches to test reviewbot:

- 1/2: [PHID-DIFF-q5imboxwn3nvorgjoisi](https://phabricator-dev.allizom.org/D714) https://tools.taskcluster.net/task-inspector/#ZiWfvHJ3S0qxE-h9pBuvBw
- 2/2: [PHID-DIFF-5tgaftrsvnjrezdov5an](https://phabricator-dev.allizom.org/D715) https://tools.taskcluster.net/task-inspector/#cDD__u_oTQ-6fYtZV6T0wQ

[2018-10-05 13:06] abpostelnicu commented on #1591
@jankeromnes can you reproduce this locally in the nix shell, you can run the `mach` command within the `gecko_env`.

[2018-10-05 13:18] jankeromnes commented on #1591
Attempting to reproduce locally with:

[code]

[2018-10-05 13:59] #1480 closed

[2018-10-05 14:19] jankeromnes commented on #1236
Again:

- 1/2, [PHID-DIFF-3drb6zzj4ezbssrxdluu](https://phabricator-dev.allizom.org/D714), https://tools.taskcluster.net/task-inspector/#fUSW_VRGTJ-Zza0B0PcTZg
- 2/2, [PHID-DIFF-ffrmwh6qhekydjukpozu](https://phabricator-dev.allizom.org/D715), https://tools.taskcluster.net/task-inspector/#K8SWxa5BRESxGSygYkvueg

[2018-10-05 14:20] jankeromnes commented on #1591
Re-triggered staging in https://github.com/mozilla/release-services/issues/1236#issuecomment-427381963.

Let's see if this bug reproduces.

[2018-10-05 15:10] jankeromnes commented on #1236
Again:

- 1/2, [PHID-DIFF-3drb6zzj4ezbssrxdluu](https://phabricator-dev.allizom.org/D714), https://tools.taskcluster.net/task-inspector/#fUSW_VRGTJ-Zza0B0PcTZg
- 2/2, [PHID-DIFF-3imcuyzrmmhdpgrr5w6r](https://phabricator-dev.allizom.org/D715), https://tools.taskcluster.net/task-inspector/#GgYHF5ywShWzK28Mej6S2Q

[2018-10-05 15:19] jankeromnes commented on #1591
It reproduced: `static_analysis_bot.clang.tidy: Empty clang output, skipping analysis.`

This message appears shortly after clang-tidy starts, so it's probably not doing much work.

[2018-10-05 15:20] marco-c opened #1593 "Enable responses automatically for all tests"
We can use pytest-responses to do this.

[2018-10-08 03:01] akansha2608 commented on #914
Hi @sylvestre @rail I would like to work on it , can you help me how to get started?

Thanks

[2018-10-08 10:11] La0 commented on #1543
We are blocked by [this line in mach](https://dxr.mozilla.org/mozilla-central/source/python/mozbuild/mozbuild/mach_commands.py#1421).

@marco-c [has filed a bug to improve this](https://bugzilla.mozilla.org/show_bug.cgi?id=1497155).

Once we can run `./mach artifact toolchain --from-build linux64-clang-tidy` on taskcluster, we can remove the hardcoded artifact download

[2018-10-08 14:10] abpostelnicu commented on #1585
We have this [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1479298) to track the progress.

[2018-10-08 14:35] garbas commented on #914
@akansha2608 hey! I unassigned myself since I never got a time to work on this. I will also update description a bit

[2018-10-09 12:40] garbas commented on #1553
@marco-c how would we change the process so that we would keep an eye on sentry backlog and keep it more or less clean? that way once we clean it we also have a way how to keep it clean?

should we make it part of the post deployment steps every 2 weeks? eg. on Friday after production deployment every owner of project would need to go over sentry alerts for their project?

 do you have any other i

[2018-10-09 13:55] garbas commented on #1516
I added an item in the template for our meetings

[2018-10-09 13:55] #1516 closed

[2018-10-09 13:57] garbas commented on #1515
I added a notification about our release-services meeting 2 days before.

[2018-10-09 13:57] #1515 closed

[2018-10-09 14:01] garbas opened #1598 "move `lib/please_cli` into `src/please/cli`"
make sure we can develop on this project via `./please shell`weekly

[2018-10-09 23:16] marco-c commented on #1553
The only drawback with this idea is that basically we will look at the issues of a given deployment on the following deployment.
Maybe we should look at the issues a couple of days after the deployment, setting some calendar reminders to do so.

[2018-10-10 06:32] rv404674 commented on #1513
hey @garbas, a question regarding this. I need to add enable option in all places that have target = {s3 or heroku or dockerhub or taskcluster).   And for all projects - shipit, releng no??

[2018-10-10 07:43] La0 opened #1601 "Sort filter states alphabetically"

[2018-10-10 07:48] rv404674 commented on #1513
hey @garbas , i have opened a PR for it. Can you please review it when you get some time. Thanks :)

[2018-10-10 08:35] La0 opened #1604 "Block taskcluster python library to 4.0.1"
Last release `5.0.0` has some major changes that would break most projects.

[2018-10-10 09:47] #1604 closed

[2018-10-10 09:48] marco-c opened #1611 "Update to taskcluster 5"
When we update to taskcluster 5.0.0:
[code]

We need to fix this and remove https://github.com/mozilla/release-services/pull/1606.

[2018-10-10 10:07] #1509 closed

[2018-10-10 13:20] teh-f00l commented on #912
@marco-c @vsham20 Is this still open for a contribution?

[2018-10-10 14:04] marco-c commented on #912
Only `generate_suite_reports` is not tested yet, I've opened https://github.com/mozilla/release-services/issues/1030 for it, but @rv404674 is working on it.

[2018-10-10 14:04] #912 closed

[2018-10-10 14:13] marco-c opened #1613 "No issues found on revision which has issues"
On https://phabricator.services.mozilla.com/D8081, the "space after ," issues were not detected.
Here is the log of the staticanalysis/bot task: [live_backing.txt](https://github.com/mozilla/release-services/files/2465007/live_backing.txt).

[2018-10-10 14:16] marco-c commented on #1613
Linting is disabled on these files: https://dxr.mozilla.org/mozilla-central/rev/c291143e24019097d087f9307e59b49facaf90cb/testing/marionette/harness/.flake8.

[2018-10-10 14:16] #1613 closed

[2018-10-10 14:16] sylvestre commented on #1613
I agree this is confusing.

[2018-10-10 16:33] La0 commented on #1514
Meanwhile, here is how to deploy a single project using taskcluster on production:

## Requirements

* The published git commit of the head you want to deploy, let's name it `UPDATE_COMMIT`
* This revision should already be built by Taskcluster (on a PR for example)

## Find the last production deployment:

1. Lookup the [last release version](https://github.com/mozilla/release-services/releases).

[2018-10-11 05:53] abpostelnicu commented on #1585
This has been [integrated](https://phabricator.services.mozilla.com/rMOZILLACENTRAL33692f367564122728279498617718bbc235e542) into m-c, so closing the issue.

[2018-10-11 05:53] #1585 closed

[2018-10-11 06:02] abpostelnicu commented on #1543
If we can I think we should let `./mach static-analysis check ... ` do its work behind the curtains and not directly call `./mach artifact toolchain --from-build linux64-clang-tidy`. In the end, `static-analysis` grabs the artifact from the [artifact manager](https://dxr.mozilla.org/mozilla-central/source/python/mozbuild/mozbuild/mach_commands.py#2416) and moves them into `.mozbuild` so this would

[2018-10-11 19:47] marco-c opened #1615 "ModuleNotFoundError: No module named 'cli'"
Caused by #1596.

[2018-10-11 21:15] #1615 closed

[2018-10-12 08:27] marco-c opened #1617 "Remove the uplift/frontend project"
It is no longer used, we should be able to remove it. We don't even have a label to mark issues belonging to uplift/frontend.

[2018-10-12 08:34] marco-c opened #1618 "Remove the uplift/backend project"
uplift/bot still depends on uplift/backend, but we should be able to remove this dependency and then remove uplift/backend.

[2018-10-12 09:01] La0 commented on #1618
The plan is to trigger `uplift/bot` from `pulselistener` and thus remove the dependency on the `uplift/backend` which is just some sort of persistence layer, mostly unused since `uplift/frontend` is not used.

[2018-10-12 09:02] La0 commented on #1617
Would be good to have by next release, i'm leaving it unassigned as you marked it good first bug

[2018-10-12 16:51] #1442 closed

[2018-10-15 16:35] La0 commented on #1471
+ Datadog support

[2018-10-16 00:44] rv404674 commented on #1565
Hi @wizofe, I am still working on it.

[2018-10-16 08:04] La0 commented on #1271
We miss 3 things before running clang-format on testing:

- [ ] Use `./mach clang-format` instead of `clang-format` directly, #1600
- [ ] Provide patch directly from analyzer instead of rebuilding from diffs
- [ ] Filter issues by analyzer in PhabricatorReporter (aka shadow mode)

When we have these, we can run clang-format analysis like this:

* on testing with production analysis, but no reporti

[2018-10-16 12:56] marco-c opened #1621 "path endpoint returns a file instead of a directory"
This is not reproducible with all directories, but for example https://coverage.moz.tools/v2/path?path=media/webrtc/trunk/webrtc/sdk/android/api/org/webrtc/
returns
[code]

[2018-10-16 13:04] marco-c commented on #1403
I guess we can WONTFIX this, as long as we're aware of this limitation.

[2018-10-16 13:04] #1403 closed

[2018-10-16 13:08] marco-c commented on #1199
Another option is to retrieve the taskcluster group associated with the ActiveData build, and check that the group is complete.
Probably more correct, but it might take more time to implement it.

[2018-10-16 14:13] #1471 closed

[2018-10-16 15:12] marco-c commented on #1095
We can close this now, as the service is there (even though it is still a WIP).

[2018-10-16 15:12] #1095 closed

[2018-10-16 15:13] La0 commented on #1621
I think that's when there is only one file in the directory: https://github.com/mozilla/release-services/blob/master/src/codecoverage/backend/codecoverage_backend/v2/__init__.py#L37

[2018-10-16 15:14] marco-c commented on #712
@La0 this would be a huge perf improvement if we decide to serve source code. We don't even need to checkout to different revisions, we can just do something like `hg cat -r REVISION SOURCE_FILE`, which should not require locking so should be quite fast.

[2018-10-16 19:26] smaug---- opened #1622 "Problem with an automated review: readability-implicit-bool-conversion"
**Phabricator URL:** https://phabricator.services.mozilla.com/D8888

**Problem:** …
Warning: Implicit conversion 'nsIDocument *' -> bool [clang-tidy: readability-implicit-bool-conversion]

if (doc && XULBroadcastManager::MayNeedListener(*this)) {
    ^~~
    ( != nullptr)

readability-implicit-bool-conversion seems to be totally opposite of Mozilla coding style.
One must not do doc != nullptr per

[2018-10-16 20:02] marco-c commented on #1622
This should be fixed soon, see #1585.

@abpostelnicu could you confirm it is fixed?

[2018-10-16 23:08] marco-c commented on #1621
It's strange because `media/webrtc/trunk/webrtc/sdk/android/api/org/webrtc/` is not supposed to be a file, so that second condition should be false.

[2018-10-16 23:10] marco-c commented on #1621
Ah, I see, it's the children there.
Do you remember why we're doing this? I don't see the benefit, it might be better to just return the list of children even if there's a single one.

[2018-10-17 08:16] abpostelnicu commented on #1622
The problem here is that this revision is created on top of a m-c where the configuration for `readability-implicit-bool-conversion` is not present so when we are doing the analysis we don't actually use [these flags](https://searchfox.org/mozilla-central/source/tools/clang-tidy/config.yaml#118).
Re-basing this to the latest m-c solves the issue.

[2018-10-17 08:16] #1622 closed

[2018-10-17 08:17] marco-c commented on #1621
Maybe we could make the endpoint assume it's a directory if path ends with "/", a file if it doesn't end with "/".

[2018-10-17 12:48] abpostelnicu commented on #1507
This seems to be blocked since I see here two issues:

1. Original issue that replicates on TC, and most likely is caused by the lack of `GRADLE_HOME`, that's why we see in the paths the strange `?`
2. The most recent issue that impairs us on running `infer capture` on a local nix instance.

I will address here only the 2nd issue since in the current state this one blocks the original issue for wh

[2018-10-17 17:13] rv404674 commented on #1565
hey @garbas , i have opened a PR for this. Do take a look when you get some free time. Thanks. :)

[2018-10-17 19:16] abpostelnicu commented on #1507
The issue related with `infer capture` and sqlite is fixed, it was something that only locally was affecting the build due to communication timeout between sqlite driver and the underlying docker image. This was due because the infer/ output directory was shared with the host, causing writing delay.

[2018-10-17 22:47] marco-c commented on #1507
I feel your pain :P

[2018-10-18 10:52] abpostelnicu commented on #1507
In order to fix [1] I've created this [PR](https://github.com/mozilla/release-services/pull/1625).

[2018-10-18 17:23] marco-c opened #1628 "Add a description to our hooks"
The Taskcluster tools don't allow modifying our hooks because it thinks they are invalid as they're missing a description:
https://github.com/taskcluster/taskcluster-tools/blob/46b8ccb2f209f4dc7a5ea667be29d0233a9b82b5/src/views/HooksManager/HookEditor.jsx#L96

While the description isn't strictly required (at least for now), adding it would make the Taskcluster tools happy (and also, it could beco

[2018-10-18 18:22] marco-c opened #1630 "Rationalize usage of taskcluster scopes/roles/groups/clients"
## Motivation

Right now the scopes situation is pretty confusing.

Some of us have scopes that others don't have, some scopes are assigned both to group to which we belong and to ourselves directly, and so on.

It should be possible to add/remove contributors as we see it fit without involving taskcluster team.

## TODO:

- [x] create contributors and developers
  - https://mozillians.org/en-US/g

[2018-10-18 19:52] abpostelnicu commented on #1507
The problem here is more complex, the gradle home issue was generated by Java, that when calling `System.getProperty("user.home")` return `?`.
All of this is mitigated by this [PR](https://github.com/mozilla/release-services/pull/1629).
Triggering a [test run](https://tools.taskcluster.net/groups/XKPVog-jS7ea_vEuWktJiA/tasks/XKPVog-jS7ea_vEuWktJiA/runs/0/logs/public%2Flogs%2Flive.log) with: `expor

[2018-10-19 10:34] marco-c commented on #1628
It was decided that an empty description is fine: https://github.com/taskcluster/taskcluster-tools/pull/576.

[2018-10-19 10:34] #1628 closed

[2018-10-19 10:56] #1565 closed

[2018-10-19 12:52] garbas commented on #1630
I added it as discussion item for next meeting

[2018-10-19 15:30] garbas opened #1633 "Problem with authentication in shipit/frontend"
when clicking any of the buttons when doing release promotion work it throws the authentication error.

[2018-10-19 15:51] hwine commented on #1185
This work currently blocked on [bug 1463209](https://bugzilla.mozilla.org/show_bug.cgi?id=1463209).

@hwine will provide the information on how such service accounts are created and tracked.

[2018-10-19 20:52] rv404674 commented on #1568
hey @garbas , i have opened a PR for this. Can you take a look and tell me is there any thing wrong. Thanks.

[2018-10-23 07:33] abpostelnicu commented on #1507
As this has been fixed in [1632](https://github.com/mozilla/release-services/pull/1632).
Now we are encountering:
`Uncaught Internal Error: (Sys_error "/usr/share/zoneinfo/: No such file or directory")`

[2018-10-23 14:15] #1617 closed

[2018-10-23 14:36] #1481 closed

[2018-10-23 17:05] #1568 closed

[2018-10-23 17:06] #1513 closed

[2018-10-23 17:06] #1071 closed

[2018-10-24 10:57] marco-c opened #1640 "Upload gzipped reports to codecov.io"
There's a PR for this already https://github.com/mozilla/release-services/pull/1430, but it doesn't seem to work correctly (seems like a problem on the server side, but we have to verify and if actually is then we should report the problem).

[2018-10-24 10:59] abpostelnicu commented on #1507
With the latest fixes we are at the stage where our [task](https://taskcluster-artifacts.net/N_kGPLrMQwGa04cRKSyG_A/0/public/logs/live_backing.log) no longer fails.
This is great but infer doesn't any sources that it can work with in infer-out.

[2018-10-24 11:19] rbartlensky commented on #1507
Is this a fresh task? If so, I find it quite odd that it does not find any issues. Does it find issues locally?

[2018-10-24 11:29] rbartlensky commented on #1507
Why is `python/mozbuild/mozbuild/mach_commands.py` included in `check-java`? If you run mach I *think* it will output the command that it executes at each step. What happens if you execute those manually?

[2018-10-24 11:31] abpostelnicu commented on #1507
What do you mean by your last comment regarding `mach_commands.py`?
I think the problem lies that we create a tmp file and we put in that file the files that we want to be scanned.
For example I'm doing the static-analysis for: `mobile/android/app/src/photon/java/org/mozilla/gecko/home/SuggestionItem.java`

[2018-10-24 11:39] rbartlensky commented on #1507
[code]
This means that `mach_commands` has  been modified, which I find strange.

The files are placed in a tmp file because the capturing is done for all files. The `infer analyze` command has an argument `changed-files-index` with which you can specify a file (the tmp file in our case)  which contains all the files that should be analyzed.

[2018-10-24 11:41] abpostelnicu commented on #1507
Ok so I've nailed this, the file that I wanted to test was not captured by infer during `infer capture`.

[2018-10-24 12:39] garbas opened #1641 "store nix hash and revision to taskcluster index on data field for each deployment"
1. we need to change each deploy task in [decision_task.py](https://github.com/mozilla/release-services/blob/master/lib/please_cli/please_cli/decision_task.py#L82) so that it will create an index with a nix hash and revision.

2. read more about index service api here: https://docs.taskcluster.net/docs/reference/core/taskcluster-index/references/api

especially read the part about **Indexing Route

[2018-10-24 17:57] abpostelnicu commented on #1507
Good news it worked on [staging](https://static-analysis.staging.moz.tools/#/task/FEcO8Z0WSn2RZ9kbCnsyqQ).

[2018-10-24 18:15] abpostelnicu commented on #1507
This [PR](https://github.com/mozilla/release-services/pull/1643) is the last fix for this to work.
It has also been tested [here](https://tools.taskcluster.net/groups/CYAYMH_XSsK_LAuSqtzPPQ/tasks/CYAYMH_XSsK_LAuSqtzPPQ/runs/0/logs/public%2Flogs%2Flive.log).

[2018-10-24 19:38] theres-waldo opened #1645 "Problem with an automated review: variable modified only inside #ifdef"
**Phabricator URL:** https://phabricator.services.mozilla.com/D9442

**Problem:**

We have a code pattern like this:

[code]

clang-tidy, when running on a platform that's not `SOME_PLATFORM` is complaining that we are making an unnecessary copy of `aS`, and we could make the type of `local` be `const S&` instead.

However, we can't actually make that change since compilation would break on `SOME_

[2018-10-24 19:56] marco-c commented on #1645
Similar to #836 and #1428.
Note that, for *required* checks, this doesn't matter, it would break CI.

I'm not sure there's much we can do here, it is a suggestion that developers are free to ignore, but it might still be a useful suggestion in some cases (if the code is in a hot path you might want to optimize it on !SOME_PLATFORM).

[2018-10-25 07:18] abpostelnicu commented on #1507
This can be closed since every dependency has been resolved!

[2018-10-25 07:18] #1507 closed

[2018-10-25 11:11] abpostelnicu opened #1647 "Should also check - revision.has_infer_files when continuing the analysis"
Looking at this we should modify the condition and add: revision.has_infer_files
https://github.com/mozilla/release-services/blob/c1721b62984da89dbb5c44047ad0593d086750dd/src/staticanalysis/bot/static_analysis_bot/workflow.py#L188

[2018-10-25 11:36] abpostelnicu commented on #1647
Added [PR](https://github.com/mozilla/release-services/pull/1648).

[2018-10-25 12:31] La0 opened #1649 "Building base image with Docker in Docker"
I used these commands:

On the host
[code]

On the container, accessed with `./please tools docker-shell`:

[code]

Now cherry-pick the version bump commit, after entering the nix shell

[code]

Back in the container:

[code]

And you get (slowly):
[code]

See #1639 for result

So we should be able to use that on Taskcluster for automation

[2018-10-25 14:47] La0 opened #1650 "#moc #ci IRC notification failure"
Basically #1634 did not work. Missing scopes ?

[2018-10-25 14:48] La0 commented on #1650
@garbas I don't know which Taskcluster client/role is used here.

[2018-10-25 17:09] rv404674 commented on #1641
hey @garbas , as discussed over IRC i am taking this one. Can you please assign it to me. Thanks. :)

[2018-10-25 19:44] marco-c commented on #1247
We want to produce a report that shows files that have zero coverage on a platform (e.g. Windows) but have coverage > zero on another platform (e.g. Linux).
This will allow us to see files which could be conditionally compiled.

The platforms for now should just be Linux and Windows, we can add Mac later.

[2018-10-26 09:45] #1389 closed

[2018-10-26 09:45] La0 commented on #1389
All done :smile:

[2018-10-26 17:20] rail commented on #1650
Looks like the client ID is `project/shipit/services/production` and we need to add the following scopes:
[code]

[2018-10-26 17:21] rail commented on #1650
I can't add those due to the permissions.

[2018-10-26 17:49] rail commented on #1633
The "auth failure" message is a bit misleading, it's a kind of catch-all message in this case.

I believe this is cased by #1650. At the end of operations we send an IRC message, but fail to do so:
[code]

[2018-10-27 08:14] MadinaB commented on #1611
Facing same issue

[2018-10-29 02:40] rail commented on #177
Project renamed, let's close the bugs

[2018-10-29 02:40] #177 closed

[2018-10-29 02:40] rail commented on #178
Project renamed, let's close the bugs

[2018-10-29 02:40] #178 closed

[2018-10-29 02:41] rail commented on #337
Project renamed, let's close the bugs

[2018-10-29 02:41] #337 closed

[2018-10-29 02:41] rail commented on #465
Project renamed, let's close the bugs

[2018-10-29 02:41] #465 closed

[2018-10-29 21:37] hwine commented on #1185
Switching to SSO is no longer directly related to generating these new accounts & deploying API keys.

Instructions have been emailed to @garbas on no-downtime procedures for acquiring the new API keys.

[2018-10-30 13:25] emilio opened #1657 "Problem with an automated review: Implicit pointer to bool conversion is too strict."
**Phabricator URL:** https://phabricator.services.mozilla.com/D9988

**Problem:** The bot complains about an implicit pointer too bool conversion like so:

[code]

Where the code looks like:

[code]

I'd argue that using `primaryFrame != nullptr` is way less legible.

[2018-10-30 13:30] sylvestre commented on #1657
@abpostelnicu what do you think?

[2018-10-30 13:47] jorendorff commented on #1657
This is the same as https://bugzilla.mozilla.org/show_bug.cgi?id=1500241 .

[2018-10-31 01:36] rail commented on #1633
Should be fixed by #1659

[2018-10-31 01:36] #1633 closed

[2018-10-31 03:08] karlt opened #1661 "Problem with an automated review: modernize-use-nullptr conflicts with intentions of TimeDuration constructor from zero"
**Phabricator URL:** https://phabricator.services.mozilla.com/D10163#inline-43967

**Problem:**
nullptr is not the intended format for the argument here.
https://searchfox.org/mozilla-central/rev/fc3d974254660b34638b2af9d5431618b191b233/mozglue/misc/TimeStamp.h#117

[2018-10-31 10:01] abpostelnicu commented on #1661
This is a duplicate of [this](https://github.com/mozilla/release-services/issues/1657).

[2018-10-31 10:01] #1661 closed

[2018-10-31 10:02] abpostelnicu commented on #1657
Since [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1500241) landed, we can close this bug.

[2018-10-31 10:02] #1657 closed

[2018-10-31 10:22] marco-c opened #1662 "cbindgen 0.6.7 is required"
mach is failing with `ERROR: cbindgen version 0.6.6 is too old. At least version 0.6.7 is required.`

[2018-10-31 11:40] marco-c opened #1664 "shipit/api is built when changing unrelated projects"
Very often, when I make changes to codecoverage/bot (exclusively), I see the build task for shipit/api being triggered.

CC @garbas

[2018-10-31 12:03] #1662 closed

[2018-10-31 12:03] marco-c commented on #1664
Interestingly, a PR where this happened showed "All checks passed" even though "1.01. Building shipit/api" was still running.

[2018-10-31 18:19] sylvestre commented on #1657
If you still see it, rebase your patch against tip.

[2018-11-07 18:49] marco-c opened #1674 "Issues detected in new files are not published"
https://phabricator.services.mozilla.com/D11190 is adding a test_results.py with some issues. The issues are detected but not published because the bot thinks they are not in the patch:
[code]

[2018-11-07 19:04] marco-c commented on #1674
The problem is in how we're using parsepatch:
https://github.com/mozilla/release-services/blob/b975ab38c8dcad840cb5b7c68ced9796f9d8c624/src/staticanalysis/bot/static_analysis_bot/revisions.py#L59

For the patch in D11190, `Patch.parse_patch` returns:
[code]

Then we transform this to an object from filename to touched and added lines at https://github.com/mozilla/release-services/blob/b975ab38c8dc

[2018-11-08 21:20] kevinluvian commented on #990
hi @garbas I just finished this in this PR: https://github.com/mozilla/release-services/pull/1676

I am not sure what the function name for wrapping stdenv.mkDerivation should be, so I named it as shellWithProjectName

summary of what I done:
- added shellWithProjectName
- added project name for shipit-frontend and staticanalysis-frontend
- added name args to mkYarnFrontend
- added PS1 variable ch

[2018-11-08 22:21] kevinluvian commented on #985
hi @garbas

i fixed it in this PR:
https://github.com/mozilla/release-services/pull/1677

I confirmed that when running ./please check codecoverage/backend it runs this command:
[code]

one thing that I am not sure is that should I keep using please_cli.shell.cmd to run the command (https://github.com/kevinluvian/release-services/blob/d1196ea3acecf3f06eecf300bc86b147a6b7d981/lib/please_cli/please_

[2018-11-09 17:35] garbas commented on #990
i think the following should work

[code]

[2018-11-09 17:40] garbas commented on #985
there is `please_cli.build.cmd` (`https://github.com/mozilla/release-services/blob/master/lib/please_cli/please_cli/build.py) which you should use in this case

[2018-11-09 18:32] kevinluvian commented on #990
so in summary of our discussion,
we should change shellWithProjectName to mkProject
and only pass project_name, and calculate other variable (module_name, src_path) from project_name

I will make the necessary changes and update you again, thanks!

[2018-11-11 14:41] sylvestre commented on #1674
@calixteman could you please fix that as it seem to be on your side?

[2018-11-11 14:45] calixteman commented on #1674
With parsepatch the file is detected as new:
``'python/mozlint/test/test_result.py': {
		'new': True
	},``
So in this case every line in the file can be considered as added.
But of course if you absolutely need to have this info then I can add it.

[2018-11-11 15:01] marco-c commented on #1674
We can either fix it in parsepatch by making it report new lines as added lines, or fix it in the bot by taking into account the `new` attribute.

[2018-11-11 15:05] sylvestre commented on #1674
Maybe updating the bot is the safest way to do it!

[2018-11-11 15:28] marco-c commented on #1674
It should be more or less the same, or maybe updating parsepatch might be a little safer as it's a really self-contained dependency, while the bot has a lot of dependencies between classes (Revision, Issue, and so on).
Also the `number of analyzed lines` statistics would be wrong if parsepatch doesn't return added lines for new files (unless we read the files in the bot, but this would make the co

[2018-11-11 15:29] calixteman commented on #1674
I'm fixing it in parsepatch.

[2018-11-11 15:30] marco-c commented on #1674
@calixteman after fixing parsepatch, we just need to update the parsepatch dependency in the bot and probably add a regression test. Maybe @jankeromnes can help, since IIRC he's written tests about related stuff not so long ago.

[2018-11-11 15:59] calixteman commented on #1674
I just updated parsepatch on pip:
https://pypi.org/project/parsepatch/
The new version is 0.1.3 and it adds lines for new files by default so except your requirements.txt and your tests, you've nothing to change.

[2018-11-12 06:13] isacben commented on #800
Hello @marco-c,

I am a newcomer. I would like to help with this one. I read issue #629 and I think the code already changed a bit since that time? I guess the target script is now:

https://github.com/mozilla/release-services/blob/master/src/codecoverage/bot/code_coverage_bot/codecov.py

Also, I do not know if this example report you shared before is still valid?

https://codecov.io/gh/marco-c/ge

[2018-11-12 10:14] marco-c commented on #800
Hello @isacben!

Correct.

Yes, the format of the reports should still be the same.

Note, #629 is a dependency of this, so if you want to work on this, you should work on #629 first.

[2018-11-12 16:40] #1674 closed

[2018-11-13 03:05] isacben commented on #629
Hey @marco-c,

I already have the development environment running, and I can connect to the codecoverage/bot shell to test some scripts.

I am trying to write a standalone .py script to download and run the report, but I am failing to create the artifacts object:

`output = grcov.report(artifactsHandler.get(), ...)`

Do you think you can give me some light on how I should prepare the call?

Thanks

[2018-11-14 00:35] garbas commented on #1611
this was fixed in #1670

[2018-11-14 00:35] #1611 closed

[2018-11-14 10:16] marco-c opened #1681 "chunk mapping contains empty chunks"
I've downloaded a recent chunk mapping database, and it contains entries in the file_to_chunk table which have an empty chunk.

[2018-11-14 17:24] marco-c commented on #1426
We'll fix bug 1485741 without this. Once things are more stable, we'll re-evaluate what to store in the chunk mapping and avoid mismatches.

[2018-11-14 17:24] #1426 closed

[2018-11-14 17:38] #1681 closed

[2018-11-14 18:39] marco-c commented on #1371
This is a problem of backlog in ActiveData, @klahnakoski investigated yesterday.

A simple workaround for us would be to generate the chunk mapping for a previous build instead of the latest build.

[2018-11-15 01:03] kevinluvian commented on #985
hi @garbas

from what I understand, it seems like we need to use `please_cli.shell.cmd` due to additional check command to be run

example check command (pytest and linter):
https://github.com/kevinluvian/release-services/blob/d1196ea3acecf3f06eecf300bc86b147a6b7d981/lib/please_cli/please_cli/config.py#L85

this command is called here:
https://github.com/kevinluvian/release-services/blob/d1196ea3a

[2018-11-15 07:05] garbas commented on #985
@kevinluvian oh i forgot to mention to skip those checks, we can actually remove them.

this checks are anyway already part of mkFrontend, mkBackend. so if we run nix-build we will also be running this checks.

[2018-11-20 08:39] championballer commented on #1001
Can I work on this?

[2018-11-20 11:57] #882 closed

[2018-11-20 18:09] rail commented on #1001
You are very welcome to do so! :)

[2018-11-21 08:17] championballer commented on #1001
I am just starting out here, so please guide me as to how I can go about solving this? What do we mean by revisions here and what is expected exactly?

[2018-11-21 09:36] garbas commented on #1001
@championballer Hi, I'm going to update shortly the description of the ticket please let me know if it is still unclear.

[2018-11-21 09:58] championballer commented on #1001
Thanks. I will go through it and try completing this. If I face any issues, I will update them here. :)

[2018-11-21 15:05] ehsan opened #1690 "Make the clang-format fix patch links open in the browser"
**Phabricator URL:** https://phabricator.services.mozilla.com/D12430#306487f

**Problem:** It would be nice for the user to be able to see the generated patch when clicking on links such as https://queue.taskcluster.net/v1/task/WIxiWanPQgitQdhvMOHseA/runs/0/artifacts/public/results/clang-format-PHID-DIFF-ykspmg4mhdehw4stcdos.diff instead of having to download a file.  If there is an option of enab

[2018-11-21 15:19] La0 commented on #1690
Hello @ehsan ,

We've tried to do that, the options we've though of:

 - display directly the patch content in the bot's comment (would not work well for multiple issues)
 - make a commit with the clang-format fixes so the dev can cherry-pick it if wanted (would be tricky with user access)
 - make a webextension displaying the content of such a patch
 - add a link to the patch (as of right now)

W

[2018-11-21 17:01] marco-c commented on #629
@isacben if you want to run the project, while we figure out how to give you access to secrets, you can start by following https://github.com/mozilla/release-services/blob/master/src/docs/projects/staticanalysis-bot.rst (step 0, 1, 2 and 3).

[2018-11-22 01:18] jld opened #1693 "Problem with an automated review: spurious complaints about `noexcept`"
**Phabricator URL:** https://phabricator.services.mozilla.com/D8943#308407

**Problem:** The bot complains that C++ move constructors should be declared `noexcept`, but the Firefox codebase is always compiled without exception support (and as far as I know there are no plans to ever change this), so the suggested change is unnecessary.

[2018-11-22 14:43] jankeromnes commented on #1690
@ehsan great suggestion, thanks! I agree that having to download & open in editor just to see the patch is a little annoying.

@La0 do you know if there is a way to change the ContentType of Taskcluster artifacts? (e.g. using something like "text/plain"). I can see in the Task's [artifacts](https://tools.taskcluster.net/groups/WIxiWanPQgitQdhvMOHseA/tasks/WIxiWanPQgitQdhvMOHseA/runs/0/artifacts) t

[2018-11-22 14:49] marco-c commented on #1690
There is a contentType option (see https://docs.taskcluster.net/docs/reference/workers/generic-worker/docs/payload).

[2018-11-22 16:30] La0 commented on #1264
Done in #1626

[2018-11-22 16:30] #1264 closed

[2018-11-22 16:31] La0 opened #1696 "Filtering clang-format patch generation & display"
As we only report some subfolders of *mozilla-unified* with `clang-format` issues, the initial patch generation (full clang-format changes) is too broad.

So we need to:

- [ ] merge [parsepatch chunks support](https://github.com/mozilla/parsepatch/pull/3)
- [ ] parse the full diff with parse patch chunks
- [ ] filter those chunks with in patch + allowed paths
- [ ] build a diff with those chunks

[2018-11-22 16:45] La0 commented on #1696
As `./mach clang-format` already filters `clang-format` output on current patch, we only need to work on the display tasks.

Chunk support would be great to have to report fixes in the comment.

[2018-11-22 17:08] jankeromnes opened #1697 "staticanalysis/bot: Extra unreported fixes in clang-format improvement patch"
**Phabricator URL:** https://phabricator.services.mozilla.com/D12684#310396

**Problem:** The automated review mentions 6 defects reported by `clang-tidy` (none by `clang-format`), but it still provides an improvement patch URL. The patch reformats the lines where other defects have been found.

[2018-11-22 17:36] jankeromnes commented on #1696
Agreed! But then we'll also need to keep in mind the problems we had previously with code snippets inside comments, e.g.

- some fixes were confusing and/or unrelated, because diff hunks are sometimes messed up (e.g. in mass re-indents, when the diff algorithm picks a random `}` as the unchanged line)
- some snippets were just too long to be readable
- it's generally hard to spot the difference be

[2018-11-23 10:44] jankeromnes opened #1698 "uplift/bot seems broken: last email report is from Nov 2"

[2018-11-23 13:48] jankeromnes commented on #1236
Attempted another validation with staging@99a13b60386e801229304e20e77892d65efedae5 deployed... and it failed:

- [QfLd7Z2SQJaireYqMBnPUQ](https://tools.taskcluster.net/groups/QfLd7Z2SQJaireYqMBnPUQ) | 1/2. PHID-DIFF-7c3wyz42vvsz54sghexw | Error: unknown
- [FRJKWSj8TKuLigrMIr_d_A](https://tools.taskcluster.net/groups/QfLd7Z2SQJaireYqMBnPUQ) | 2/2. PHID-DIFF-fq6cdeuk5t5gkd7zi7br | Error: unknown

[2018-11-23 13:54] jankeromnes opened #1699 "staticanalysis/bot: ValueError: too many values to unpack (expected 2)"
Error: `ValueError: too many values to unpack (expected 2)`

Location:

https://github.com/mozilla/release-services/blob/99a13b60386e801229304e20e77892d65efedae5/src/staticanalysis/bot/static_analysis_bot/workflow.py#L213

Example Task: https://tools.taskcluster.net/groups/QfLd7Z2SQJaireYqMBnPUQ/

Full logs:

[code]

[2018-11-23 14:07] jankeromnes commented on #1699
Seems to have been introduced by mistake in https://github.com/mozilla/release-services/commit/002aed148b8d3be3d3b59af0bbc96c8390e2bd06#diff-2458bd47d8d17abd9f62fcde5af69d2eR213

[2018-11-23 14:33] jankeromnes commented on #1236
Re-deploying to `staging` with the fix from #1700. Stand by for a new validation upload.

[2018-11-23 16:29] jankeromnes opened #1701 "staticanalysis/bot: Failed to import target patch: uncommitted changes after clang-format analysis"
From Task https://tools.taskcluster.net/groups/J_hyznxKSYS-bALG1UbuKw/ :

[code]

[2018-11-23 16:30] jankeromnes commented on #1701
I think the solution would be to clean up the repository state after the `before` analysis, so that the `after` analysis can start with the same conditions.

[2018-11-23 16:31] jankeromnes commented on #1236
One more bug: #1701

[2018-11-23 19:35] buttercookie42 opened #1702 "Problem with an automated review: Overly cautious THREAD_SAFETY_VIOLATION check"
**Phabricator URL:** https://phabricator.services.mozilla.com/D11800#inline-65576

**Problem:**
1. Reviewbot only piped up after I had already landed the patch, possibly in response to the automated updated of the diff to the landed version.
2. `mShouldRestore` is only ever written to while on the Background Thread (twice from inside that Runnable and a third time from a method that is only called

[2018-11-24 08:21] sylvestre opened #1704 "Don't show clang-format when we are not supposed to"
https://phabricator.services.mozilla.com/D12784#313910 => bug here
we show clang-format even if we are not supposed to

[2018-11-24 08:40] sylvestre commented on #1481
@rv404674 bravo for this work. I think we will start using that feature more and more with coverity and infer. cc @abpostelnicu

[2018-11-24 12:40] rv404674 commented on #1481
Thanks @sylvestre

[2018-11-26 09:50] jankeromnes commented on #1701
Blocks #1236

[2018-11-26 13:48] jankeromnes commented on #1236
Pushed the #1701 fix to `staging` and trying again:

- https://tools.taskcluster.net/groups/BlJIUVwxSJ2TE58I16fDog
- https://tools.taskcluster.net/groups/NwWQcUloRQ2P5xek33jRcQ

[2018-11-26 21:32] #914 closed

[2018-11-26 21:33] #985 closed

[2018-11-27 00:45] kevinluvian commented on #1322
@marco-c @garbas may I clarify that this issue means to install text editor in please-cli shell?
e.g all `./please shell <project>` should have text editor installed by default?

[2018-11-27 01:42] kevinluvian commented on #1286
Hi @calixteman @La0
I added the mozdata.ini at this PR: https://github.com/mozilla/release-services/pull/1711
kindly review it to make sure that it is correct.

it seems uplift/bot is replacing the TOKEN manually:
https://github.com/mozilla/release-services/blob/bd3823b22243eb577300a8458e85a6dc75db10da/src/uplift/bot/uplift_bot/bugzilla.py#L39
so I didn't put it inside the mozdata.ini because from

[2018-11-27 08:37] #1704 closed

[2018-11-27 17:03] Standard8 opened #1712 "Code review bot for ESLint missed trailing white space in new file"
I was testing the patch for https://phabricator.services.mozilla.com/D12983 (diff 1) locally, and noticed that there's trailing whitespace on line 131 of browser_library_warnOnOpen.js - which is a new file in that patch.

Seeing as ESLint picked that up when run locally, I'd have expected the code review bot to pick that up as well.

[2018-11-27 17:07] marco-c commented on #1712
This is very similar to #1674, which should have been fixed by #1679.

[2018-11-27 17:10] marco-c commented on #1712
It looks like the task analyzing that differential timed out: https://tools.taskcluster.net/tasks/E0uJ-4pxSB-UcG3ajk7u4A.

[2018-11-27 17:21] marco-c commented on #1712
I've retriggered it to see if it was a temporary issue.

[2018-11-27 18:19] marco-c commented on #1712
Not sure what's wrong with this task, but I don't seem to be able to retrigger it successfully. Anyway, I think this was an intermittent issue, feel free to reopen if it happens again.

[2018-11-27 18:19] #1712 closed

[2018-11-28 00:08] kevinluvian commented on #1247
Hi @marco-c
I added a PR for this issue https://github.com/mozilla/release-services/pull/1713
please take a look when you have time

[2018-11-28 10:16] garbas opened #1715 "switch python projects to 3.7"

[2018-11-28 10:22] garbas commented on #1322
i'm sure i like polluting our base-image with more that is need to build things. otherwise we will quickly end up with 1GB docker image.

when needed you can already use `nix-env -f /etc/nix/nixpkgs -iA vim` command to install vim or any other tool that you need

[2018-11-28 10:45] #1322 closed

[2018-11-28 10:45] marco-c commented on #1322
Let's not do it then, the images are already big enough.

[2018-11-29 13:52] #1286 closed

[2018-11-30 08:01] jankeromnes opened #1720 "staticanalysis/frontend: Dashboard wrongly says "No issues!""
When opening:

https://static-analysis.moz.tools/#/task/cx-rHe9xSvahlfGnvIl5_Q

you'll see `Loading report...`, and then `No issues!`.

However, by opening the devtools, you'll see that it fetches this report:

https://taskcluster-artifacts.net/cx-rHe9xSvahlfGnvIl5_Q/0/public/results/report.json

which contains 148 issues.

Maybe the `report.json` format has changed?

[2018-11-30 09:48] jankeromnes commented on #1236
Ok, this last round went through:

1. https://tools.taskcluster.net/groups/Is-U5PvZQ4y35jUEef7Oig/
2. https://tools.taskcluster.net/groups/cx-rHe9xSvahlfGnvIl5_Q/

Let's have a look at the results:

## 1

https://tools.taskcluster.net/groups/Is-U5PvZQ4y35jUEef7Oig/
https://phabricator-dev.allizom.org/D842

Several defects are correctly marked `is_new: true` or `is_new: false`, so there is at least

[2018-11-30 09:57] marco-c commented on #1236
I think we should try to reduce these cases as much as possible, as the point of the before/after is to only report new issues to avoid nagging developers too much. We can't fix the problem completely as the heuristic is an heuristic, but at least we should make sure the heuristic is not always failing in these cases.

[2018-11-30 11:21] sylvestre opened #1721 "Please enable clang format on all changes"
We pushed the big patch, we can enable it at review phase

[2018-11-30 11:52] jankeromnes commented on #1236
Actually, my interpretation is that we want before/after because it can find *more* real bugs (e.g. bugs that you caused elsewhere in the code).

Most of the complaints I've heard are that reviewbot *didn't* find a bug, so the developer merged their patch, only to get backed out again because of the bug that slipped through.

I've never heard complaints about reviewbot reporting *too many* issues.

[2018-11-30 13:21] marco-c commented on #1236
We do want more real bugs, but without showing bugs that are not introduced by the patch. If we just wanted to have more real bugs, the heuristic would be unnecessary, we could just report everything.

This is because of the current policy of the bot (IN PATCH), which very rarely reports pre-existing issues, but I bet developers would complain more often if we didn't only show issues in the patch.

[2018-11-30 13:39] jankeromnes opened #1722 "staticanalysis/bot: before/after sometimes decides an issue `is_new` when it's not"
In the following analysis task:

https://tools.taskcluster.net/groups/Is-U5PvZQ4y35jUEef7Oig/

We can see (in [report.json]()) that analysis found the following issue:

[code]

Notice that `is_new` is `true`.

However, in [live.log](https://taskcluster-artifacts.net/Is-U5PvZQ4y35jUEef7Oig/0/public/logs/live_backing.log), we can see that analysis found this issue both **before**:

[code]

and **aft

[2018-11-30 13:43] jankeromnes commented on #1722
I suspect that the heuristic is thrown off by the changing line numbers:

Maybe it considers 117, 118 and 119 as *not* new, because the same issue existed before and after, on the same line.

However, as we can see in the example, all "after" lines have been incremented by 5. Tracking added/removed lines in the heuristic would probably make it much better.

[2018-11-30 13:51] marco-c commented on #1722
The heuristic should be resistant to lines moving, it creates an hash of the contents of the lines after ignoring white space changes.

https://github.com/mozilla/release-services/blob/43b84ba4807c81e1eb10891050e82ffa27c7bb1c/src/staticanalysis/bot/static_analysis_bot/__init__.py#L47

There must be some mistake somewhere, as theoretically it should work.

[2018-11-30 13:51] jankeromnes commented on #1236
That's where I disagree. I think that there is value in showing pre-existing defects in the lines that you're currently modifying, but not in showing pre-existing defects in code that you're not touching.

Let's say I'm renaming a variable in a for loop. Maybe I'd like to know that the for loop could use a const ref to be more efficient? (Even though it's someone else's "mistake".) However, I prob

[2018-11-30 14:02] marco-c commented on #1236
I'm not 100% against this, but at the moment I think it's more valuable to only show `new` issues. I could agree on enabling IN_PATCH + BEFORE_AFTER combination for some specific checkers where the false positive rate is low. Also, what's the difference between lines you're currently modifying and the context of those lines? Why should we show pre-existing issues in lines modified but not in surro

[2018-11-30 14:19] #1701 closed

[2018-11-30 14:40] jankeromnes commented on #1236
Once BEFORE_AFTER works well enough, there will be a significant overlap between `in_patch` and `is_new`, so most of the time a defect with have both `in_patch && is_new`.

For the few defects where that's not the case:

- I agree that showing `!in_patch && new` defects is good (assuming that it's not a false positive), because it increases our coverage and prevents more bugs from landing into Nig

[2018-11-30 16:38] rail commented on #1664
This is kind of expected, because the `shipit/api.dockerflow` attribute depends on the git revision being inside the docker image, so it changes every time. I wonder if we should disable building this attribute on some branches (master, PRs?)

[2018-11-30 21:21] heycam opened #1724 "Problem with an automated review: bugprone-macro-parentheses isn't always appropriate"
**Phabricator URL:** https://phabricator.services.mozilla.com/D13507

**Problem:**

The first warning reported here "Macro replacement list should be enclosed in parentheses" doesn't apply since the macro expands to an entire function rather than just an expression.  The second warning "Macro argument should be enclosed in parentheses" is OK in this instance but I could probably contrive a situati

[2018-12-04 15:30] jankeromnes commented on #1698
Fixed!

I just received an email from upliftbot-staging :tada:

[2018-12-04 15:30] #1698 closed

[2018-12-05 07:48] ajit2704 commented on #98
Hey @garbas , I would like to work on it, if this issue is still open.

[2018-12-05 13:54] jankeromnes commented on #1722
Thanks for the pointer! I'm also copying a useful excerpt from IRC:

Let's try to debug this.

[2018-12-05 15:25] #990 closed

[2018-12-05 16:12] La0 opened #1732 "Python 3.6 as minimum version"
Even though #867  switched all projects to python 3.6, `mapper/api` fails when trying to build `cli_common` using an f-string ([example build failure](https://tools.taskcluster.net/groups/C6f3WnSVR-SbzEZWuwOn_g/tasks/PG5ydcTLRUaJtC84fBk9DA/runs/0/logs/public%2Flogs%2Flive.log))

@garbas @rail Is there a reason why `mapper/api` is using Python 3.5 ?

[2018-12-05 16:30] indygreg opened #1733 "Problem with an automated review: D13814"
On https://phabricator.services.mozilla.com/D13814 reviewbot commented on a lint failure on the initial diff submitted to Phabricator. However, the comment was left *after* I uploaded a new diff with the lint fixed (I spotted the lint failure in a Try run and "beat" reviewbot to the fix).

We may want to consider having reviewbot not comment on a differential revision if a newer diff has been uplo

[2018-12-05 16:33] marco-c commented on #1733
We could check right before publishing the issue if there is a new diff available. There could still be cases where a new diff is available right after we publish, but they should be pretty rare.

[2018-12-05 17:04] rail commented on #1732
Probably because we didn't update the deps. I'm not aware of anything that would block it.

[2018-12-05 17:16] garbas commented on #1732
this is happening in #1730

mapper/api needs an update of pypi2nix to make this work

[2018-12-05 17:16] #1732 closed

[2018-12-05 17:17] garbas commented on #1732
also i'm updating all packages to 3.7 and lets see if this works

[2018-12-06 10:45] jankeromnes commented on #1722
Here are the hashes **before**:

- TODO

And the hashes **after**:

- js/src/jsapi.cpp 115:1
  - content: 'using namespace js;\n'
  - hash: 7132762609209277246
  - hash_payload:
    - char: 1
    - check: "google-global-names-in-headers"
    - class: "ClangTidyIssue",
    - lines_hash: "da1c3e1d96d25fa4aa2737a50830b514242beefef01a51178594bc1203909e90"
    - path: "js/src/jsapi.cpp"
    - type: "wa

[2018-12-06 15:50] marco-c commented on #1722
Good, so if we can rule out the hashes, there is less places where the bug could be.

[2018-12-06 16:00] marco-c commented on #1722
The failure is likely here:
https://github.com/mozilla/release-services/blob/43b84ba4807c81e1eb10891050e82ffa27c7bb1c/src/staticanalysis/bot/static_analysis_bot/workflow.py#L228

before_patch is a list of issues, and Python should use this function to check if two issues are equal:
https://github.com/mozilla/release-services/blob/43b84ba4807c81e1eb10891050e82ffa27c7bb1c/src/staticanalysis/bot/stat

[2018-12-06 16:03] marco-c commented on #1722
[code]
outputs:
[code]

So it should be correct.

[2018-12-06 16:54] #1070 closed

[2018-12-06 16:54] #1285 closed

[2018-12-06 16:54] #1715 closed

[2018-12-06 19:07] #98 closed

[2018-12-06 19:29] dminor opened #1735 "Problem with an automated review: Third party webrtc.org code is being reviewed"
**Phabricator URL:** https://phabricator.services.mozilla.com/D13839

**Problem:** We shouldn't be running reviewbot on third party code, e.g. our in tree copy of webrtc.org as is the case here.

[2018-12-07 08:47] La0 commented on #1735
You are totally right, we already do this for `clang-tidy` and `mozlint` issues, the check was not implemented for `clang-format`.

[2018-12-07 14:44] #1735 closed

[2018-12-08 19:51] strodew commented on #911
Hi,

Are there any further tests that you need writing for this? I'd be happy to help out if there is!

Thanks!

[2018-12-09 06:12] marco-c commented on #911
Yes, there are still no tests for `generate_path`.

[2018-12-09 06:12] marco-c commented on #911
See https://github.com/mozilla/release-services/blob/master/src/codecoverage/bot/tests/test_artifacts.py and https://github.com/mozilla/release-services/blob/master/src/codecoverage/bot/code_coverage_bot/artifacts.py.

[2018-12-09 06:13] marco-c commented on #1227
There are other bugs that might be more suitable as first good bugs, look for issues with the "skill:good-first-bug" label: https://github.com/mozilla/release-services/issues?q=is%3Aissue+is%3Aopen+label%3Askill%3Agood-first-bug.

[2018-12-09 13:03] strodew commented on #911
Great, I'll take a look at that today. Thanks!

[2018-12-09 16:46] jarkyll commented on #1145
@marco-c @La0 Have the legacy endpoints been killed yet?

[2018-12-09 16:47] jarkyll commented on #1011
@rv404674 & @La0 Any update on this issue? If possible, could I take this up?

[2018-12-09 16:49] jarkyll commented on #1272
@lundjordan Has anyone taken this issue? If possible, could I take this issue up?

[2018-12-09 17:46] strodew commented on #911
Been trying to get docker set up today but having some problems where it's either running out of space or inodes while trying to execute ./please (check/shell) shipit_code_coverage so I've not been able to get much done yet today but I took a look at the source code and I think I have a decent idea of what to do once I sort this out.

Did you have any specific test criteria / specs for what cases

[2018-12-09 19:45] strodew commented on #911
Right, I had to spend a couple of hours tinkering with my VM's drive in GParted because it wasn't big enough to run the docker commands for testing (oops) but I've got it working now I believe so I'll get to work on the actual coding tomorrow...

Were there any specific cases you wanted to test for the generate_path method or does it just need to verify that it can generate a path string given app

[2018-12-09 19:51] strodew commented on #911
Oh and I thought I should check, it seems that ./please check shipit_code_coverage no longer works - I looked at the help commands and presume that codecoverage/bot is the correct project for this issue but I might be mistaken - if you could clarify on that that would be great!

[2018-12-09 22:52] marco-c commented on #1145
Not yet, but there is still some work necessary before this can be done.

[2018-12-09 22:53] marco-c commented on #911
You can just test calling the function with a couple possible options for the parameters and assert that the result is what you expect.

What error are you seeing?

[2018-12-09 22:53] jarkyll commented on #1447
@ahal @La0 Can I take this issue up as my first bug?

[2018-12-10 10:37] garbas commented on #911
i assume you have to provide taskcluster credentials

[2018-12-10 12:44] strodew commented on #911
![please_check_shipit_code_coverage](https://user-images.githubusercontent.com/22817802/49733401-4265a480-fc79-11e8-87a1-3c75766a711e.PNG)

This is the terminal output I get from running ./please check shipit_code_coverage - if I use one of the options listed in the error string then it works fine.

[2018-12-10 13:32] jankeromnes commented on #1722
Hmm, the issue actually doesn't even reproduce for me locally. :confused:

Attempting a new validation run, with debug logs, both on staging ([LcptlLJrQMOj-rd1s_9zXA](https://tools.taskcluster.net/groups/LcptlLJrQMOj-rd1s_9zXA)) and locally.

[2018-12-10 14:34] strodew commented on #911
I'm working on the test function and I have a good idea what I want to assert but I'm not quite sure of what form the inputs for generate_path are meant to take? My best understanding is that platform and chunk are strings ('linux' and 'xpcshell-7' for instance) but artifact I'm not really sure on - is there some documentation I could look at as to what the inputs are meant to look like?

[2018-12-10 15:42] jankeromnes commented on #1236
Actually, `in_patch && !new` defects probably don't even exist (because `in_patch: true` necessarily means that the line was modified, so the before/after heuristic will see a different hash, hence the defect will automatically have `is_new: true`).

So, I conclude that `in_patch` defects are actually a subset of `before_after` defects, and it follows that we don't need to merge both approaches.

[2018-12-10 16:06] marco-c commented on #1236
Fair enough, if we haven't seen many complaints then I'm OK with keeping reporting in_patch defects (even though sometimes developers don't complain but just silently ignore things :cry:).

Note before_after will not catch all in_patch bugs. For example, in_patch reports pre-existing issues in lines for which you only change indentation, while before_after doesn't as it ignores indentation when ha

[2018-12-10 16:15] jankeromnes commented on #1236
Glad that we agree! :) However, now I really do believe that before_after will catch all in_patch bugs:

In my latest test, before_after didn't seem to ignore indentation: [dom/media/CubebUtils.cpp:683](https://github.com/jankeromnes/gecko-dev/commit/505cd30152e69a2c7b228b6a03f66bb9844cfe01#diff-6d55009e71e52e75188260ce1b329b0fR683) is re-indented but otherwise unchanged by the test patch, however

[2018-12-10 16:17] jankeromnes commented on #1236
Additionally, while trying to reproduce #1722 on staging, comment https://github.com/mozilla/release-services/issues/1722#issuecomment-445816010 actually validated `BEFORE_AFTER` with 100% success.

But let's try that again with just `master` and no debug logs:

1. https://tools.taskcluster.net/task-inspector/#FreM4iKrTnOeSrX41SJ2yA
2. https://tools.taskcluster.net/task-inspector/#HFj7gRXQTh6WWv3c

[2018-12-10 16:20] strodew commented on #911
#1738 - submitted a pull request with my patch - hopefully it's good but let me know if anything needs to be changed :)

p.s. Sorry about the multiple test runs, I got a little confused as it's my first time submitting a pull request...

[2018-12-10 16:21] marco-c commented on #1236
It might be nice if we had a way to tell "here are the issues you should really fix, and here are the issues you might want to fix". It would be useful for https://github.com/mozilla/release-services/issues/1447 too.

This is a bug because the hash is supposed to remove the leading white lines to ignore indentation:
https://github.com/mozilla/release-services/blob/master/src/staticanalysis/bot/sta

[2018-12-10 16:23] marco-c commented on #1236
Ah, it's because that section of the diff is not only changing indentation, it's also modifying a line by adding " }".

The heuristic only ignores pure indentation changes. In that case, in_patch would be true and is_new would be false.

[2018-12-10 16:30] marco-c commented on #1447
N.B.: We were also considering keeping to report `in_patch` issues even if they are not new, using `before\after` only to increase the number of issues we report. Would showing warnings be too noisy? If so, we could specify a set of checkers for which we allow `in_patch` and a set for which we only allow `before/after`.

[2018-12-10 16:37] marco-c opened #1739 "Lint commit messages too"
Should we lint commit messages?
E.g. we could check if the message is well formatted ("Bug XXX - SHORT DESCRIPTION. r=YYY,ZZZ"), and we could use codespell to check for mispellings in the description.

[2018-12-10 17:44] jankeromnes commented on #1236
So this is extremely strange.

With just `master` deployed to `staging`, Task 1. has 165 occurrences of `"is_new": true` in its [report.json](https://taskcluster-artifacts.net/FreM4iKrTnOeSrX41SJ2yA/0/public/results/report.json)

However, with the following commit applied (adding debug logs):

https://github.com/jankeromnes/services/commit/379f75ba89a3ea9d05ce4c58b13ee4370322aadf

... Task 1. has

[2018-12-11 12:06] marco-c commented on #1441
A first implementation using autotargets is landing in #1723. When https://bugzilla.mozilla.org/show_bug.cgi?id=1487843 is resolved, we'll use a nicer method instead of reusing the arc unit/lint autotarget.

[2018-12-11 14:10] #911 closed

[2018-12-11 14:49] srfraser commented on #1027
This also seems to be affecting `./please check`. I tried with `docs`, `shipit/api` and `shipit/frontend` and received the same error about taskcluster not being in `/etc/hosts`

[2018-12-12 09:56] garbas commented on #1027
yeah, this is the error i want to work soon on it. this basically mean you need to provide taskcluster credentials via cli (`--taskcluster-client-id` and `--taskcluster-access-token`).

The idea for the future is to have a `./please signin` command which would store tc credentials in your home (eg. `~/.pleaserc`), more on this at https://github.com/mozilla/release-services/issues/1221

[2018-12-12 16:36] jankeromnes commented on #1481
@rv404674 I'll join @sylvestre in congratulating you on this! Thanks a lot for your time and hard work, you've created a really cool and useful feature. :slightly_smiling_face: :+1: :tada:

[2018-12-12 19:17] rv404674 commented on #1481
Thanks @jankeromnes , i enjoyed a lot in developing this feature. I have stopped contributing for some time to rel eng, due to my placement activities. But once it gets over, i will again start contributing. One more thing, is there any swe internship opputunity available in your team. :)

[2018-12-12 20:47] jankeromnes commented on #1481
It's always ok to stop contributing to a project, especially when we need to spend time on other things (e.g. work, studies, family, health, etc). But we're happy to review more pull requests if you're motivated! :smile:

Also, unfortunately I don't think our team is hosting interns this summer, but you can always see Mozilla's current internship offers over here:

https://careers.mozilla.org/list

[2018-12-12 21:34] lundjordan commented on #1272
hi @jarkyll - I don't believe so! If you could work with @garbas to re-confirm what is missing and what is most needed, that would be great!

[2018-12-13 03:19] jarkyll commented on #1272
Sure!

[2018-12-13 09:57] jankeromnes commented on #1236
I find it pretty strange that in a problematic analysis with many false positives, the [live.log](https://taskcluster-artifacts.net/MQzyOubCT0uebYPSdUMGAA/0/public/logs/live_backing.log) will say:

but still the [report.json](https://taskcluster-artifacts.net/MQzyOubCT0uebYPSdUMGAA/0/public/results/report.json) will have 165 issues with `"is_new": true`. This doesn't add up.

[2018-12-13 14:43] jankeromnes opened #1747 "staticanalysis/bot: Artifact already exists, with different contentType or error message"
Example failed Task: https://tools.taskcluster.net/groups/Rz1j8igjSDG6KxtyWB1q1w/

Error:

STR:

1. Deploy `master` (including 3ee50c9cdd4df8948fb8b59f561a5a75d6227277) to `staging`
2. Upload two [bad](https://github.com/jankeromnes/gecko-dev/commit/2fb98e0f1aa7a76e07732c2e22063515c3fbbab6) [patches](https://github.com/jankeromnes/gecko-dev/commit/9ff258a75d1b267c769d0bbb675411d6ab965713) to Phabr

[2018-12-13 14:45] jankeromnes commented on #1747
Cc @La0

[2018-12-13 14:53] La0 commented on #1747
I'll try to fix this tommorow or next week.
I think adding a unique element to the artifact name would solve this.

Le jeu. 13 déc. 2018 à 15:45, Jan Keromnes <notifications@github.com> a
écrit :

[2018-12-16 23:24] emilio opened #1754 "Problem with an automated review: Review was only sent when committing the patch, not before."
**Phabricator URL:** https://phabricator.services.mozilla.com/D14604

**Problem:** The comment from reviewbot was only seen _after_ landing the patch, even though the patch was there for more than a day awaiting review.

[2018-12-17 15:09] jankeromnes opened #1755 "staticanalysis/bot: Taskcluster Task remains "pending" forever, even when its job is done"
These days when we run ReviewBot on staging, our Taskcluster Tasks' logs eventually finish with something like:

However, the Task stays in "pending" state, until eventually it times out and switches to "exception" (even though the task technically finished successfully and in a timely fashion).

Examples:
- https://tools.taskcluster.net/groups/Rz48jeimQn-ykBQKkXqfnQ/tasks/Rz48jeimQn-ykBQKkXqfnQ/r

[2018-12-17 15:14] jankeromnes commented on #1755
Cc @La0

[2018-12-17 15:18] La0 commented on #1755
@jankeromnes i've assigned myself.

[2018-12-17 15:30] marco-c opened #1757 "Use a more recent version of Mercurial and hg_tools"

[2018-12-17 15:31] marco-c commented on #1757
Once we do this, we should be able to use json-automationrelevance instead of json-pushes in codecoverage/bot:phabricator.py

[2018-12-17 16:02] #1747 closed

[2018-12-17 19:53] jankeromnes commented on #1754
Thanks for reporting this issue!

Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1514845 looks similar.

[2018-12-18 00:55] #1441 closed

[2018-12-18 08:34] #1755 closed

[2018-12-18 16:19] jankeromnes opened #1759 "staticanalysis/bot: Assert the repository is in a clean state when hashing code lines (before/after)"
Following up on #1745, it would be great to assert that the repository is in a clean state when building an Issue's `line_hash`.

This could help prevent hashing code that has been modified (e.g. by another analyzer), thus altering an Issue's hash and causing false positives or false negatives in a before/after analysis.

[2018-12-18 16:20] #1722 closed

[2018-12-19 10:52] #1443 closed

[2018-12-19 11:51] marco-c commented on #1030
Fixed in #1596. Only the test is missing now.

[2018-12-19 17:39] #1353 closed

[2018-12-20 12:19] jankeromnes commented on #1236
All `before/after` fixes have been deployed to `production` and `testing`.

`production` still uses `IN_PATCH` (the default value), while `testing` is configured for silent analysis with `PUBLICATION: BEFORE_AFTER`. This will allow comparing analysis results as new analyses come in.

Here is a validation run with my [bad patches]():

## production

1. https://tools.taskcluster.net/task-inspector/#

[2018-12-20 17:19] jankeromnes commented on #1690
This is now fixed and deployed to production. Thanks @marco-c and @La0!

[2018-12-20 17:19] #1690 closed

[2018-12-21 08:41] Utkarsh1308 commented on #1030
Is this issue still open? Can I work on this. I just started working on open source. Can anyone guide me on how to contribute

[2018-12-21 18:46] marco-c commented on #1030
Hello @Utkarsh1308, yes, this is still available. I've updated the first comment of the issue to explain what needs to be done. It's not such an easy issue though, if you're just starting you might want to look at some easier ones.

[2018-12-24 20:56] lundjordan opened #1771 "ship-it api should be available as read-only publicly"
alternatively, we should expose more release info such as graphids within product-details.

Not being behind auth and vpn helps releaseduty quickly get release info, as well as our enables measure-ci to get more data.

[2018-12-24 21:01] lundjordan opened #1772 "ship-it add ability to add release phases that block the pipeline but don't trigger graphs"
this will enable us to have customizable human signoff breakpoints for QA, relman, and releaseduty.

It would be great if some were permanently part of every release but also customizable on a per release basis. e.g. for custom release requests/tasks.

[2018-12-24 21:08] lundjordan opened #1773 "add thunderbird support for ship-it"

[2018-12-24 21:13] rail commented on #1773
This is just a matter of tweaking the config to enable TB. I also have a list of tasks to be done (vpn, ldap, etc). I want to tackle this asap in Jan 2019.

[2018-12-24 21:19] rail commented on #1772
Would the following a good example of this feature?

Let's say we add a new human phase and name it "ready to be pushed to CDN". This phase will require a signoff from QE and Relman. After both signoffs are done, the phase becomes ready and unblocks the next "Push to CDNs" phase, which can be run by anyone anytime, but not automatically.

Does it represent the idea properly?

[2018-12-24 22:51] rail commented on #1771
I wonder if we should create a separate app for this or wrap the existing app to expose only the read-only (`GET`) end points. Also, should we use the same DB or a copy of the production one..

[2018-12-27 08:33] sbeesm commented on #629
Hi. Is this issue still open? Can I work on this one?

[2019-01-02 09:30] marco-c commented on #629
Yes.

[2019-01-02 12:54] garbas commented on #1771
maybe we could just export those api endpoints. as we do for product details

[2019-01-02 16:47] lundjordan commented on #1772
Sounds like you are splitting the sign-off from the action (submit a push graph). That's not something I have thought of and I suppose depends on the situation. For push to CDN, I imagine we want to those two to happen at the same time?

I was more thinking of supporting sign-offs that don't have an associated action. e.g. doesn't actually submit a task graph. Instead, it merely blocks the rest of

[2019-01-03 09:45] marco-c opened #1776 "Figure out how to handle secure Phabricator revisions"
Right now the bot fails when it encounters a secure revision:
[code]

[2019-01-03 10:48] garbas commented on #1641
@d3prof3t it looks like @rv404674 does not have time, so feel free to take it. is the description in the ticket ok? if not join us in #release-services irc channel

[2019-01-03 13:23] rv404674 commented on #1641
hey @d3prof3t , please feel free to work on this issue. I am not working on this anymore. :)

[2019-01-03 14:41] sbeesm commented on #629
@marco-c  I'm not able to figure out how to download the report from the link you mentioned above:
https://codecov.io/gh/marco-c/gecko-dev/commit/d01a76279978ad965981936db5cc321f8c6de225/build

The file here looks like an XML. Can you please help?

[2019-01-03 19:37] wittenator commented on #977
Hi @garbas, I am a first time contributor and would like to take this on. Currently I am doing a deep dive into Nix and the structure of the project. Is there anything I should keep in mind while doing that?

[2019-01-04 11:35] marco-c commented on #629
It looks like that one expired, you'll need to use a newer one. E.g. https://codecov.io/gh/marco-c/gecko-dev/commit/6475e7a21de7caf45c75251171e3217db2643469/build (if it doesn't load, try reloading multiple times).

[2019-01-04 16:50] garbas commented on #977
hi @wittenator,

if you look to work on something around Nix related, this ticket might be a better start -> #1363
if you are looking for some work around with python, then this ticket might be a better start -> #1221

You will most likely need help with either of those tickets and if you have questions join us in #release-services irc channel.

[2019-01-04 16:51] garbas commented on #977
I'm closing this ticket since this work is tracked under #1220

[2019-01-04 16:51] #977 closed

[2019-01-04 18:56] d3prof3t commented on #1641
@rv404674 Thanks. @garbas I would love to join you guys on the irc channel, and could use some background over the mentioned issue.

[2019-01-05 09:00] sbeesm commented on #629
I've extracted the file names into a list like this:

[code]
And this report file in the link has an end of file marker with a new line like this:
`\n<<<<<< EOF
`

Do all the report files have an EOF marker at the end like this one? Because then I think it should be removed manually as the `json.load` function is not able to read the file this way.
So I've extracted the file into a string, removed

[2019-01-05 16:41] marco-c opened #1779 "Pulse listener is broken on staging because it can't access `exchange/taskcluster-queue/v1/task-group-resolved` exchange"
aioamqp.exceptions.ChannelClosed: (403, "ACCESS_REFUSED - access to exchange 'exchange/taskcluster-queue/v1/task-group-resolved' in vhost '/' refused for user 'releng-services-staging'")

CC @La0

[2019-01-05 17:48] manishbit commented on #629
Hi,
Is the issue still open , if so can I work on this?
Also as I am new to contribute to open source , can you please brief me a little about the issue.

[2019-01-05 17:54] marco-c commented on #629
Hey @manishbit, @sbeesm is already actively working on the issue. Even though he hasn't submitted a PR yet, I consider this issue assigned to him.
There are a lot of good first issues around on the repo, feel free to pick another one (or come back to this if @sbeesm decides not to work on it anymore).

[2019-01-05 21:10] sbeesm commented on #629
Do we also need to check for files other than `.js` and `.cpp`?
Otherwise this should do the job:
[code]
And shall I submit a PR for this one now?

[2019-01-06 07:44] sbeesm commented on #629
Can you please suggest me how we can check all the extensions in the `expected_extensions` list with one loop over the files list?

And can we make a dictionary object having extensions as keys and values can be the minimum number of files we want for that extension? This way we can also specify the minimum number of files we need for a particular extension.
We can modify the values as we traverse

[2019-01-06 13:48] sbeesm commented on #629
So shall I make the changes in codecov.py and submit a PR?

[2019-01-06 15:00] marco-c commented on #629
Yes, thanks!

[2019-01-06 19:42] sbeesm commented on #629
I've created a PR https://github.com/mozilla/release-services/pull/1780
Waiting for review!

[2019-01-07 22:50] m-agboola commented on #1030
@Utkarsh1308 Are you working on this? If not I'd like to try this issue

[2019-01-07 22:57] m-agboola commented on #1247
@marco-c Is this issue still open? If Yes, I'd like to work on it

[2019-01-07 23:04] m-agboola commented on #1044
Hi, is this issue still open? I'd like to work on it if it is.

[2019-01-07 23:18] m-agboola commented on #800
@isacben are you still working on this?

[2019-01-07 23:23] marco-c commented on #1247
https://github.com/mozilla/release-services/pull/1713 was opened by @kevinluvian to fix this. @kevinluvian do you still want to finish it up?

[2019-01-07 23:49] m-agboola commented on #1247
Yes I'd like to @marco-c

[2019-01-08 00:04] marco-c commented on #1247
@m-agboola let's wait for @kevinluvian reply first. He's already started working on it.

[2019-01-08 00:31] m-agboola commented on #1247
Alright @marco-c

[2019-01-08 08:51] La0 commented on #1571
Bumping this, as we lost a lot of analysis due to this (10+ days) during the christmas break.

[2019-01-08 08:52] sylvestre commented on #1571
Thanks, we should fix that asap

[2019-01-08 22:53] marco-c commented on #1779
On production instead it is failing with:

[2019-01-08 23:02] marco-c commented on #1779
It's possible that the update to aioamqp 0.12.0 broke this on staging. Not sure why it's failing on production.

[2019-01-08 23:03] marco-c commented on #1779
Ah maybe we're using 0.12.0 too on production? @La0 do you recall exactly what revision we released on prod?

[2019-01-09 04:05] karlt opened #1783 "Problem with an automated review: clang-format requests whitespace changes even when files already conform to Google C++ Style Guide"
**Phabricator URL:** https://phabricator.services.mozilla.com/D15802#402212

**Problem:**
Automated reviews that detect when code doesn't follow Google C++ Style Guide would be useful but the review bot is using clang-format to go beyond that and enforce unspecified requirements.

I assume that additional undocumented preferences to choose one single output are not a goal, and https://bugzilla.moz

[2019-01-09 05:10] kevinluvian commented on #1247
Hi, I am sorry I am still going overseas, I will fix it when I am back to school this week! really sorry for the delay

[2019-01-09 09:10] La0 commented on #1779
Last version deployed should be the release one ([Taskcluster deployment task](https://tools.taskcluster.net/groups/BZQ5o57mSmmkFHQNX3FqZw/tasks/Qgl31c0TTcWsq30eg4_HVQ/details) shows commit `62d1a69b098073ced1dd9fb28004a19ad8d6892c` was used).

At this revision, pulse listener uses [aioamqp==0.11.0](https://github.com/mozilla/release-services/blob/62d1a69b098073ced1dd9fb28004a19ad8d6892c/src/pulse

[2019-01-09 09:16] marco-c commented on #1779
@La0 remember that we released manually in December?

[2019-01-09 10:03] marco-c commented on #1779
I found the manual deployment task, the GitHub commit hash is a34d3c34f6eb006c347a735e7f1d653971bf6f0e.

[2019-01-09 10:04] marco-c commented on #1779
So, the version of aioamqp is the same between staging and production, 0.12.0, https://github.com/mozilla/release-services/blob/a34d3c34f6eb006c347a735e7f1d653971bf6f0e/src/pulselistener/requirements_frozen.txt#L1.

Maybe the problem is coming from the server side?

[2019-01-09 10:08] La0 commented on #1779
It's weird that we don't have the same error message then.

Totally forgot about the manual release !

On Wed, Jan 9, 2019 at 11:04 AM Marco <notifications@github.com> wrote:

[2019-01-09 13:36] marco-c commented on #1779
It's failing when declaring the exchange at: https://github.com/mozilla/release-services/blob/a1e608f01c63e573fc821e2eb6a756168c206f4a/lib/cli_common/cli_common/pulse.py#L50

[2019-01-09 15:37] marco-c commented on #1779
Turns out this was introduced with https://github.com/mozilla/release-services/pull/1777.

I've removed that line in https://github.com/mozilla/release-services/pull/1784 but not merging it yet as @garbas is going to look into the failure.

In the meantime, we should not update staging as otherwise we'd break code coverage on staging.

[2019-01-10 12:33] #1779 closed

[2019-01-10 12:56] garbas commented on #1779
@marco-c to disable some project being deployed you can disable it in `src/please_cli/please_cli/config.py`

[2019-01-10 13:18] marco-c commented on #1779
@garbas the problem is that I can't stop it being deployed as I need to validate other stuff on staging.

[2019-01-10 20:44] sbeesm commented on #800
Hi @marco-c! Can I work on this one?

[2019-01-12 06:35] Hyperion101010 commented on #1221
La0 i am interested to help here
I am an undergrad student, contributing from few months for Mozilla. :)

[2019-01-14 07:08] rv404674 commented on #1641
Hey @garbas , can I take this one. @d3prof3t can I take this one or you are still working on it.

[2019-01-14 10:54] marco-c commented on #800
Yes, consider an issue to be free to work on unless there is already someone working on it actively.

[2019-01-14 14:52] #1757 closed

[2019-01-14 20:51] rv404674 commented on #1641
@garbas , as discussed over irc, i am on it. :)

[2019-01-14 22:33] rv404674 commented on #1641
@garbas , what does this means "In order to add this route to a task you'll need the scope queue:route:index.<namespace>. When a task has this route, it will be indexed when the task is completed successfully.". Basically how do i index the above route???. Any snippet in the existing code base you can point to.

[2019-01-15 09:43] garbas commented on #1571
Does anybody know where in mozilla-central is specified the version of rust?

[2019-01-15 10:20] marco-c commented on #1571
It's the version of the toolchain in https://searchfox.org/mozilla-central/source/taskcluster/ci/toolchain/linux.yml#540 with the toolchain-alias == linux64-rust.

[2019-01-15 11:22] marco-c opened #1792 "Replace % operator and `.format` with Python 3's f-strings"
Instead of `'%s is my name' % name` or `'{} is my name'.format(name)`, we should use the much more readable `f'{name} is my name'`.

[2019-01-15 12:21] rv404674 commented on #1641
@garbas i need to write this whole code snippet in taskcluster.yml no??. I need to add it in all the three ( testing, prod, staging) no???. And i have sent you a mail. Please do see it when you get some time. THanks

[2019-01-15 13:14] rv404674 commented on #1792
@marco-c  i am on it. :)

[2019-01-15 15:22] La0 commented on #1571
It's also available in [build/moz.configure/rust.configure](https://hg.mozilla.org/mozilla-central/file/tip/build/moz.configure/rust.configure#l68)

The rust-cbindgen version is also described in [build/moz.configure/bindgen.configure](https://hg.mozilla.org/mozilla-central/file/tip/build/moz.configure/bindgen.configure#l17)

[2019-01-15 17:43] sbeesm commented on #800
Are we considering some specific info files or all the info files in `release-services/src/codecoverage/bot/tests/fixtures/`?

Also, can you please suggest how to make sure that a file in SF entry exists in a repository.

[2019-01-15 18:40] marco-c commented on #800
@sbeesm this is about the info files that we pass to grcov at runtime, not the test fixture ones.

Here is where we pass the info files:
https://github.com/mozilla/release-services/blob/master/src/codecoverage/bot/code_coverage_bot/codecov.py#L140

The `self.artifactsHandler.get()` returns a list of ZIP files containing INFO files. To fix this issue, we will have to read the INFO files, and for ea

[2019-01-15 19:58] garbas commented on #1641
above mentioned attributes need to be added to every deployment task generated in decision_task.py as linked in the description of this PR.

[2019-01-16 00:41] m-agboola commented on #806
Hi @marco-c  Can i work on this issue?

[2019-01-16 00:49] marco-c commented on #806
Sure! You can take inspiration from https://github.com/mozilla/release-services/blob/master/src/codecoverage/bot/code_coverage_bot/notifier.py (which is sending a notification for another thing), and you can add the notification either at https://github.com/mozilla/release-services/blob/master/src/codecoverage/bot/code_coverage_bot/codecov.py#L119 or in this function https://github.com/mozilla/rel

[2019-01-16 06:30] rv404674 commented on #1641
hey @garbas , sorry for pinging you again and again, but i have stuck somewhere. So here is what basically i am trying to do. Can you take a look and tell me whether i am on right track??

1) Change each deploy task in get_deploy_task() ( i.e s3, heroku,taskcluster and dockerhub) as we want to index nix_hash and revision as well.  get_deploy_task() has github_commit, channel, project and project_h

[2019-01-16 08:22] garbas commented on #1641
@rv404674 nothing should change in `.taskcluster.yml` i only provided it as example since you were looking for it. the change needs to happen in `decision_task.py`.

I'm thinking maybe this ticket is not that beginner friendly since it requires deeper understanding how things work, even if the implementation should be easy.

[2019-01-16 08:36] garbas commented on #1664
running `curl -i https://api.github.com/repos/mozilla/release-services/contents/src/shipit` will give us last revision of a `shipit/api` project, and that should be used

[2019-01-16 20:16] sbeesm commented on #800
Ok, thanks for the clarification. So I shall run the project locally first and try to parse the ZIP files to get the info files and implement the checks.

[2019-01-16 20:46] marco-c commented on #800
You can also get a ZIP file full of INFO files from https://queue.taskcluster.net/v1/task/asm0mhRRR8eZADT7k1BUTg/runs/0/artifacts/public/test_info//code-coverage-grcov.zip.

[2019-01-17 16:18] marco-c opened #1799 "Create new 'OS Symbols' project, migrating code from the previous repos"
This is marked as a good first bug, but it is a pretty involved project, even though self-contained enough.
**If you have never contributed before, I suggest looking at a different good first bug.**

We should migrate the code from https://github.com/marco-c/breakpad-mac-update-symbols and https://github.com/marco-c/breakpad-win-update-symbols to release-services, as it would make maintenance much

[2019-01-17 17:45] MihaiTabara opened #1800 "[releaseduty] more notifications per more granular tasks"
RelMan have been repeatedly asking us if id't be possible to to have a notification in #releaseduty when the balrog rules are ready for signoff. I think this would be beneficial both sides and it's worth doing if we end up improving the current notification system.

[2019-01-17 18:22] lundjordan commented on #1800
I believe rok and rail were discussing splitting the notification features of shipit, i.e. taskcluster bot, into separate service. This would probably make adding functionality like this issue easier.

[2019-01-17 18:30] lundjordan opened #1801 "Add geckoview product in ship-it"
as per the [proposal doc](https://docs.google.com/document/d/1ltuh9-BcssqgWwxecILylCR6sxIoFCjehqeL7xTwoFw), we will be looking at getting ship-it signoff support with Geckoview.

Nightlies and Betas should be automatic (daily). But we want to have Releases too, and those should be kicked off and signed off through ship-it.

Unclear what phases we will need. Likely promote and publish. Also unknown

[2019-01-17 18:48] lundjordan commented on #1773
@rail - I wonder if you and Rob Lemley (@jfx2006 ?) can meet up and go over requirements over the next week? As the Thunderbird build and release engineer, he may be able to help migrate Thunderbird over. This would be a big win for them as then Rob would not rely on us to start new pipeline phases.

[2019-01-18 01:50] rail commented on #1773
Generally speaking ship-it already supports Thunderbird. The staging instance has it enabled.

One thing that we wanted implement before enabling the Thunderbird releases for reals is product based permissions to the corresponding API end points. In other words we want to have more granular access rules.

We can extend the current solution by using a separate LDAP group for the Thunderbird release

[2019-01-18 09:04] garbas commented on #1773
I already started the work in https://github.com/mozilla/release-services/pull/1806

[2019-01-18 09:39] garbas commented on #1800
We already have a working periodic notification service running. eg. notify me this often (you set the policy) on this channels (irc/email/...)

And for regular notification we just use taskcluster notification.

I think we should have a look at the notifications in whole pipeline and not just one place. Since that way we wont over notify people (it would then happen that people would just ignore

[2019-01-18 18:36] sbeesm commented on #800
Do the zip files contain multiple info files? If there is only one info file, this should work:
[code]

And if we can use the variable `f` from `all`  outside of the function, where it first returns false, we can also print which file is missing in `self.repo_dir`. Any suggestions how we can do that?

[2019-01-18 18:47] marco-c commented on #800
They currently only contain one info file, but we should be generic and assume there could be multiple info files.
There are a few problems with your snippet:
1) You are opening the zip file but never closing it. You should use `with` so this is handled for you;
2) f in self.repo_dir won't work, self.repo_dir is a path.

[2019-01-18 20:18] sbeesm commented on #800
[code]

Also, the SF: files are in this format:
[code]
All the file names have some path before them. Do we need this path also or we just need the file name and search it directly in the `self.repo_dir` path?

[2019-01-18 22:53] marco-c commented on #800
Those are the paths of the files under the self.repo_dir path. E.g. https://searchfox.org/mozilla-central/source/netwerk/ipc/SocketProcessChild.cpp (consider `https://searchfox.org/mozilla-central/source' to be the root of the repo).
You should assert that the file `netwerk/ipc/SocketProcessChild.cpp` exists under self.repo_dir, so you don't need to find it, you can just append the path to self.re

[2019-01-19 08:13] m-agboola commented on #806
Alright. Thanks!

[2019-01-19 18:05] sbeesm commented on #800
So instead of writing a `find` function, we can do:

`assert all(os.path.exists(self.repo_dir + f) for f in sf), 'INFO file does not exist.'`

[2019-01-20 08:01] sbeesm commented on #800
Shall I submit a PR now?

And is it important to print the name of file also which is missing?  Using `f` in error message of the assertion to print the file name doesn't work as it is out of scope.
Any suggestions how to do it?

[2019-01-20 11:42] marco-c commented on #800
You could collect the names in a list, and then assert that the list is empty:
[code]

[2019-01-20 12:00] marco-c commented on #1221
This might be a little involved to fix as a first contribution, you might want to look for some of the issues with the `skill:good-first-bug` label.

Unless @garbas can break this down to smaller tasks.

[2019-01-20 18:15] sbeesm commented on #800
Can we do something like this:

[code]

Although it is not very readable but this way we won't have to traverse the list two times for creating and finding missing files.

[2019-01-20 18:50] marco-c commented on #800
It actually seems better if you have a list of missing files and add files to the list in the loop where you iterate over the zip entries.

[2019-01-21 06:15] Hyperion101010 commented on #1221
I have solved some good first bugs
would give this a try

[2019-01-21 07:11] jee1mr commented on #1221
@marco-c Alright. I'll pick up some good first bugs.

[2019-01-21 09:04] sbeesm commented on #800
So the final code can be like this:

[code]

Shall I submit a PR now?

[2019-01-21 09:56] marco-c commented on #800
Yes! It's much easier to discuss on code with PRs.

[2019-01-21 12:10] marco-c commented on #1799
My idea for the architecture of this:
- os_system/trigger will be a project running with a Taskcluster hook daily, which will trigger os_system/win and os_system/mac tasks, and os_system upload tasks depending on the first two;
- os_system/win will be a task fetching symbols from Microsoft;
- os_system/mac will be a task fetching symbols from Apple;
- os_system/upload will be a task uploading symb

[2019-01-21 13:47] MatheshShan commented on #1799
Hi, I'm interested in this job.
Would you explain me  what to be done exactly , As I'm new to this .
if you give me some guidance it will be better for me  to complete this work.

[2019-01-21 13:58] marco-c commented on #1799
Hello @MatheshShan, this is not really a good first bug to start with, as it is pretty complex. I'd suggest looking at another one.

[2019-01-21 14:04] MatheshShan commented on #1799
okie Thank you @marco-c

[2019-01-21 14:35] sbeesm commented on #800
I've created a PR #1812
Waiting for review!

[2019-01-21 16:13] Hyperion101010 commented on #1221
So now is this my target ?
To build a new "./please signin" command

[2019-01-21 21:44] garbas commented on #1221
@Hyperion101010 yes, i reworded it since it wasn't clear before. signin command is already implemented in link mentioned in description. we need to implement it in python as part of the please command.

[2019-01-22 05:34] pgadige commented on #1799
I'm working on it. I'm familiar with [Taskcluster](https://tools.taskcluster.net/) tool, specifically with creating tasks, hooks and managing secrets.

I'm starting with setting up of `os_system/trigger` project. I'll refer to one of the existing bot projects to get an idea for an outline.

I'd like to write up a design doc so @marco-c can review it and give feedback.

[2019-01-22 14:01] abpostelnicu opened #1815 "staticanalysis/bot: clang-format reformats code that is correctly formatted"
The first thing that the bot does is to performa a ```./mach clang-format```[[1]](https://github.com/abpostelnicu/release-services/blob/master/src%2Fstaticanalysis%2Fbot%2Fstatic_analysis_bot%2Fclang%2Fformat.py#L43), that translates to running clang-format on a diff[[2]](https://searchfox.org/mozilla-central/source/python/mozbuild/mozbuild/mach_commands.py#2749).
In most cases this is fine but th

[2019-01-22 16:43] froydnj opened #1817 "Problem with an automated review: reviewbot complains about clang-format ignored files"
**Phabricator URL:** https://phabricator.services.mozilla.com/D17252

**Problem:** `reviewbot` complained about the style in patched files:

https://phabricator.services.mozilla.com/D17252#439670

But the files in those directories are deliberately ignored during clang-format:

https://searchfox.org/mozilla-central/rev/6c784c93cfbd5119ed07773a170b59fbce1377ea/.clang-format-ignore#52

`reviewbot` s

[2019-01-22 17:49] abpostelnicu commented on #1817
Thanks for reporting this, this issue is related with https://github.com/mozilla/release-services/issues/1815
I’m aware why this happens and we will have a fix for this shortly.

[2019-01-23 18:33] #800 closed

[2019-01-23 22:31] marco-c opened #1820 "Assert that JSVM source files in the INFO files exist"
This was originally filed as #800, which was fixed in #1812. Unfortunately the assertion failed, so I made it a warning in #1819.
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1522304 to track the LCOV rewriter bug. Once it is fixed, we'll be able to turn the warning back into an assertion.

[2019-01-24 11:18] bnjbvr opened #1822 "trychooser allows to make invalid try syntax"
STR
===

- select any kind of build
- select `all` in the platforms
- add `win64 code coverage` to the platforms

Observed
===

The generated try line is: `try: -b do -p all,win64-ccov -u none -t none`, which is not valid.

For instance: https://treeherder.mozilla.org/#/jobs?repo=try&revision=d975fd252168a5ad309beac3cacbadb2870a4c07&selectedJob=223714228

See the code parsing the try syntax, speci

[2019-01-24 19:41] marco-c opened #1823 "Add a warning on Phabricator revisions when they are modifying a file with 0 coverage"
This could go in the staticanalysis/bot because it uses code coverage data which has already been produced, it doesn't have to parse coverage artifacts and so on like the normal coverage build.
Also, staticanalysis/bot already has all the infrastructure to run stuff when a new Phabricator revision is created and to comment on Phabricator revisions.

[2019-01-25 10:55] marco-c opened #1825 "Issue to track out of band releases"
Since we have forgotten about them in the past, we can use this issue to track out of band releases.

Edit this comment adding a row like:
PUSH DAY - PUSHED COMMIT - PUSHED PROJECT(S) - PREVIOUS RELEASED COMMIT

[2019-01-25 12:34] abpostelnicu commented on #1825
25/Jan/2018 - Add LLVM_OBJDUMP to geckoenv. (#1824) - staticanalysis/bot - 2e1a9647f49112aa853cb82aeb097d72edea0681

[2019-01-25 13:03] #1815 closed

[2019-01-29 17:02] emilio commented on #1754
It happens all the time actually :(

[2019-01-29 17:31] marco-c commented on #1754
I wonder if this couldn't be due to the fact that (IIRC) at the beginning revisions are "secure" for a bit and so we don't see them.

We are using `search_diffs` to retrieve the diffs:
https://github.com/mozilla/release-services/blob/461ccce4a0853725712a9899f8c8d641f1f46285/src/pulselistener/pulselistener/listener.py#L61

We poll using `search_diffs`, storing the latest ID, then we poll again all

[2019-01-29 17:33] marco-c commented on #1754
Yes, I did recall correctly: https://wiki.mozilla.org/Phabricator/FAQ#Can_I_use_Phabricator_for_patches_to_security_bugs.3F.

[2019-01-30 05:53] Hyperion101010 commented on #1221
People let me know which irc shall i contact while working and it'll be helpful if i know at what time UTC you people are available so that i can get some good help .And i'll start working on this issue.

[2019-01-30 09:33] marco-c commented on #1221
The IRC channel is #release-services.

[2019-01-30 09:59] abpostelnicu opened #1831 "staticanalysis/bot: gecko-env fails to build correctly 'export' from sa-unified"
Trying to build ```firefox``` using our ```gecko-env``` I've noticed that the build was failing with the following message:

[code]

```dist/system_headers``` is build [here](https://searchfox.org/mozilla-central/source/config/make-system-wrappers.py#19) based on [this](https://searchfox.org/mozilla-central/source/config/system-headers.mozbuild) list. As it can be easily seen there are two headers

[2019-01-31 16:10] nbp opened #1835 "Automated review: link a patch, instead of submitting it for review / landing it."
**Phabricator URL:** https://phabricator.services.mozilla.com/D17929/
**Problem:** reviewbot made a complain about a patch that I made and landed. It came 20 minutes too late and complain about the patch not following clang-format strictness.

It would have been preferable to get this patch before landing, and ideally fixing my patch series instead of asking me.

[2019-02-04 12:07] abpostelnicu commented on #1831
This can be closed now since we've migrated to clang and llvm 7.

[2019-02-04 12:07] #1831 closed

[2019-02-04 13:34] marco-c commented on #1226
@vipulchhabra99 this issue is going to require quite a bit of work, it's not suitable as a good first issue.

[2019-02-04 13:41] abpostelnicu opened #1838 "Problem with an automated review: Too many blank lines reported by flake8 linter"
Looking at this [review](https://phabricator.services.mozilla.com/D18138#inline-97728) it can be seen that the bot wrongfully reported ```Too many blank lines```.

[2019-02-04 16:13] La0 opened #1840 "Handle artifacts in before/after"
Right now, the artifacts produced by analyzers do not support the before/after state.
So the output from before is always erased.

[2019-02-04 19:05] prajwalshimpi commented on #806
Hi @marco-c ,
Can I work on this as my first task if this is not solved yet?
Thanks!

[2019-02-04 21:16] prajwalshimpi commented on #806
Hi @marco-c ,
Thank you!

Since I am a beginner, I have the firefox built on my macOS. Do I need to setup some additional environment?

[2019-02-04 23:51] lundjordan commented on #1773
Any update here or timeline we are planning for? @rail @garbas

[2019-02-04 23:59] marco-c commented on #806
@prajwalshimpi this is a different project than Firefox, unfortunately it's quite a different environment that you will have to setup. https://docs.mozilla-releng.net/develop/contribute.html#requirements

Once you setup the env, try running `./please check codecoverage/bot` (don't run `./please run codecoverage/bot` as it will take too much time).

[2019-02-05 02:39] rail commented on #1773
End of February or earlier is the current plan.

[2019-02-05 10:02] marco-c opened #1843 "tooltool/api is defining 'releng-svc' as its worker type, even though 'releng-svc' is the default"
@garbas @rail did you mean to use another worker type?

[2019-02-05 10:02] marco-c commented on #1843
If not, we could remove the `workerType` from src/tooltool/api/default.nix.

[2019-02-05 10:03] marco-c commented on #946
We're good here for now.

[2019-02-05 10:03] #946 closed

[2019-02-05 10:06] marco-c commented on #553
@garbas the pulselistener problem is fixed, do you want to keep this open for another reason? Can you update the title if so, or close the issue otherwise?

[2019-02-06 06:16] jyavenard opened #1846 "Long delay between a diff being submitted and review bot comment"
Today I submitted a new diff to phabricator at 11:27AM.

The bot added comments about lint errors at 3:53PM only.

4h26m to get an otherwise very useful comment is too long.

I personally relies on the autobot to make those checks.

https://phabricator.services.mozilla.com/D18762

[2019-02-06 07:03] La0 commented on #1846
Hello Jean Yves,

Unfortunately, the review bot [taskcluster task](https://tools.taskcluster.net/groups/CJA-1WCjR1OxvogZoiOwJg/tasks/CJA-1WCjR1OxvogZoiOwJg/details) for the first diff `PHID-DIFF-e7gqgedrgr62jyqvqs6x` on this revision failed (certainly a worker failure, as the task is in exception, not failed state)

Only the second diff `PHID-DIFF-cbxjy367kjaftco6bbot` got [analyzed all the way th

[2019-02-06 08:06] La0 commented on #704
Bumping this, as it's blocking static analysis users: #1846

[2019-02-06 10:13] glandium opened #1848 "Problem with an automated review: Review message should indicate which diff it applies to."
**Phabricator URL:** https://phabricator.services.mozilla.com/D18807

**Problem:** The review message should indicate which diff it applies to. In this case, I ran clang format between the first and the second diffs attached to the revision, but before the bot said anything, so I guess the review applies to the first. But it should be clearer.

[2019-02-06 10:26] garbas commented on #1822
@bclary trychooser via the web is slowly going to be deprecated (i was told) and i'm only doing the minimal maintenance until then (eg. if you have a patch I'll review and merge it). I would suggest to try to use `./mach try chooser` which is suppose to supersede this version of trychooser.

[2019-02-06 10:26] #1822 closed

[2019-02-06 10:32] garbas commented on #553
@marco-c thank you for pinging me on this. i'm looking is this was done already in releng-tooltool

[2019-02-06 10:34] garbas commented on #553
fixed

[2019-02-06 10:34] #553 closed

[2019-02-06 13:21] bclary commented on #1822
I think you meant to address @bnjbvr and either mach try chooser to mach try fuzzy which is my go to solution these days. ;-)

[2019-02-06 16:59] abpostelnicu opened #1850 "staticanalysis/bot: Update the integration of static analyzers in order to be more scalable"
We want our static-analysis framework to be very salable and easy to work on, right now it's very hard to match a static-analyzer for a build target, please see the integration of [infer](https://github.com/mozilla/release-services/commit/689fbdae1de6996f6dd2b3968de72905ac36c167#diff-1a2788e1cef7cfddcdac0370d5c01d7a) that looking back on it it's sub-optimal and in the context where we also add [co

[2019-02-06 22:08] AlexAltea commented on #1408
This is still happening to me, after following this guide:
https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/Windows_Prerequisites

[2019-02-06 22:10] sylvestre commented on #1408
This is a bug for a tool, not for firefox itself
@AlexAltea you should do cargo install cbindgen --force

[2019-02-07 08:57] La0 opened #1851 "Add nasm to SA bot"
[nasm](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/compilers/nasm/default.nix#L5) compiler is available in the official nix packages.

It's needed as a new dep to run `./mach configure`

Example of [currently failing task](https://tools.taskcluster.net/groups/RNOo4w_xQKWOyjo_VeUVPQ/tasks/RNOo4w_xQKWOyjo_VeUVPQ/runs/0/logs/public%2Flogs%2Flive.log)

[2019-02-07 09:35] marco-c commented on #1846
We can close as a duplicate of #704.

[2019-02-07 09:35] #1846 closed

[2019-02-07 10:32] #1851 closed

[2019-02-07 17:09] #1843 closed

[2019-02-08 08:15] Utkarsh1308 commented on #1227
Can you guide me on what to do here?

[2019-02-08 08:26] marco-c commented on #1227
@Utkarsh1308 I suggest picking up a bug with the `good first issue` tag, this one is a little complicated for a first contibution.

[2019-02-08 08:29] Utkarsh1308 commented on #1792
Can I take this issue if someone else is not working on it?

[2019-02-08 08:31] marco-c commented on #1792
@Utkarsh1308 there is already a PR that is fixing this.

[2019-02-08 09:13] La0 opened #1856 "Tag docker images with channel names"
Currently the images published (on docker hub) through skopeo are [only tagged with their hash](https://github.com/mozilla/release-services/blob/b8801a184d158f0c883dcdd1ff6b4871b538c71a/lib/please_cli/please_cli/deploy.py#L475) which makes it impossible to use outside of release-services.

As we need to use the `staticanalysis/bot` image from the try taskgraph, a pinned version is mandatory to avo

[2019-02-08 19:35] rail commented on #1856
You can specify `docker_stable_tag` in your config to do that, like [here](https://github.com/mozilla/release-services/blob/master/lib/please_cli/please_cli/config.py#L904). Is this what you were looking for?

[2019-02-09 08:29] La0 commented on #1856
Thank you @rail ! I did not know this existed, neither @marco-c i think.

I'll make a simpe PR to add these tags to staticanalysis/bot before the next release

[2019-02-09 08:29] #1856 closed

[2019-02-10 03:50] rail commented on #1856
\o/
less bugs is better :)

[2019-02-10 07:54] sangimanishrao commented on #1001
Hey, can I work on this, if this has not been assigned to anyone else?

[2019-02-10 09:07] sangimanishrao commented on #806
Hey, I've written the code to fix the issue, but when I try to run `./please check codecoverage/bot` it says `Exception: Missing taskcluster in /etc/hosts`

[2019-02-11 09:01] garbas commented on #1001
@sangimanishrao sure, feel free to take it. it looks like @championballer didn't have time to finish it.

[2019-02-11 10:19] marco-c commented on #806
You'd need a Taskcluster account.
For now, please just submit the PR and our automation will take care of running `please check` for you. I'll figure out how to get you a Taskcluster account.

[2019-02-11 13:21] sangimanishrao commented on #806
Can I send you my patch once, before I generate a PR?

[2019-02-11 13:24] marco-c commented on #806
Creating a PR is the best way to show me your patch :)

[2019-02-11 17:43] sangimanishrao commented on #1001
Okay, working on it.

[2019-02-11 18:45] #806 closed

[2019-02-12 10:56] marco-c opened #1866 "Rename test_infer_parser to test_coverity in src/staticanalysis/bot/tests/test_coverity.py"

[2019-02-12 11:01] marco-c commented on #1866
The comment at the top of the function should be updated too.

[2019-02-12 16:11] #1866 closed

[2019-02-12 16:30] marco-c opened #1873 "staticanalysis/bot: max_comments in build_comment seems unused"
CC @La0 were we using it in the past and not using it anymore? Can we remove it?

[2019-02-12 16:37] La0 commented on #1873
I think it was a reviewboard requirement. We can remove it

[2019-02-12 17:34] amey-kudari commented on #1873
Can i try solving this? This will be my first actual bug, can you please guide me?

[2019-02-12 23:36] marco-c commented on #1873
Sure, you can pick it up.
It's a really simple bug, you just need to remove max_comments parameter and its usage from the build_comment function.

[2019-02-13 05:11] amey-kudari commented on #1873
done, i removed the if statement, and that parameter.

[2019-02-13 11:31] #1823 closed

[2019-02-13 12:04] marco-c commented on #1873
Fixed by https://github.com/mozilla/release-services/pull/1875.

[2019-02-13 12:04] #1873 closed

[2019-02-14 09:54] La0 commented on #1200
We are in the process of removing `gecko-env` and most dependencies from `staticanalysis/bot`, it will only be a pure python tool, and should be pure again.

ETA: 1 to 2 months

[2019-02-14 09:59] La0 commented on #212
Linked to #786

[2019-02-14 10:08] La0 commented on #786
I'm working on this.

The plan is to support loading a local file using  a new `please_cli` option `--local-secret`.
We should have `--local-secret` **XOR** `--taskcluster-secret`.
The `get_secrets` method should behave in the same way, checking file structure and if keys are available or not. This should minimize the impact on projects.

Sample projects secret can then be provided in the reposito

[2019-02-14 11:25] garbas commented on #786
i would really like to avoid adding more parameters. i'd even remove `--taskcluser-*` parameters if possible.

I'm -0 on this since i understand it will fix the issue temporarily but complicate in the long run.

I would prefer we look at all the issues we have regarding UX and try simplify ./please command and not adding more clutter.

[2019-02-14 11:58] La0 commented on #1364
This blocks #1221

[2019-02-14 14:58] abpostelnicu opened #1883 "staticanalysis/bot: For BEFORE_AFTER analysis method decide if we need to run 'mach' 2nd time"
If the path contains new files C/C++ files we will have to run 'mach' also after we apply the patch since only by doing so we generate the appropriate compilation units for the new files.
By not having this we skip from the analysis the newly added files.

[2019-02-14 17:16] jandem opened #1885 "Coverity posts pre-existing issues unrelated to the patch"
**Phabricator URL:** https://phabricator.services.mozilla.com/D19760

**Problem:** I'm all for static-analysis, but when a file has pre-existing issues reporting them on every revision that touches this file gets very noisy very fast :)

[2019-02-14 17:18] sylvestre commented on #1885
Yeah, this is a bug, should be fixed today or tomorrow

[2019-02-14 17:18] abpostelnicu commented on #1885
Hello Jan,

Thank for reporting this issue and I'm sorry you're having this bad experience, I'm aware of the issue and we have a fix for it [#1884](https://github.com/mozilla/release-services/pull/1884).

[2019-02-14 17:19] jandem commented on #1885
Fantastic! Thanks to both of you :)

[2019-02-14 18:56] sylvestre commented on #1885
One more occurrence: https://phabricator.services.mozilla.com/D19779

[2019-02-14 19:34] abpostelnicu commented on #1885
We’ve pushed the fix to the testing environment. Tomorrow we will push it in production.

[2019-02-14 19:57] marco-c commented on #1885
And in the meantime I've disabled Coverity on production.

[2019-02-15 07:34] sylvestre opened #1887 "https://static-analysis.moz.tools/#/stats: coverity isn't supported"
[code]
And it blocks the whole loading phase

[2019-02-15 08:32] La0 commented on #1887
I'm on it

[2019-02-15 13:33] #1887 closed

[2019-02-15 15:27] abpostelnicu commented on #1885
Production has been redeployed with the fix and Coverity has been re-enabled.

[2019-02-15 15:35] #1885 closed

[2019-02-18 09:09] La0 commented on #1221
I'm working on this.

[2019-02-18 17:15] La0 opened #1899 "Remove phabricator switches"
We can now always assume that we have a `PhabricatorRevision`, and target Phabricator comments.

So we can do the following:

- Remove all switches related to phabricator/mozreview in cli & workflows
- Have only a `PhabricatorRevision` (renamed as `Revision` ?)

[2019-02-21 16:34] ahal commented on #1447
I missed the questions here, but I don't believe warnings are currently noisy at all. As we add more things at the warning level however, this could very easily change.

[2019-02-22 13:53] #1221 closed

[2019-02-22 13:56] La0 commented on #1364
@garbas I think this is now solved through #1896

[2019-02-22 13:57] La0 commented on #1365
@garbas I can take this one to continue the work around configuration. Ok with you ?

[2019-02-25 14:09] Pike commented on #1447
This would be nice for https://bugzilla.mozilla.org/show_bug.cgi?id=1353680.

[2019-02-25 15:21] garbas commented on #1364
:+1:

[2019-02-25 15:21] #1364 closed

[2019-02-25 17:01] #1447 closed

[2019-02-26 08:38] La0 opened #1909 "Limit number of comments per file"
When a file is invalid for an analyzer (minified JS code for example), the analyzer can produce a LOT of issues ([120k issues for a single js file](https://phabricator.services.mozilla.com/D20888#change-SlaItvyfrJQt)).

We should add a limit to the number of issues per file (say 20 issues max per lines, that would be 1000 issues for the example case), and discard all the issue to simply post one e

[2019-02-26 09:28] marco-c commented on #1909
We could post a few issues, just to give an idea to the developer what's wrong. Probably something like 20 issues per file rather than per line, and then we say "we found XXX other issues, but we didn't post them".

[2019-02-26 09:30] La0 commented on #1909
In the case of a minified file, the issues themselves do not really help as they make bascically no sense. i think reporting a single comment on the first line of the file is fine here

[2019-02-26 09:32] marco-c commented on #1909
If we can detect it's a minified file, yes, but I was thinking of that as a more general solution.
E.g. say somebody adds a third-party file with a lot of issues and forgets to add it to the exclude list.

[2019-02-26 09:33] La0 commented on #1909
Right, we could also suggest a few options to solve the issue

* is this a minified file ?
* is this a third party file ?
* ...?

[2019-02-26 09:38] Utkarsh1308 commented on #1909
Could you explain what needs to be done here?

[2019-02-26 09:59] La0 commented on #1909
Hello @Utkarsh1308,

This issue concerns Mozilla Code Review bot, developped in this repository.
We need to publish a new comment on [Phabricator](https://phabricator.services.mozilla.com/) (the code review platform we use) when a large number of issues per file is detected by the bot.

The patch would add some code [here](https://github.com/mozilla/release-services/blob/master/src/staticanalysis/

[2019-02-26 10:03] La0 commented on #1909
This is a bit more complicated than a **good-first-bug**, i moved it to **good-next-bug**.

[2019-02-26 11:30] La0 opened #1912 "Support file renames in before/after"
We must support the file renames in a patch. First, [parsepatch](https://github.com/mozilla/parsepatch/issues/6) has to support them, then we need to change the `build_lines_hash` logic.

The issue hash method should take into account the current mode, and get boths paths from the revision, instead of relying only on the current path.
Exemple, with a file 'test.txt' renamed to 'new_name.txt':
[cod

[2019-02-27 13:17] #1641 closed

[2019-03-01 04:14] rv404674 commented on #1909
hi @La0 . I am interested in this bug. Can i work on this.

[2019-03-01 10:59] La0 commented on #1909
@rv404674 Totally Rahul, it would be great for a contributor like you.

[2019-03-01 11:24] rv404674 commented on #1909
@Lao. Sure. Let me start hacking on this. One more thing, if you work with andi, can you tell him that i am interested in gsoc project "Test automation for linting tools" and that can he provide me some more description about project in depth on irc.

[2019-03-01 11:51] La0 commented on #1909
Ok @rv404674 , i'll assign it to you then.

[2019-03-01 13:51] rv404674 commented on #1909
@La0 . I have accepted the invitation. :)

[2019-03-01 13:57] La0 commented on #1909
Now you're assigned !

[2019-03-01 14:07] rv404674 commented on #1909
Thanks :)

[2019-03-01 15:15] La0 opened #1921 "Export phabricator numerical diff id in Taskcluster payload"
Only the `diff_phid` is exported, but it's not really user friendly in the dashboard as we only see the numerical id.

The patch is easy: add `diff_id: self.diff_id` in the `as_dict` method of `PhabricatorRevision` in `src/staticanalysis/bot/static_analysis_bot/revisions.py` and fix unit tests

Bonus point for displaying it in the staticanalysis frontend

[2019-03-01 15:54] La0 opened #1922 "[meta] Static analysis performance issues"
This is a meta bug to track the issues related to degraded performance in static analysis, like #1754 and other similar reports where SA issues are intermittent.

Basically we currently have too many failed tasks (~ 25%) which do not report at all on Phabricator revisions, mainly due to faulty mercurial clones.

Actions to do:

- [x] Remove Taskcluster cache #1923
- [x] Better logs for mercurial c

[2019-03-01 15:55] La0 opened #1923 "Remove Taskcluster cache"
Remove the cache for mercurial clone, and track the time difference in shadow mode on staging.
It **may** improve the clone reliability.

[2019-03-01 15:57] La0 opened #1924 "Better logs for mercurial clone"
We need to see:

- the output from the mercurial command (with progress, like on mozilla-central tasks)
- the times of these operations
- the total clone time for a task (it's already reported in datadog for average calculations)

[2019-03-01 15:58] La0 opened #1925 "Watchdog around mercurial clone"
Add a watchdog system around mercurial clone, that kills (and restart ?) the clone if it stalls for N minutes / or exceeds M minutes.

Depending on the outcome from #1923 & #1924, we may skip this task.

[2019-03-01 16:01] La0 opened #1926 "Detect task failures in pulselistener & restart tasks"
Extension of #1127: we need a mechanism to check on failed tasks (we already do exceptions), and restart some of them (example: when a clone fails, but not when an analyzer fails)

A simpler way would be to always assume a failed task **must be restarted**, and decrement its retries count, or simply limit the number of task in a group id (ie: retry failed tasks until we have 5 tasks in the same gr

[2019-03-01 16:03] La0 opened #1927 "Get failed status when tasks get killed by Taskcluster"
We show an invalid status `started` when tasks fail during the clone and get killed by Taskcluster.
The taskcluster index is not updated, so it stays in its initial place.

I think it's almost impossible to fix in the task code, but we could update the index from pulselistener in that case.

Suggestions welcome.

[2019-03-01 16:07] marco-c commented on #1927
We could consider tasks in starting state which have been there for more than a few hours as failed.

[2019-03-01 16:16] La0 commented on #1927
That would be an easy solution to implement. It could even be done at the frontend level, without impacting the index (even though i would prefer the index update)

[2019-03-02 15:50] SimiCode commented on #910
@marco-c
Are there still tasks on this issue? I would be interested in contributing.

FYI These links don't work anymore:
- https://github.com/mozilla-releng/services/tree/master/src/shipit_code_coverage/tests.
- https://github.com/mozilla-releng/services/blob/master/src/shipit_code_coverage/shipit_code_coverage/github.py.

[2019-03-03 09:35] rv404674 commented on #1921
I am interested in doing it. Can I take it as well @La0

[2019-03-03 18:00] La0 commented on #1921
Sure.

[2019-03-05 10:22] marco-c opened #1935 "Use pytest tmpdir in mock_config"
Instead of using the tempfile package at https://github.com/mozilla/release-services/blob/549691a0365854fe0c9e03c01728b7f66d7cbe9b/src/staticanalysis/bot/tests/conftest.py#L47, we can use the tmp_path or tmpdir fixture from pytest.

[2019-03-05 10:58] #1923 closed

[2019-03-05 18:23] marco-c commented on #910
The two links should now be https://github.com/mozilla/release-services/tree/master/src/codecoverage/bot/tests and https://github.com/mozilla/release-services/tree/master/src/codecoverage/bot/codecoverage_bot/github.py.

[2019-03-05 18:24] marco-c commented on #910
Yes, there are still tests to write (the unticked ones from the first comment in this issue).

[2019-03-06 09:51] #1924 closed

[2019-03-06 15:26] #1927 closed

[2019-03-08 08:07] #1921 closed

[2019-03-12 17:09] rail commented on #827
Happened to the shipitapi worker as well... :/

[2019-03-12 17:25] rail commented on #827
See also:
https://github.com/Polyconseil/aioamqp/issues/65
https://github.com/Polyconseil/aioamqp/issues/144

[2019-03-14 13:48] garbas commented on #827
is this something we could implement in cli_common.pulse and be able to reuse it? it looks like a pretty common case

[2019-03-15 01:18] Rishabh0712 commented on #978
I would like to have some more info on that. Maybe I can work on it.

[2019-03-15 08:35] La0 commented on #1922
Release 56 was deployed yesterday, static analysis bot is OK with these performance enhancements.
The "killed for timeout" status in the frontend allows me to track bad tasks, and confirm our suspicions: some mercurial are extremely long (in the update phase). These are rare occurences.

Here are [two](https://tools.taskcluster.net/groups/K4z2Fq4ZQwGs9DeolY5YgA/tasks/K4z2Fq4ZQwGs9DeolY5YgA/runs/0/

[2019-03-15 14:17] garbas commented on #978
@Rishabh0712 this requires non trivial amount of changes all over the places. I think for first tickets it would be better to take some different ticket with a [label good-first-bug](https://github.com/mozilla/release-services/issues?q=is%3Aissue+is%3Aopen+label%3Askill%3Agood-first-bug)

[2019-03-16 05:36] madhavkulkarni1986 commented on #910
@marco-c  get_commit and get_mercurial methods aren't available anymore in github.py.
I am referring to:  release-services/src/codecoverage/bot/code_coverage_bot/github.py
I am on the right file? Has something changed? I want to work on this, kindly help.

[2019-03-17 12:48] madhavkulkarni1986 commented on #1027
I still have this issue for "./please check codecoverage/bot" on Ubuntu/16.04. Any help please..?

[2019-03-18 11:17] #1925 closed

[2019-03-18 16:36] marco-c commented on #910
They were renamed to `git_to_mercurial` and `mercurial_to_git` (you can look at the history to see that), but they are the only two functions you shouldn't care about since there are already tested :)

[2019-03-18 17:30] mozbhearsum opened #1962 "user picture does not show up on ship it"
I see alt text instead of my picture:
![Screenshot_2019-03-18 Ship-it ](https://user-images.githubusercontent.com/49649/54550188-ee5a1280-4981-11e9-9686-510f3bc7c162.png)

The image source points at https://s.gravatar.com/avatar/2bb0ca53105183631a435b12682ef49e?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fbh.png, which loads fine. I thought it might be related to Content Blocking, but even

[2019-03-18 17:40] marco-c commented on #1027
You'll need to create a Taskcluster account on https://tools.taskcluster.net/, and then use `./please tools signin` to sign-in (add `secrets:get:garbage/YOUR_NICK/release_services` in the list of scopes).  Then, create a secret called garbage/YOUR_NICK/release_services from https://tools.taskcluster.net/secrets (it can be empty at the beginning). Then, you should be able to run `./please check cod

[2019-03-19 14:21] rail commented on #1962
Smells like a content blocking issue... Do you have anything that would block the picture from loading?

[2019-03-19 14:26] rail commented on #1962
Maybe something in the console?

[2019-03-19 14:31] mozbhearsum commented on #1962
It looks like it's something configured by the site. I have this in the console:
 Content Security Policy: The page’s settings blocked the loading of a resource at https://i2.wp.com/cdn.auth0.com/avatars/bh.png?ssl=1 (“img-src”).

I also have this, but I don't think it's relevant (and the problem still occurs with content blocking disabled):
 Request to access cookie or storage on “https://s.grava

[2019-03-19 14:38] rail commented on #1962
Ohhh, interesting, https://i2.wp.com/cdn.auth0.com/avatars/bh.png?ssl=1 is the final url and it's not whitelisted. For some reason gravatar redirects to this resource.

[2019-03-19 16:50] madhavkulkarni1986 commented on #1027
@marco-c Sorry, it does not work. Still the same issue.
Steps I followed:
1. Created account on tools.taskcluster.net
2. ./please tools signin => opened the link on the terminal, on create New client page, entered the scope(secrets:get:garbage/YOUR_NICK/release_services). Got "Taskcluster credentials saved !" on terminal.
3. On tools.taskcluster.net/secrets page, created a SecretName: garbage/YOUR

[2019-03-19 16:57] marco-c commented on #1027
Run `./please check codecoverage/bot --taskcluster-client-id YOUR_CLIENT_ID --taskcluster-access-token YOUR_ACCESS_TOKEN --taskcluster-secret="garbage/mk6891/release_services" `, where YOUR_CLIENT_ID and YOUR_ACCESS_TOKEN can be read in the configuration file at ~/.config/please/config.toml.

[2019-03-20 06:53] madhavkulkarni1986 commented on #1027
@marco-c Thanks for the information. It now works but fails with missing value NIX_CACHE_SECRET_KEYS in secrets, as you mentioned before. Can you please point me to a document or link which provides what values should these parameters have in the yaml?? I tried some things but doesn't work. Sorry, I am doing for the first time and missing all these information.

[2019-03-20 09:35] marco-c commented on #1027
You will need to change your secret (`garbage/mk6891/release_services`) on taskcluster, e.g. for this one try using an empty array.

[2019-03-20 14:38] #827 closed

[2019-03-26 08:36] La0 opened #1980 "Replace type by level in ClangTidyIssue"
As `type` is a reserved keyword in Python, it makes sense to rename all occurences of `ClangTidyIssue.type` to `ClangTidyIssue.level`.
Please take care to also fix the unit tests.
Bonus: make a PR for the staticanalysis/frontend which use the type information in the `Tasks.vue`

[2019-03-26 11:20] La0 opened #1982 "Migrate code coverage to Harbormaster"
As discussed with @marco-c on #1977, we can now migrate the code coverage function use Harbormaster:

-  upload_coverage_results
- upload_lint_results

[2019-03-26 11:23] marco-c commented on #1982
`upload_lint_results` could probably be removed altogether now

[2019-03-26 11:24] marco-c commented on #1982
(well, after we have the coverage build plan)

[2019-03-26 12:07] La0 opened #1983 "HarborMaster API should return one build only"
Followup of [this review comment](https://github.com/mozilla/release-services/pull/1977#pullrequestreview-218800839): we should check the behaviour of HarborMaster API once things stabilize

[2019-03-27 10:58] risingsmoke commented on #1980
Hey can I work on this?
I understand that the PR should include changes to this file:
[https://github.com/mozilla/release-services/blob/master/src/staticanalysis/bot/static_analysis_bot/clang/tidy.py](url)
along with changing all the references of `type` in the code base.
Do correct me if I am missing something.

[2019-03-27 11:41] La0 commented on #1980
That's it ! You'll need to run the setup to test your modifications https://docs.mozilla-releng.net/develop/contribute.html

[code]

[2019-03-27 11:53] risingsmoke commented on #1980
Nice. I will do that then. Thanks.

[2019-03-27 13:04] sylvestre commented on #1481
@rv404674 Hello
Sorry for the latency, I think there is enough information in this bug to start with, don't you think ? :)

[2019-03-27 13:05] sylvestre commented on #1481
I reported this in bugzilla too: https://bugzilla.mozilla.org/show_bug.cgi?id=1539072

[2019-03-27 14:23] rv404674 commented on #1481
Hi @sylvestre . Yup there is, but i will not be applying for that project. To be frank i am not interested in testing at all and i found another project in mozilla for which i am greatly excited to to and it is being used by codecoverage - TUID. I hope you won't mind me applying for different project, btw i won't stop contributing to releng in my free time. ;).

[2019-03-27 16:18] La0 opened #1989 "HarborMaster WebHook support"
Pulselistener needs to listen on an HTTPS endpoint for incoming requests from HarborMaster.
Each request will have a diff phid and build target phid and must trigger a push to try.

[2019-03-27 16:21] La0 opened #1990 "Cleaner commit messages when pushing to try"
Each commit in a try push should have:
* the original commit message
* the phabricator revision url

Bonus: indent try_task_config.json

[2019-03-27 16:51] marco-c opened #1991 "Publish some issues as unignorable lint issues and others as comments"
Issues that would break mozilla-central CI can be published as Phabricator lint issues (since they *have to* be fixed in order to land the revision).
Issues coming from SA tools with false positives should be published as comments, so that developers can decide to ignore them.

[2019-03-27 16:54] marco-c commented on #1825
We're not really doing this so often anymore.

[2019-03-27 16:54] #1825 closed

[2019-03-27 16:58] marco-c opened #1992 "Remove Phabricator endpoint"
We are uploading coverage directly to Phabricator now, so we don't need this endpoint anymore (which was used by https://github.com/mozilla/code-coverage-addon). We can also remove Phabricator support from https://github.com/mozilla/code-coverage-addon.

[2019-03-27 16:59] marco-c commented on #1334
We are removing the endpoint in https://github.com/mozilla/release-services/issues/1992.

[2019-03-27 16:59] #1334 closed

[2019-03-27 17:01] marco-c commented on #1239
After moving to try, this is no longer needed, like #1795.

[2019-03-27 17:01] #1239 closed

[2019-03-27 17:03] marco-c commented on #1129
I've performed the change for our provisioners, allowing different kinds of instance types.

[2019-03-27 17:03] #1129 closed

[2019-03-27 17:05] marco-c commented on #1128
Done.

[2019-03-27 17:05] #1128 closed

[2019-03-27 17:06] marco-c commented on #1989
This will also fix the problem where we can miss some revisions because of race conditions when polling (when a revision is just created and is in the secure state and before turning into the visible state).

[2019-03-28 08:48] La0 commented on #1982
[Bugzilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1539745) to request a build plan for code review bot

[2019-03-28 08:52] La0 commented on #1989
This is blocking the [creation of a production build plan](https://bugzilla.mozilla.org/show_bug.cgi?id=1539745).

The endpoint must be a POST endpoint, supporting PHID query parameters:

* `build`
* `diff` the target Differential diff
* `target` as the Harbormaster build target
* `repository`

It can also support basic HTTP authentication

[2019-03-28 09:39] marco-c commented on #1982
We'll need one for code coverage too to use for fixing this issue

[2019-03-28 12:19] Standard8 commented on #1754
Why is this kind:enhancement rather than kind:bug? This seems a bad issue for people to be hit by.

[2019-03-28 12:22] jfkthame commented on #1754
This just happened (again) in https://phabricator.services.mozilla.com/D25101 ... it's pretty annoying, tbh.

[2019-03-28 12:56] La0 commented on #1754
I'm working on this issue through several means:

- The [last part](https://github.com/mozilla/release-services/pull/1988) of a serie of patches to improve stability & performance is under review
- We'll soon be able to use [build plans](https://bugzilla.mozilla.org/show_bug.cgi?id=1539745) in Phabricator to report when a code review task ran... or failed.
- Last but not least, code review analysi

[2019-03-28 13:03] La0 commented on #1754
@jfkthame Your [initial code review](https://static-analysis.moz.tools/#/rev/25101)  failed due to a mercurial clone taking too long in the bot.
This kind of issue will be fixed for our next release as it's adressed by the serie of patches i mentionnde.

[2019-03-28 13:07] gijsk commented on #1754
Dumb question: why can't we make sure the bot also runs on revisions that switch from hidden to published states, if the revision itself is still open at that point?

[2019-03-28 13:09] marco-c commented on #1754
The problem is that when we poll Phabricator we don't see the hidden revisions at all. This particular problem (which is rare compared to the failures due to clone timeouts) will be fixed with #1989.

[2019-03-28 13:10] gijsk commented on #1754
IME this doesn't help much for linting. At this point, I just expect linting to run against the patches I'm reviewing on phabricator, and if there are no comments I assume that's because the linter has run and there were no issues, and I don't look for issues as part of the review. I don't then spend 10 minutes trying to find trypushes for the patch. If submitted by new contributors, often there *

[2019-03-28 13:24] La0 commented on #1754
@gijsk I meant code review tasks will run using Try infrastructure; it will be transparent for users (staff or new contributors).
Right now, we have to maintain all the deps needed to run `./mach lint|static-analysis|...`, in the future we'll use the existing toolchains, thus avoiding issues

[2019-03-28 14:42] risingsmoke commented on #1980
I am facing a issue similar to one mentioned in this: [https://github.com/mozilla/release-services/issues/1027](url).
My stdout looks as follows: [https://paste.ofcode.org/HWRpwARs9BnHXJBWv6DdiA](url)
Should I make an account as mentioned in the above issue in Task Cluster?

[2019-03-28 14:53] La0 commented on #1980
You can create an account on Taskcluster, then add your credentials to the project using:

[code]

[2019-03-28 14:56] risingsmoke commented on #1980
Cool. I also found the page in the documentation page you shared: [https://docs.mozilla-releng.net/projects/staticanalysis-bot.html](https://docs.mozilla-releng.net/projects/staticanalysis-bot.html)
Guess, I should have looked more.
Thanks!

[2019-03-28 15:55] La0 opened #2005 "Check path is in revision before publishing on Phabricator"
In before/after, we don't check if the issue path+line is `in_patch` (as we are in `before_after` !).
But Phabricator does not allow any inline comment outside of the modified files on the diff (which makes sense).

So in before_after we still need to validate that the path is in the revision to be publishable

[2019-03-28 16:18] La0 commented on #2005
Detected by [this task](https://tools.taskcluster.net/groups/LfTMaeEJRKunCywm0mFZtw/tasks/cV_FrJyuSiuyLYOrD1GSxA/runs/0/logs/public%2Flogs%2Flive.log#L1740)

[2019-03-28 16:53] catlee opened #2007 "Post treestatus status to statuspage"
We'd like to keep our statuspage up to date with the state of various trees.

The tree CLOSED state should correspond to the failure state on statuspage. Everything else should be considered Operational.

We should monitor the following trees:
* mozilla-central
* autoland
* mozilla-inbound
* try
* mozilla-beta
* mozilla-release
* mozilla-esr*

https://firefoxoperations.statuspage.io

[2019-03-28 18:08] risingsmoke commented on #1980
So, I was able to signin and follow the same steps mentioned in [https://github.com/mozilla/release-services/issues/1027](https://github.com/mozilla/release-services/issues/1027). But I am facing the same issue: `Missing value NIX_CACHE_SECRET_KEYS in secrets`.
The stdout is as follows: [https://paste.ofcode.org/3ttEmtz4YTYMBhjN9rtZeX](https://paste.ofcode.org/3ttEmtz4YTYMBhjN9rtZeX).
Did I miss a

[2019-03-29 07:08] risingsmoke commented on #1980
I was able to successfully run `./please check staticanalysis/bot` after I adding `NIX_CACHE_SECRET_KEYS` with `[]` under common of the secrets configuration yaml, following #1027
After running, I got a `DONE`.
Please let me know if I am missing anything.

[2019-03-29 08:07] La0 commented on #1980
No it's all right. When you do your modifications, if a check fails it will be shown in this command.

You can also do:

[code]

To get more output

[2019-03-29 13:49] #2005 closed

[2019-03-29 14:30] #1990 closed

[2019-03-29 17:11] Mozilla-GitHub-Standards opened #2009 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 07:57] #2009 closed

[2019-03-31 15:03] shahidikram0701 commented on #1980
Hi,
I'm a newbie here and was looking forward to start contributing to open-source. If this issue isnt handled yet, Can I take it up?

[2019-03-31 15:38] shahidikram0701 commented on #910
Hi,
I am new to Open source. Can I work on this issue?

[2019-04-01 06:01] risingsmoke commented on #1980
@La0
I made a pull request for this issue. Can you check and let me know if it needs anymore changes?

[2019-04-01 07:23] La0 commented on #1980
Thank you @risingsmoke, i've made some comments in the PR.

Sorry @shahidikram0701, this issue is already being worked on. You can lookup other [good-first-bug issues](https://github.com/mozilla/release-services/labels/skill%3Agood-first-bug)

[2019-04-01 13:47] shahidikram0701 commented on #1980
@La0 Sure, Thanks I'll check out other issues!

[2019-04-01 17:52] klahnakoski opened #2014 "PERFHERDER record has bad form"
The PERFHERDER record has extra ` (timestamp='2019-04-01 04:03:04')` appended to the line

Example (search for `"vcs"`)

[code]
example file

https://taskcluster-artifacts.net/EzAU4HM5QQyZRseFSXKNzQ/0/public/logs/live_backing.log

might be related to

https://bugzilla.mozilla.org/show_bug.cgi?id=1540259

[2019-04-01 22:26] marco-c commented on #910
Sure, feel free to work on any issue that you see open and unassigned (an issue is assigned when there is a PR open to fix an issue).

[2019-04-03 13:11] #1989 closed

[2019-04-03 13:30] #1926 closed

[2019-04-03 17:19] risingsmoke commented on #1980
@La0 I made the necessary changes to the pull request, my while running `./please check staticanalysis/bot` the build fails with the following stderr: [https://paste.ofcode.org/VCuUWharWmssZuUQkPYRc9](https://paste.ofcode.org/VCuUWharWmssZuUQkPYRc9)
Can you take a look?

[2019-04-03 17:57] theshteves commented on #1001
### Hey @garbas, I'd like to get this checked in by Friday
Is there a difference between the docs version & the release version?  Both the `.VERSION` in `src/docs` & `src/releng-frontend` both reflect `1.0.0` which I'm assuming you would like to be synced with the release version?

[code]
tells me that all `VERSION` files except `src/tooltool/client/VERSION` & `VERSION` are at 1.0.0
so `src/docs/V